"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from uuid import UUID
from manyforge.models.create_repo_connector_input import CreateRepoConnectorInput
from manyforge.models.id_response import IDResponse
from manyforge.models.repo_connector_list import RepoConnectorList

class BusinessRepoConnectorsResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def create(
        self,
        *,

        create_repo_connector_input: CreateRepoConnectorInput,

        request_options: RequestOptions | None = None,
    ) -> IDResponse:
        request = Request(
            operation_id="createRepoConnector",
            method="POST",
            path="/api/v1/businesses/{id}/repo-connectors",
            authenticated=True,
            response=TypeAdapter(IDResponse),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=create_repo_connector_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def delete(
        self,
        *,

        rc_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="deleteRepoConnector",
            method="DELETE",
            path="/api/v1/businesses/{id}/repo-connectors/{rcID}",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "rcID": rc_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def list(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> RepoConnectorList:
        request = Request(
            operation_id="listRepoConnectors",
            method="GET",
            path="/api/v1/businesses/{id}/repo-connectors",
            authenticated=True,
            response=TypeAdapter(RepoConnectorList),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessRepoConnectorsResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def create(
        self,
        *,

        create_repo_connector_input: CreateRepoConnectorInput,

        request_options: RequestOptions | None = None,
    ) -> IDResponse:
        request = Request(
            operation_id="createRepoConnector",
            method="POST",
            path="/api/v1/businesses/{id}/repo-connectors",
            authenticated=True,
            response=TypeAdapter(IDResponse),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=create_repo_connector_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def delete(
        self,
        *,

        rc_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="deleteRepoConnector",
            method="DELETE",
            path="/api/v1/businesses/{id}/repo-connectors/{rcID}",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "rcID": rc_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def list(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> RepoConnectorList:
        request = Request(
            operation_id="listRepoConnectors",
            method="GET",
            path="/api/v1/businesses/{id}/repo-connectors",
            authenticated=True,
            response=TypeAdapter(RepoConnectorList),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

