"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from pydantic import Field
from typing import Optional
from typing_extensions import Annotated
from uuid import UUID
from manyforge.models.ingest_key import IngestKey
from manyforge.models.ingest_key_create import IngestKeyCreate
from manyforge.models.ingest_key_created import IngestKeyCreated
from manyforge.models.ingest_key_list import IngestKeyList

class BusinessFeedbackKeysResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def create(
        self,
        *,

        bid: UUID,

        ingest_key_create: IngestKeyCreate,

        request_options: RequestOptions | None = None,
    ) -> IngestKeyCreated:
        request = Request(
            operation_id="createFeedbackIngestKey",
            method="POST",
            path="/api/v1/businesses/{id}/feedback/boards/{bid}/keys",
            authenticated=True,
            response=TypeAdapter(IngestKeyCreated),
            path_parameters={
                "id": self._bindings["id"],
                "bid": bid,
            },
            query=(
            ),
            headers={
            },
            body=ingest_key_create,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def list(
        self,
        *,

        bid: UUID,

        limit: int | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> IngestKeyList:
        request = Request(
            operation_id="listFeedbackIngestKeys",
            method="GET",
            path="/api/v1/businesses/{id}/feedback/boards/{bid}/keys",
            authenticated=True,
            response=TypeAdapter(IngestKeyList),
            path_parameters={
                "id": self._bindings["id"],
                "bid": bid,
            },
            query=(
                QueryParameter("limit", limit, "form", True),
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def revoke(
        self,
        *,

        kid: UUID,

        request_options: RequestOptions | None = None,
    ) -> IngestKey:
        request = Request(
            operation_id="revokeFeedbackIngestKey",
            method="POST",
            path="/api/v1/businesses/{id}/feedback/keys/{kid}/revoke",
            authenticated=True,
            response=TypeAdapter(IngestKey),
            path_parameters={
                "id": self._bindings["id"],
                "kid": kid,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessFeedbackKeysResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def create(
        self,
        *,

        bid: UUID,

        ingest_key_create: IngestKeyCreate,

        request_options: RequestOptions | None = None,
    ) -> IngestKeyCreated:
        request = Request(
            operation_id="createFeedbackIngestKey",
            method="POST",
            path="/api/v1/businesses/{id}/feedback/boards/{bid}/keys",
            authenticated=True,
            response=TypeAdapter(IngestKeyCreated),
            path_parameters={
                "id": self._bindings["id"],
                "bid": bid,
            },
            query=(
            ),
            headers={
            },
            body=ingest_key_create,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def list(
        self,
        *,

        bid: UUID,

        limit: int | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> IngestKeyList:
        request = Request(
            operation_id="listFeedbackIngestKeys",
            method="GET",
            path="/api/v1/businesses/{id}/feedback/boards/{bid}/keys",
            authenticated=True,
            response=TypeAdapter(IngestKeyList),
            path_parameters={
                "id": self._bindings["id"],
                "bid": bid,
            },
            query=(
                QueryParameter("limit", limit, "form", True),
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def revoke(
        self,
        *,

        kid: UUID,

        request_options: RequestOptions | None = None,
    ) -> IngestKey:
        request = Request(
            operation_id="revokeFeedbackIngestKey",
            method="POST",
            path="/api/v1/businesses/{id}/feedback/keys/{kid}/revoke",
            authenticated=True,
            response=TypeAdapter(IngestKey),
            path_parameters={
                "id": self._bindings["id"],
                "kid": kid,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

