"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from uuid import UUID
from manyforge.models.approval_item import ApprovalItem
from manyforge.models.approval_list import ApprovalList

class BusinessApprovalsResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def approve(
        self,
        *,

        approval_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> ApprovalItem:
        request = Request(
            operation_id="approveApprovalItem",
            method="POST",
            path="/api/v1/businesses/{id}/approvals/{approvalID}/approve",
            authenticated=True,
            response=TypeAdapter(ApprovalItem),
            path_parameters={
                "id": self._bindings["id"],
                "approvalID": approval_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def deny(
        self,
        *,

        approval_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> ApprovalItem:
        request = Request(
            operation_id="denyApprovalItem",
            method="POST",
            path="/api/v1/businesses/{id}/approvals/{approvalID}/deny",
            authenticated=True,
            response=TypeAdapter(ApprovalItem),
            path_parameters={
                "id": self._bindings["id"],
                "approvalID": approval_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def list(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> ApprovalList:
        request = Request(
            operation_id="listApprovals",
            method="GET",
            path="/api/v1/businesses/{id}/approvals",
            authenticated=True,
            response=TypeAdapter(ApprovalList),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessApprovalsResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def approve(
        self,
        *,

        approval_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> ApprovalItem:
        request = Request(
            operation_id="approveApprovalItem",
            method="POST",
            path="/api/v1/businesses/{id}/approvals/{approvalID}/approve",
            authenticated=True,
            response=TypeAdapter(ApprovalItem),
            path_parameters={
                "id": self._bindings["id"],
                "approvalID": approval_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def deny(
        self,
        *,

        approval_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> ApprovalItem:
        request = Request(
            operation_id="denyApprovalItem",
            method="POST",
            path="/api/v1/businesses/{id}/approvals/{approvalID}/deny",
            authenticated=True,
            response=TypeAdapter(ApprovalItem),
            path_parameters={
                "id": self._bindings["id"],
                "approvalID": approval_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def list(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> ApprovalList:
        request = Request(
            operation_id="listApprovals",
            method="GET",
            path="/api/v1/businesses/{id}/approvals",
            authenticated=True,
            response=TypeAdapter(ApprovalList),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

