"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from uuid import UUID
from manyforge.models.invitation_create_request import InvitationCreateRequest
from manyforge.models.invitation_page import InvitationPage

class BusinessInvitationsResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def create(
        self,
        *,

        invitation_create_request: InvitationCreateRequest,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="InvitationsCreate",
            method="POST",
            path="/api/v1/businesses/{id}/invitations",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=invitation_create_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def delete(
        self,
        *,

        inv_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="InvitationsDelete",
            method="DELETE",
            path="/api/v1/businesses/{id}/invitations/{invID}",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "invID": inv_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def list(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> InvitationPage:
        request = Request(
            operation_id="InvitationsList",
            method="GET",
            path="/api/v1/businesses/{id}/invitations",
            authenticated=True,
            response=TypeAdapter(InvitationPage),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def resend(
        self,
        *,

        inv_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="InvitationsResend",
            method="POST",
            path="/api/v1/businesses/{id}/invitations/{invID}/resend",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "invID": inv_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessInvitationsResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def create(
        self,
        *,

        invitation_create_request: InvitationCreateRequest,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="InvitationsCreate",
            method="POST",
            path="/api/v1/businesses/{id}/invitations",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=invitation_create_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def delete(
        self,
        *,

        inv_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="InvitationsDelete",
            method="DELETE",
            path="/api/v1/businesses/{id}/invitations/{invID}",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "invID": inv_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def list(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> InvitationPage:
        request = Request(
            operation_id="InvitationsList",
            method="GET",
            path="/api/v1/businesses/{id}/invitations",
            authenticated=True,
            response=TypeAdapter(InvitationPage),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def resend(
        self,
        *,

        inv_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="InvitationsResend",
            method="POST",
            path="/api/v1/businesses/{id}/invitations/{invID}/resend",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "invID": inv_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

