"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from pydantic import StrictStr
from uuid import UUID
from manyforge.models.mcp_tool_policy import MCPToolPolicy
from manyforge.models.mcp_tool_policy_list import MCPToolPolicyList
from manyforge.models.set_mcp_tool_policy_request import SetMCPToolPolicyRequest

class BusinessMcpServersToolPoliciesResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def delete(
        self,
        *,

        server_id: UUID,

        tool_name: str,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="clearMCPToolPolicy",
            method="DELETE",
            path="/api/v1/businesses/{id}/mcp_servers/{serverID}/tool_policies/{toolName}",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "serverID": server_id,
                "toolName": tool_name,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def list(
        self,
        *,

        server_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> MCPToolPolicyList:
        request = Request(
            operation_id="listMCPToolPolicies",
            method="GET",
            path="/api/v1/businesses/{id}/mcp_servers/{serverID}/tool_policies",
            authenticated=True,
            response=TypeAdapter(MCPToolPolicyList),
            path_parameters={
                "id": self._bindings["id"],
                "serverID": server_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def replace(
        self,
        *,

        server_id: UUID,

        tool_name: str,

        set_mcp_tool_policy_request: SetMCPToolPolicyRequest,

        request_options: RequestOptions | None = None,
    ) -> MCPToolPolicy:
        request = Request(
            operation_id="setMCPToolPolicy",
            method="PUT",
            path="/api/v1/businesses/{id}/mcp_servers/{serverID}/tool_policies/{toolName}",
            authenticated=True,
            response=TypeAdapter(MCPToolPolicy),
            path_parameters={
                "id": self._bindings["id"],
                "serverID": server_id,
                "toolName": tool_name,
            },
            query=(
            ),
            headers={
            },
            body=set_mcp_tool_policy_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessMcpServersToolPoliciesResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def delete(
        self,
        *,

        server_id: UUID,

        tool_name: str,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="clearMCPToolPolicy",
            method="DELETE",
            path="/api/v1/businesses/{id}/mcp_servers/{serverID}/tool_policies/{toolName}",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "serverID": server_id,
                "toolName": tool_name,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def list(
        self,
        *,

        server_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> MCPToolPolicyList:
        request = Request(
            operation_id="listMCPToolPolicies",
            method="GET",
            path="/api/v1/businesses/{id}/mcp_servers/{serverID}/tool_policies",
            authenticated=True,
            response=TypeAdapter(MCPToolPolicyList),
            path_parameters={
                "id": self._bindings["id"],
                "serverID": server_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def replace(
        self,
        *,

        server_id: UUID,

        tool_name: str,

        set_mcp_tool_policy_request: SetMCPToolPolicyRequest,

        request_options: RequestOptions | None = None,
    ) -> MCPToolPolicy:
        request = Request(
            operation_id="setMCPToolPolicy",
            method="PUT",
            path="/api/v1/businesses/{id}/mcp_servers/{serverID}/tool_policies/{toolName}",
            authenticated=True,
            response=TypeAdapter(MCPToolPolicy),
            path_parameters={
                "id": self._bindings["id"],
                "serverID": server_id,
                "toolName": tool_name,
            },
            query=(
            ),
            headers={
            },
            body=set_mcp_tool_policy_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

