"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from uuid import UUID
from manyforge.models.code_review import CodeReview
from manyforge.models.code_review_accepted import CodeReviewAccepted
from manyforge.models.code_review_list import CodeReviewList
from manyforge.models.trigger_code_review_input import TriggerCodeReviewInput

class BusinessCodeReviewsResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def get(
        self,
        *,

        review_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> CodeReview:
        request = Request(
            operation_id="getCodeReview",
            method="GET",
            path="/api/v1/businesses/{id}/code-reviews/{reviewID}",
            authenticated=True,
            response=TypeAdapter(CodeReview),
            path_parameters={
                "id": self._bindings["id"],
                "reviewID": review_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def list(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> CodeReviewList:
        request = Request(
            operation_id="listCodeReviews",
            method="GET",
            path="/api/v1/businesses/{id}/code-reviews",
            authenticated=True,
            response=TypeAdapter(CodeReviewList),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def retry(
        self,
        *,

        review_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> CodeReview:
        request = Request(
            operation_id="retryCodeReview",
            method="POST",
            path="/api/v1/businesses/{id}/code-reviews/{reviewID}/retry",
            authenticated=True,
            response=TypeAdapter(CodeReview),
            path_parameters={
                "id": self._bindings["id"],
                "reviewID": review_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def create(
        self,
        *,

        trigger_code_review_input: TriggerCodeReviewInput,

        request_options: RequestOptions | None = None,
    ) -> CodeReviewAccepted:
        request = Request(
            operation_id="triggerCodeReview",
            method="POST",
            path="/api/v1/businesses/{id}/code-reviews",
            authenticated=True,
            response=TypeAdapter(CodeReviewAccepted),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=trigger_code_review_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessCodeReviewsResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def get(
        self,
        *,

        review_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> CodeReview:
        request = Request(
            operation_id="getCodeReview",
            method="GET",
            path="/api/v1/businesses/{id}/code-reviews/{reviewID}",
            authenticated=True,
            response=TypeAdapter(CodeReview),
            path_parameters={
                "id": self._bindings["id"],
                "reviewID": review_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def list(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> CodeReviewList:
        request = Request(
            operation_id="listCodeReviews",
            method="GET",
            path="/api/v1/businesses/{id}/code-reviews",
            authenticated=True,
            response=TypeAdapter(CodeReviewList),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def retry(
        self,
        *,

        review_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> CodeReview:
        request = Request(
            operation_id="retryCodeReview",
            method="POST",
            path="/api/v1/businesses/{id}/code-reviews/{reviewID}/retry",
            authenticated=True,
            response=TypeAdapter(CodeReview),
            path_parameters={
                "id": self._bindings["id"],
                "reviewID": review_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def create(
        self,
        *,

        trigger_code_review_input: TriggerCodeReviewInput,

        request_options: RequestOptions | None = None,
    ) -> CodeReviewAccepted:
        request = Request(
            operation_id="triggerCodeReview",
            method="POST",
            path="/api/v1/businesses/{id}/code-reviews",
            authenticated=True,
            response=TypeAdapter(CodeReviewAccepted),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=trigger_code_review_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

