"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from pydantic import Field, StrictBytes, StrictStr
from typing import Tuple, Union
from typing_extensions import Annotated
from uuid import UUID
from manyforge.models.mailing_brand import MailingBrand
from manyforge.models.mailing_brand_input import MailingBrandInput

class BusinessMailingBrandResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def delete(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="deleteMailingBrand",
            method="DELETE",
            path="/api/v1/businesses/{id}/mailing/brand",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def delete_logo(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> MailingBrand:
        request = Request(
            operation_id="deleteMailingBrandLogo",
            method="DELETE",
            path="/api/v1/businesses/{id}/mailing/brand/logo",
            authenticated=True,
            response=TypeAdapter(MailingBrand),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def get(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> MailingBrand:
        request = Request(
            operation_id="getMailingBrand",
            method="GET",
            path="/api/v1/businesses/{id}/mailing/brand",
            authenticated=True,
            response=TypeAdapter(MailingBrand),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def replace(
        self,
        *,

        mailing_brand_input: MailingBrandInput,

        request_options: RequestOptions | None = None,
    ) -> MailingBrand:
        request = Request(
            operation_id="putMailingBrand",
            method="PUT",
            path="/api/v1/businesses/{id}/mailing/brand",
            authenticated=True,
            response=TypeAdapter(MailingBrand),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=mailing_brand_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def upload_logo(
        self,
        *,

        file: Upload,

        request_options: RequestOptions | None = None,
    ) -> MailingBrand:
        request = Request(
            operation_id="putMailingBrandLogo",
            method="PUT",
            path="/api/v1/businesses/{id}/mailing/brand/logo",
            authenticated=True,
            response=TypeAdapter(MailingBrand),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
                "file": file,
            },

            content_type="multipart/form-data",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessMailingBrandResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def delete(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="deleteMailingBrand",
            method="DELETE",
            path="/api/v1/businesses/{id}/mailing/brand",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def delete_logo(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> MailingBrand:
        request = Request(
            operation_id="deleteMailingBrandLogo",
            method="DELETE",
            path="/api/v1/businesses/{id}/mailing/brand/logo",
            authenticated=True,
            response=TypeAdapter(MailingBrand),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def get(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> MailingBrand:
        request = Request(
            operation_id="getMailingBrand",
            method="GET",
            path="/api/v1/businesses/{id}/mailing/brand",
            authenticated=True,
            response=TypeAdapter(MailingBrand),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def replace(
        self,
        *,

        mailing_brand_input: MailingBrandInput,

        request_options: RequestOptions | None = None,
    ) -> MailingBrand:
        request = Request(
            operation_id="putMailingBrand",
            method="PUT",
            path="/api/v1/businesses/{id}/mailing/brand",
            authenticated=True,
            response=TypeAdapter(MailingBrand),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=mailing_brand_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def upload_logo(
        self,
        *,

        file: Upload,

        request_options: RequestOptions | None = None,
    ) -> MailingBrand:
        request = Request(
            operation_id="putMailingBrandLogo",
            method="PUT",
            path="/api/v1/businesses/{id}/mailing/brand/logo",
            authenticated=True,
            response=TypeAdapter(MailingBrand),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
                "file": file,
            },

            content_type="multipart/form-data",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

