"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from uuid import UUID
from manyforge.models.review_config import ReviewConfig
from manyforge.models.review_config_estimate import ReviewConfigEstimate
from manyforge.models.review_config_input import ReviewConfigInput

class BusinessReviewConfigResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def get(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> ReviewConfig:
        request = Request(
            operation_id="getReviewConfig",
            method="GET",
            path="/api/v1/businesses/{id}/review-config",
            authenticated=True,
            response=TypeAdapter(ReviewConfig),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def estimate(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> ReviewConfigEstimate:
        request = Request(
            operation_id="getReviewConfigEstimate",
            method="GET",
            path="/api/v1/businesses/{id}/review-config/estimate",
            authenticated=True,
            response=TypeAdapter(ReviewConfigEstimate),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def replace(
        self,
        *,

        review_config_input: ReviewConfigInput,

        request_options: RequestOptions | None = None,
    ) -> ReviewConfig:
        request = Request(
            operation_id="upsertReviewConfig",
            method="PUT",
            path="/api/v1/businesses/{id}/review-config",
            authenticated=True,
            response=TypeAdapter(ReviewConfig),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=review_config_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessReviewConfigResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def get(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> ReviewConfig:
        request = Request(
            operation_id="getReviewConfig",
            method="GET",
            path="/api/v1/businesses/{id}/review-config",
            authenticated=True,
            response=TypeAdapter(ReviewConfig),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def estimate(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> ReviewConfigEstimate:
        request = Request(
            operation_id="getReviewConfigEstimate",
            method="GET",
            path="/api/v1/businesses/{id}/review-config/estimate",
            authenticated=True,
            response=TypeAdapter(ReviewConfigEstimate),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def replace(
        self,
        *,

        review_config_input: ReviewConfigInput,

        request_options: RequestOptions | None = None,
    ) -> ReviewConfig:
        request = Request(
            operation_id="upsertReviewConfig",
            method="PUT",
            path="/api/v1/businesses/{id}/review-config",
            authenticated=True,
            response=TypeAdapter(ReviewConfig),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=review_config_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

