"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from pydantic import Field, StrictInt, StrictStr
from typing import Optional
from typing_extensions import Annotated
from uuid import UUID
from manyforge.models.agent_run_page import AgentRunPage
from manyforge.models.list_agent_runs_window_enum import ListAgentRunsWindowEnum
from manyforge.models.run import Run
from manyforge.models.trigger_run_request import TriggerRunRequest

from manyforge.models import RunSummary

class BusinessAgentRunsResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def get(
        self,
        *,

        agent_id: UUID,

        run_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> Run:
        request = Request(
            operation_id="getAgentRun",
            method="GET",
            path="/api/v1/businesses/{id}/agents/{agentID}/runs/{runID}",
            authenticated=True,
            response=TypeAdapter(Run),
            path_parameters={
                "id": self._bindings["id"],
                "agentID": agent_id,
                "runID": run_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def list(
        self,
        *,

        agent_id: UUID,

        status: str | UnsetType = UNSET,

        window: ListAgentRunsWindowEnum | UnsetType = UNSET,

        var_from: str | UnsetType = UNSET,

        to: str | UnsetType = UNSET,

        cursor: str | UnsetType = UNSET,

        limit: int | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> AgentRunPage:
        request = Request(
            operation_id="listAgentRuns",
            method="GET",
            path="/api/v1/businesses/{id}/agents/{agentID}/runs",
            authenticated=True,
            response=TypeAdapter(AgentRunPage),
            path_parameters={
                "id": self._bindings["id"],
                "agentID": agent_id,
            },
            query=(
                QueryParameter("status", status, "form", True),
                QueryParameter("window", window, "form", True),
                QueryParameter("from", var_from, "form", True),
                QueryParameter("to", to, "form", True),
                QueryParameter("cursor", cursor, "form", True),
                QueryParameter("limit", limit, "form", True),
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def iter(
        self,
        *,

        agent_id: UUID,

        status: str | UnsetType = UNSET,

        window: ListAgentRunsWindowEnum | UnsetType = UNSET,

        var_from: str | UnsetType = UNSET,

        to: str | UnsetType = UNSET,

        cursor: str | UnsetType = UNSET,

        limit: int | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> Iterator[RunSummary]:
        seen: set[str] = set()
        next_cursor = cursor
        if isinstance(next_cursor, str) and next_cursor:
            seen.add(next_cursor)
        while True:
            page = self.list(

                agent_id=agent_id,

                status=status,

                window=window,

                var_from=var_from,

                to=to,

                cursor=next_cursor,

                limit=limit,

                request_options=request_options,
            )
            for item in page.items:
                yield item
            next_cursor = page.next_cursor
            if isinstance(next_cursor, UnsetType) or not next_cursor:
                return
            if next_cursor in seen:
                raise PaginationError("Server returned a repeated cursor")
            seen.add(next_cursor)

    def create(
        self,
        *,

        agent_id: UUID,

        trigger_run_request: TriggerRunRequest | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> Run:
        request = Request(
            operation_id="triggerAgentRun",
            method="POST",
            path="/api/v1/businesses/{id}/agents/{agentID}/runs",
            authenticated=True,
            response=TypeAdapter(Run),
            path_parameters={
                "id": self._bindings["id"],
                "agentID": agent_id,
            },
            query=(
            ),
            headers={
            },
            body=trigger_run_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessAgentRunsResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def get(
        self,
        *,

        agent_id: UUID,

        run_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> Run:
        request = Request(
            operation_id="getAgentRun",
            method="GET",
            path="/api/v1/businesses/{id}/agents/{agentID}/runs/{runID}",
            authenticated=True,
            response=TypeAdapter(Run),
            path_parameters={
                "id": self._bindings["id"],
                "agentID": agent_id,
                "runID": run_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def list(
        self,
        *,

        agent_id: UUID,

        status: str | UnsetType = UNSET,

        window: ListAgentRunsWindowEnum | UnsetType = UNSET,

        var_from: str | UnsetType = UNSET,

        to: str | UnsetType = UNSET,

        cursor: str | UnsetType = UNSET,

        limit: int | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> AgentRunPage:
        request = Request(
            operation_id="listAgentRuns",
            method="GET",
            path="/api/v1/businesses/{id}/agents/{agentID}/runs",
            authenticated=True,
            response=TypeAdapter(AgentRunPage),
            path_parameters={
                "id": self._bindings["id"],
                "agentID": agent_id,
            },
            query=(
                QueryParameter("status", status, "form", True),
                QueryParameter("window", window, "form", True),
                QueryParameter("from", var_from, "form", True),
                QueryParameter("to", to, "form", True),
                QueryParameter("cursor", cursor, "form", True),
                QueryParameter("limit", limit, "form", True),
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def iter(
        self,
        *,

        agent_id: UUID,

        status: str | UnsetType = UNSET,

        window: ListAgentRunsWindowEnum | UnsetType = UNSET,

        var_from: str | UnsetType = UNSET,

        to: str | UnsetType = UNSET,

        cursor: str | UnsetType = UNSET,

        limit: int | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> AsyncIterator[RunSummary]:
        seen: set[str] = set()
        next_cursor = cursor
        if isinstance(next_cursor, str) and next_cursor:
            seen.add(next_cursor)
        while True:
            page = await self.list(

                agent_id=agent_id,

                status=status,

                window=window,

                var_from=var_from,

                to=to,

                cursor=next_cursor,

                limit=limit,

                request_options=request_options,
            )
            for item in page.items:
                yield item
            next_cursor = page.next_cursor
            if isinstance(next_cursor, UnsetType) or not next_cursor:
                return
            if next_cursor in seen:
                raise PaginationError("Server returned a repeated cursor")
            seen.add(next_cursor)

    async def create(
        self,
        *,

        agent_id: UUID,

        trigger_run_request: TriggerRunRequest | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> Run:
        request = Request(
            operation_id="triggerAgentRun",
            method="POST",
            path="/api/v1/businesses/{id}/agents/{agentID}/runs",
            authenticated=True,
            response=TypeAdapter(Run),
            path_parameters={
                "id": self._bindings["id"],
                "agentID": agent_id,
            },
            query=(
            ),
            headers={
            },
            body=trigger_run_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

