"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from uuid import UUID
from manyforge.models.review_dimension_input import ReviewDimensionInput
from manyforge.models.review_dimension_list import ReviewDimensionList
from manyforge.models.review_dimension_view import ReviewDimensionView

class BusinessReviewDimensionsResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def delete(
        self,
        *,

        dim_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="deleteReviewDimension",
            method="DELETE",
            path="/api/v1/businesses/{id}/review-dimensions/{dimID}",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "dimID": dim_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def list(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> ReviewDimensionList:
        request = Request(
            operation_id="listReviewDimensions",
            method="GET",
            path="/api/v1/businesses/{id}/review-dimensions",
            authenticated=True,
            response=TypeAdapter(ReviewDimensionList),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def create(
        self,
        *,

        review_dimension_input: ReviewDimensionInput,

        request_options: RequestOptions | None = None,
    ) -> ReviewDimensionView:
        request = Request(
            operation_id="upsertReviewDimension",
            method="POST",
            path="/api/v1/businesses/{id}/review-dimensions",
            authenticated=True,
            response=TypeAdapter(ReviewDimensionView),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=review_dimension_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessReviewDimensionsResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def delete(
        self,
        *,

        dim_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="deleteReviewDimension",
            method="DELETE",
            path="/api/v1/businesses/{id}/review-dimensions/{dimID}",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "dimID": dim_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def list(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> ReviewDimensionList:
        request = Request(
            operation_id="listReviewDimensions",
            method="GET",
            path="/api/v1/businesses/{id}/review-dimensions",
            authenticated=True,
            response=TypeAdapter(ReviewDimensionList),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def create(
        self,
        *,

        review_dimension_input: ReviewDimensionInput,

        request_options: RequestOptions | None = None,
    ) -> ReviewDimensionView:
        request = Request(
            operation_id="upsertReviewDimension",
            method="POST",
            path="/api/v1/businesses/{id}/review-dimensions",
            authenticated=True,
            response=TypeAdapter(ReviewDimensionView),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=review_dimension_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

