"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from uuid import UUID
from manyforge.models.ai_credential import AICredential
from manyforge.models.ai_credential_list import AICredentialList
from manyforge.models.create_ai_credential_request import CreateAICredentialRequest
from manyforge.models.update_ai_credential_request import UpdateAICredentialRequest

class BusinessAiCredentialsResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def create(
        self,
        *,

        create_ai_credential_request: CreateAICredentialRequest,

        request_options: RequestOptions | None = None,
    ) -> AICredential:
        request = Request(
            operation_id="createAICredential",
            method="POST",
            path="/api/v1/businesses/{id}/ai_credentials",
            authenticated=True,
            response=TypeAdapter(AICredential),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=create_ai_credential_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def delete(
        self,
        *,

        credential_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="deleteAICredential",
            method="DELETE",
            path="/api/v1/businesses/{id}/ai_credentials/{credentialID}",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "credentialID": credential_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def list(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> AICredentialList:
        request = Request(
            operation_id="listAICredentials",
            method="GET",
            path="/api/v1/businesses/{id}/ai_credentials",
            authenticated=True,
            response=TypeAdapter(AICredentialList),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def update(
        self,
        *,

        credential_id: UUID,

        update_ai_credential_request: UpdateAICredentialRequest,

        request_options: RequestOptions | None = None,
    ) -> AICredential:
        request = Request(
            operation_id="updateAICredential",
            method="PATCH",
            path="/api/v1/businesses/{id}/ai_credentials/{credentialID}",
            authenticated=True,
            response=TypeAdapter(AICredential),
            path_parameters={
                "id": self._bindings["id"],
                "credentialID": credential_id,
            },
            query=(
            ),
            headers={
            },
            body=update_ai_credential_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessAiCredentialsResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def create(
        self,
        *,

        create_ai_credential_request: CreateAICredentialRequest,

        request_options: RequestOptions | None = None,
    ) -> AICredential:
        request = Request(
            operation_id="createAICredential",
            method="POST",
            path="/api/v1/businesses/{id}/ai_credentials",
            authenticated=True,
            response=TypeAdapter(AICredential),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=create_ai_credential_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def delete(
        self,
        *,

        credential_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="deleteAICredential",
            method="DELETE",
            path="/api/v1/businesses/{id}/ai_credentials/{credentialID}",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "credentialID": credential_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def list(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> AICredentialList:
        request = Request(
            operation_id="listAICredentials",
            method="GET",
            path="/api/v1/businesses/{id}/ai_credentials",
            authenticated=True,
            response=TypeAdapter(AICredentialList),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def update(
        self,
        *,

        credential_id: UUID,

        update_ai_credential_request: UpdateAICredentialRequest,

        request_options: RequestOptions | None = None,
    ) -> AICredential:
        request = Request(
            operation_id="updateAICredential",
            method="PATCH",
            path="/api/v1/businesses/{id}/ai_credentials/{credentialID}",
            authenticated=True,
            response=TypeAdapter(AICredential),
            path_parameters={
                "id": self._bindings["id"],
                "credentialID": credential_id,
            },
            query=(
            ),
            headers={
            },
            body=update_ai_credential_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

