"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from uuid import UUID
from manyforge.models.codex_connect_request import CodexConnectRequest
from manyforge.models.codex_connect_status import CodexConnectStatus
from manyforge.models.codex_pkce_exchange_request import CodexPKCEExchangeRequest
from manyforge.models.codex_pkce_start import CodexPKCEStart

class BusinessAiCredentialsCodexPkceResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def exchange(
        self,
        *,

        codex_pkce_exchange_request: CodexPKCEExchangeRequest,

        request_options: RequestOptions | None = None,
    ) -> CodexConnectStatus:
        request = Request(
            operation_id="exchangeCodexPKCEConnect",
            method="POST",
            path="/api/v1/businesses/{id}/ai_credentials/codex/pkce/exchange",
            authenticated=True,
            response=TypeAdapter(CodexConnectStatus),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=codex_pkce_exchange_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def start(
        self,
        *,

        codex_connect_request: CodexConnectRequest,

        request_options: RequestOptions | None = None,
    ) -> CodexPKCEStart:
        request = Request(
            operation_id="startCodexPKCEConnect",
            method="POST",
            path="/api/v1/businesses/{id}/ai_credentials/codex/pkce/start",
            authenticated=True,
            response=TypeAdapter(CodexPKCEStart),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=codex_connect_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessAiCredentialsCodexPkceResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def exchange(
        self,
        *,

        codex_pkce_exchange_request: CodexPKCEExchangeRequest,

        request_options: RequestOptions | None = None,
    ) -> CodexConnectStatus:
        request = Request(
            operation_id="exchangeCodexPKCEConnect",
            method="POST",
            path="/api/v1/businesses/{id}/ai_credentials/codex/pkce/exchange",
            authenticated=True,
            response=TypeAdapter(CodexConnectStatus),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=codex_pkce_exchange_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def start(
        self,
        *,

        codex_connect_request: CodexConnectRequest,

        request_options: RequestOptions | None = None,
    ) -> CodexPKCEStart:
        request = Request(
            operation_id="startCodexPKCEConnect",
            method="POST",
            path="/api/v1/businesses/{id}/ai_credentials/codex/pkce/start",
            authenticated=True,
            response=TypeAdapter(CodexPKCEStart),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=codex_connect_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

