"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from pydantic import Field
from typing import Optional
from typing_extensions import Annotated
from uuid import UUID
from manyforge.models.telemetry_client import TelemetryClient
from manyforge.models.telemetry_client_create import TelemetryClientCreate
from manyforge.models.telemetry_client_created import TelemetryClientCreated
from manyforge.models.telemetry_client_list import TelemetryClientList
from manyforge.models.telemetry_client_move import TelemetryClientMove

class BusinessTelemetryClientsResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def create(
        self,
        *,

        telemetry_client_create: TelemetryClientCreate,

        request_options: RequestOptions | None = None,
    ) -> TelemetryClientCreated:
        request = Request(
            operation_id="createTelemetryClient",
            method="POST",
            path="/api/v1/businesses/{id}/telemetry/clients",
            authenticated=True,
            response=TypeAdapter(TelemetryClientCreated),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=telemetry_client_create,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def list(
        self,
        *,

        limit: int | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> TelemetryClientList:
        request = Request(
            operation_id="listTelemetryClients",
            method="GET",
            path="/api/v1/businesses/{id}/telemetry/clients",
            authenticated=True,
            response=TypeAdapter(TelemetryClientList),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
                QueryParameter("limit", limit, "form", True),
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def move(
        self,
        *,

        client_id: UUID,

        telemetry_client_move: TelemetryClientMove,

        request_options: RequestOptions | None = None,
    ) -> TelemetryClient:
        request = Request(
            operation_id="moveTelemetryAnalyticsClient",
            method="POST",
            path="/api/v1/businesses/{id}/telemetry/clients/{clientID}/move",
            authenticated=True,
            response=TypeAdapter(TelemetryClient),
            path_parameters={
                "id": self._bindings["id"],
                "clientID": client_id,
            },
            query=(
            ),
            headers={
            },
            body=telemetry_client_move,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def revoke(
        self,
        *,

        client_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> TelemetryClient:
        request = Request(
            operation_id="revokeTelemetryClient",
            method="POST",
            path="/api/v1/businesses/{id}/telemetry/clients/{clientID}/revoke",
            authenticated=True,
            response=TypeAdapter(TelemetryClient),
            path_parameters={
                "id": self._bindings["id"],
                "clientID": client_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessTelemetryClientsResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def create(
        self,
        *,

        telemetry_client_create: TelemetryClientCreate,

        request_options: RequestOptions | None = None,
    ) -> TelemetryClientCreated:
        request = Request(
            operation_id="createTelemetryClient",
            method="POST",
            path="/api/v1/businesses/{id}/telemetry/clients",
            authenticated=True,
            response=TypeAdapter(TelemetryClientCreated),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=telemetry_client_create,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def list(
        self,
        *,

        limit: int | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> TelemetryClientList:
        request = Request(
            operation_id="listTelemetryClients",
            method="GET",
            path="/api/v1/businesses/{id}/telemetry/clients",
            authenticated=True,
            response=TypeAdapter(TelemetryClientList),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
                QueryParameter("limit", limit, "form", True),
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def move(
        self,
        *,

        client_id: UUID,

        telemetry_client_move: TelemetryClientMove,

        request_options: RequestOptions | None = None,
    ) -> TelemetryClient:
        request = Request(
            operation_id="moveTelemetryAnalyticsClient",
            method="POST",
            path="/api/v1/businesses/{id}/telemetry/clients/{clientID}/move",
            authenticated=True,
            response=TypeAdapter(TelemetryClient),
            path_parameters={
                "id": self._bindings["id"],
                "clientID": client_id,
            },
            query=(
            ),
            headers={
            },
            body=telemetry_client_move,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def revoke(
        self,
        *,

        client_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> TelemetryClient:
        request = Request(
            operation_id="revokeTelemetryClient",
            method="POST",
            path="/api/v1/businesses/{id}/telemetry/clients/{clientID}/revoke",
            authenticated=True,
            response=TypeAdapter(TelemetryClient),
            path_parameters={
                "id": self._bindings["id"],
                "clientID": client_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

