"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from uuid import UUID
from manyforge.models.mcp_tool_discovery import MCPToolDiscovery

class BusinessMcpServersToolsResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def list(
        self,
        *,

        server_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> MCPToolDiscovery:
        request = Request(
            operation_id="discoverMCPServerTools",
            method="GET",
            path="/api/v1/businesses/{id}/mcp_servers/{serverID}/tools",
            authenticated=True,
            response=TypeAdapter(MCPToolDiscovery),
            path_parameters={
                "id": self._bindings["id"],
                "serverID": server_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessMcpServersToolsResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def list(
        self,
        *,

        server_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> MCPToolDiscovery:
        request = Request(
            operation_id="discoverMCPServerTools",
            method="GET",
            path="/api/v1/businesses/{id}/mcp_servers/{serverID}/tools",
            authenticated=True,
            response=TypeAdapter(MCPToolDiscovery),
            path_parameters={
                "id": self._bindings["id"],
                "serverID": server_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

