"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from uuid import UUID
from manyforge.models.telemetry_allowed_origins_replace import TelemetryAllowedOriginsReplace
from manyforge.models.telemetry_client import TelemetryClient

class BusinessTelemetryClientsAllowedOriginsResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def replace(
        self,
        *,

        client_id: UUID,

        telemetry_allowed_origins_replace: TelemetryAllowedOriginsReplace,

        request_options: RequestOptions | None = None,
    ) -> TelemetryClient:
        request = Request(
            operation_id="setTelemetryClientAllowedOrigins",
            method="PUT",
            path="/api/v1/businesses/{id}/telemetry/clients/{clientID}/allowed-origins",
            authenticated=True,
            response=TypeAdapter(TelemetryClient),
            path_parameters={
                "id": self._bindings["id"],
                "clientID": client_id,
            },
            query=(
            ),
            headers={
            },
            body=telemetry_allowed_origins_replace,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessTelemetryClientsAllowedOriginsResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def replace(
        self,
        *,

        client_id: UUID,

        telemetry_allowed_origins_replace: TelemetryAllowedOriginsReplace,

        request_options: RequestOptions | None = None,
    ) -> TelemetryClient:
        request = Request(
            operation_id="setTelemetryClientAllowedOrigins",
            method="PUT",
            path="/api/v1/businesses/{id}/telemetry/clients/{clientID}/allowed-origins",
            authenticated=True,
            response=TypeAdapter(TelemetryClient),
            path_parameters={
                "id": self._bindings["id"],
                "clientID": client_id,
            },
            query=(
            ),
            headers={
            },
            body=telemetry_allowed_origins_replace,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

