"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from pydantic import Field, StrictStr
from typing import Optional
from typing_extensions import Annotated
from uuid import UUID
from manyforge.models.create_email_domain import CreateEmailDomain
from manyforge.models.email_domain import EmailDomain
from manyforge.models.email_domain_page import EmailDomainPage

from manyforge.models import EmailDomain

class BusinessInboxEmailDomainsResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def create(
        self,
        *,

        create_email_domain: CreateEmailDomain,

        request_options: RequestOptions | None = None,
    ) -> EmailDomain:
        request = Request(
            operation_id="InboxEmailDomainsCreate",
            method="POST",
            path="/api/v1/businesses/{id}/email-domains",
            authenticated=True,
            response=TypeAdapter(EmailDomain),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=create_email_domain,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def list(
        self,
        *,

        cursor: str | UnsetType = UNSET,

        limit: int | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> EmailDomainPage:
        request = Request(
            operation_id="InboxEmailDomainsList",
            method="GET",
            path="/api/v1/businesses/{id}/email-domains",
            authenticated=True,
            response=TypeAdapter(EmailDomainPage),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
                QueryParameter("cursor", cursor, "form", True),
                QueryParameter("limit", limit, "form", True),
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def iter(
        self,
        *,

        cursor: str | UnsetType = UNSET,

        limit: int | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> Iterator[EmailDomain]:
        seen: set[str] = set()
        next_cursor = cursor
        if isinstance(next_cursor, str) and next_cursor:
            seen.add(next_cursor)
        while True:
            page = self.list(

                cursor=next_cursor,

                limit=limit,

                request_options=request_options,
            )
            for item in page.items:
                yield item
            next_cursor = page.next_cursor
            if isinstance(next_cursor, UnsetType) or not next_cursor:
                return
            if next_cursor in seen:
                raise PaginationError("Server returned a repeated cursor")
            seen.add(next_cursor)

    def verify(
        self,
        *,

        did: UUID,

        request_options: RequestOptions | None = None,
    ) -> EmailDomain:
        request = Request(
            operation_id="InboxEmailDomainsVerify",
            method="POST",
            path="/api/v1/businesses/{id}/email-domains/{did}/verify",
            authenticated=True,
            response=TypeAdapter(EmailDomain),
            path_parameters={
                "id": self._bindings["id"],
                "did": did,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessInboxEmailDomainsResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def create(
        self,
        *,

        create_email_domain: CreateEmailDomain,

        request_options: RequestOptions | None = None,
    ) -> EmailDomain:
        request = Request(
            operation_id="InboxEmailDomainsCreate",
            method="POST",
            path="/api/v1/businesses/{id}/email-domains",
            authenticated=True,
            response=TypeAdapter(EmailDomain),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=create_email_domain,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def list(
        self,
        *,

        cursor: str | UnsetType = UNSET,

        limit: int | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> EmailDomainPage:
        request = Request(
            operation_id="InboxEmailDomainsList",
            method="GET",
            path="/api/v1/businesses/{id}/email-domains",
            authenticated=True,
            response=TypeAdapter(EmailDomainPage),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
                QueryParameter("cursor", cursor, "form", True),
                QueryParameter("limit", limit, "form", True),
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def iter(
        self,
        *,

        cursor: str | UnsetType = UNSET,

        limit: int | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> AsyncIterator[EmailDomain]:
        seen: set[str] = set()
        next_cursor = cursor
        if isinstance(next_cursor, str) and next_cursor:
            seen.add(next_cursor)
        while True:
            page = await self.list(

                cursor=next_cursor,

                limit=limit,

                request_options=request_options,
            )
            for item in page.items:
                yield item
            next_cursor = page.next_cursor
            if isinstance(next_cursor, UnsetType) or not next_cursor:
                return
            if next_cursor in seen:
                raise PaginationError("Server returned a repeated cursor")
            seen.add(next_cursor)

    async def verify(
        self,
        *,

        did: UUID,

        request_options: RequestOptions | None = None,
    ) -> EmailDomain:
        request = Request(
            operation_id="InboxEmailDomainsVerify",
            method="POST",
            path="/api/v1/businesses/{id}/email-domains/{did}/verify",
            authenticated=True,
            response=TypeAdapter(EmailDomain),
            path_parameters={
                "id": self._bindings["id"],
                "did": did,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

