"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from uuid import UUID
from manyforge.models.agent import Agent
from manyforge.models.agent_list import AgentList
from manyforge.models.create_agent_request import CreateAgentRequest
from manyforge.models.update_agent_request import UpdateAgentRequest

class BusinessAgentsResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def create(
        self,
        *,

        create_agent_request: CreateAgentRequest,

        request_options: RequestOptions | None = None,
    ) -> Agent:
        request = Request(
            operation_id="createAgent",
            method="POST",
            path="/api/v1/businesses/{id}/agents",
            authenticated=True,
            response=TypeAdapter(Agent),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=create_agent_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def delete(
        self,
        *,

        agent_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="deleteAgent",
            method="DELETE",
            path="/api/v1/businesses/{id}/agents/{agentID}",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "agentID": agent_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def get(
        self,
        *,

        agent_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> Agent:
        request = Request(
            operation_id="getAgent",
            method="GET",
            path="/api/v1/businesses/{id}/agents/{agentID}",
            authenticated=True,
            response=TypeAdapter(Agent),
            path_parameters={
                "id": self._bindings["id"],
                "agentID": agent_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def list(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> AgentList:
        request = Request(
            operation_id="listAgents",
            method="GET",
            path="/api/v1/businesses/{id}/agents",
            authenticated=True,
            response=TypeAdapter(AgentList),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def update(
        self,
        *,

        agent_id: UUID,

        update_agent_request: UpdateAgentRequest,

        request_options: RequestOptions | None = None,
    ) -> Agent:
        request = Request(
            operation_id="updateAgent",
            method="PATCH",
            path="/api/v1/businesses/{id}/agents/{agentID}",
            authenticated=True,
            response=TypeAdapter(Agent),
            path_parameters={
                "id": self._bindings["id"],
                "agentID": agent_id,
            },
            query=(
            ),
            headers={
            },
            body=update_agent_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessAgentsResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def create(
        self,
        *,

        create_agent_request: CreateAgentRequest,

        request_options: RequestOptions | None = None,
    ) -> Agent:
        request = Request(
            operation_id="createAgent",
            method="POST",
            path="/api/v1/businesses/{id}/agents",
            authenticated=True,
            response=TypeAdapter(Agent),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=create_agent_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def delete(
        self,
        *,

        agent_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="deleteAgent",
            method="DELETE",
            path="/api/v1/businesses/{id}/agents/{agentID}",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "agentID": agent_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def get(
        self,
        *,

        agent_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> Agent:
        request = Request(
            operation_id="getAgent",
            method="GET",
            path="/api/v1/businesses/{id}/agents/{agentID}",
            authenticated=True,
            response=TypeAdapter(Agent),
            path_parameters={
                "id": self._bindings["id"],
                "agentID": agent_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def list(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> AgentList:
        request = Request(
            operation_id="listAgents",
            method="GET",
            path="/api/v1/businesses/{id}/agents",
            authenticated=True,
            response=TypeAdapter(AgentList),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def update(
        self,
        *,

        agent_id: UUID,

        update_agent_request: UpdateAgentRequest,

        request_options: RequestOptions | None = None,
    ) -> Agent:
        request = Request(
            operation_id="updateAgent",
            method="PATCH",
            path="/api/v1/businesses/{id}/agents/{agentID}",
            authenticated=True,
            response=TypeAdapter(Agent),
            path_parameters={
                "id": self._bindings["id"],
                "agentID": agent_id,
            },
            query=(
            ),
            headers={
            },
            body=update_agent_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

