"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from pydantic import StrictStr
from uuid import UUID
from manyforge.models.repo_dimension_override import RepoDimensionOverride
from manyforge.models.repo_dimension_override_input import RepoDimensionOverrideInput
from manyforge.models.repo_dimension_override_list import RepoDimensionOverrideList

class BusinessRepoConnectorsDimensionOverridesResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def delete(
        self,
        *,

        rc_id: UUID,

        key: str,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="deleteRepoDimensionOverride",
            method="DELETE",
            path="/api/v1/businesses/{id}/repo-connectors/{rcID}/dimension-overrides/{key}",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "rcID": rc_id,
                "key": key,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def list(
        self,
        *,

        rc_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> RepoDimensionOverrideList:
        request = Request(
            operation_id="listRepoDimensionOverrides",
            method="GET",
            path="/api/v1/businesses/{id}/repo-connectors/{rcID}/dimension-overrides",
            authenticated=True,
            response=TypeAdapter(RepoDimensionOverrideList),
            path_parameters={
                "id": self._bindings["id"],
                "rcID": rc_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def replace(
        self,
        *,

        rc_id: UUID,

        repo_dimension_override_input: RepoDimensionOverrideInput,

        request_options: RequestOptions | None = None,
    ) -> RepoDimensionOverride:
        request = Request(
            operation_id="upsertRepoDimensionOverride",
            method="PUT",
            path="/api/v1/businesses/{id}/repo-connectors/{rcID}/dimension-overrides",
            authenticated=True,
            response=TypeAdapter(RepoDimensionOverride),
            path_parameters={
                "id": self._bindings["id"],
                "rcID": rc_id,
            },
            query=(
            ),
            headers={
            },
            body=repo_dimension_override_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessRepoConnectorsDimensionOverridesResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def delete(
        self,
        *,

        rc_id: UUID,

        key: str,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="deleteRepoDimensionOverride",
            method="DELETE",
            path="/api/v1/businesses/{id}/repo-connectors/{rcID}/dimension-overrides/{key}",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "rcID": rc_id,
                "key": key,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def list(
        self,
        *,

        rc_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> RepoDimensionOverrideList:
        request = Request(
            operation_id="listRepoDimensionOverrides",
            method="GET",
            path="/api/v1/businesses/{id}/repo-connectors/{rcID}/dimension-overrides",
            authenticated=True,
            response=TypeAdapter(RepoDimensionOverrideList),
            path_parameters={
                "id": self._bindings["id"],
                "rcID": rc_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def replace(
        self,
        *,

        rc_id: UUID,

        repo_dimension_override_input: RepoDimensionOverrideInput,

        request_options: RequestOptions | None = None,
    ) -> RepoDimensionOverride:
        request = Request(
            operation_id="upsertRepoDimensionOverride",
            method="PUT",
            path="/api/v1/businesses/{id}/repo-connectors/{rcID}/dimension-overrides",
            authenticated=True,
            response=TypeAdapter(RepoDimensionOverride),
            path_parameters={
                "id": self._bindings["id"],
                "rcID": rc_id,
            },
            query=(
            ),
            headers={
            },
            body=repo_dimension_override_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

