"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from pydantic import Field, StrictInt
from typing import Optional
from typing_extensions import Annotated
from uuid import UUID
from manyforge.models.key_page import KeyPage
from manyforge.models.list_key_created import ListKeyCreated
from manyforge.models.list_key_input import ListKeyInput

class BusinessMailingKeysResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def create(
        self,
        *,

        lid: UUID,

        list_key_input: ListKeyInput,

        request_options: RequestOptions | None = None,
    ) -> ListKeyCreated:
        request = Request(
            operation_id="createMailingListKey",
            method="POST",
            path="/api/v1/businesses/{id}/mailing/lists/{lid}/keys",
            authenticated=True,
            response=TypeAdapter(ListKeyCreated),
            path_parameters={
                "id": self._bindings["id"],
                "lid": lid,
            },
            query=(
            ),
            headers={
            },
            body=list_key_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def list(
        self,
        *,

        lid: UUID,

        limit: int | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> KeyPage:
        request = Request(
            operation_id="listMailingListKeys",
            method="GET",
            path="/api/v1/businesses/{id}/mailing/lists/{lid}/keys",
            authenticated=True,
            response=TypeAdapter(KeyPage),
            path_parameters={
                "id": self._bindings["id"],
                "lid": lid,
            },
            query=(
                QueryParameter("limit", limit, "form", True),
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def delete(
        self,
        *,

        lid: UUID,

        kid: UUID,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="revokeMailingListKey",
            method="DELETE",
            path="/api/v1/businesses/{id}/mailing/lists/{lid}/keys/{kid}",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "lid": lid,
                "kid": kid,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessMailingKeysResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def create(
        self,
        *,

        lid: UUID,

        list_key_input: ListKeyInput,

        request_options: RequestOptions | None = None,
    ) -> ListKeyCreated:
        request = Request(
            operation_id="createMailingListKey",
            method="POST",
            path="/api/v1/businesses/{id}/mailing/lists/{lid}/keys",
            authenticated=True,
            response=TypeAdapter(ListKeyCreated),
            path_parameters={
                "id": self._bindings["id"],
                "lid": lid,
            },
            query=(
            ),
            headers={
            },
            body=list_key_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def list(
        self,
        *,

        lid: UUID,

        limit: int | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> KeyPage:
        request = Request(
            operation_id="listMailingListKeys",
            method="GET",
            path="/api/v1/businesses/{id}/mailing/lists/{lid}/keys",
            authenticated=True,
            response=TypeAdapter(KeyPage),
            path_parameters={
                "id": self._bindings["id"],
                "lid": lid,
            },
            query=(
                QueryParameter("limit", limit, "form", True),
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def delete(
        self,
        *,

        lid: UUID,

        kid: UUID,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="revokeMailingListKey",
            method="DELETE",
            path="/api/v1/businesses/{id}/mailing/lists/{lid}/keys/{kid}",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
                "lid": lid,
                "kid": kid,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

