"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from uuid import UUID
from manyforge.models.sending_profile import SendingProfile
from manyforge.models.sending_profile_input import SendingProfileInput
from manyforge.models.test_send_input import TestSendInput

class BusinessMailingSendingProfileResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def delete(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="deleteMailingSendingProfile",
            method="DELETE",
            path="/api/v1/businesses/{id}/mailing/sending-profile",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def get(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> SendingProfile:
        request = Request(
            operation_id="getMailingSendingProfile",
            method="GET",
            path="/api/v1/businesses/{id}/mailing/sending-profile",
            authenticated=True,
            response=TypeAdapter(SendingProfile),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def replace(
        self,
        *,

        sending_profile_input: SendingProfileInput,

        request_options: RequestOptions | None = None,
    ) -> SendingProfile:
        request = Request(
            operation_id="putMailingSendingProfile",
            method="PUT",
            path="/api/v1/businesses/{id}/mailing/sending-profile",
            authenticated=True,
            response=TypeAdapter(SendingProfile),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=sending_profile_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def test_send(
        self,
        *,

        test_send_input: TestSendInput,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="testMailingSendingProfile",
            method="POST",
            path="/api/v1/businesses/{id}/mailing/sending-profile/test-send",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=test_send_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def verify(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> SendingProfile:
        request = Request(
            operation_id="verifyMailingSendingProfile",
            method="POST",
            path="/api/v1/businesses/{id}/mailing/sending-profile/verify",
            authenticated=True,
            response=TypeAdapter(SendingProfile),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncBusinessMailingSendingProfileResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def delete(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="deleteMailingSendingProfile",
            method="DELETE",
            path="/api/v1/businesses/{id}/mailing/sending-profile",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def get(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> SendingProfile:
        request = Request(
            operation_id="getMailingSendingProfile",
            method="GET",
            path="/api/v1/businesses/{id}/mailing/sending-profile",
            authenticated=True,
            response=TypeAdapter(SendingProfile),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def replace(
        self,
        *,

        sending_profile_input: SendingProfileInput,

        request_options: RequestOptions | None = None,
    ) -> SendingProfile:
        request = Request(
            operation_id="putMailingSendingProfile",
            method="PUT",
            path="/api/v1/businesses/{id}/mailing/sending-profile",
            authenticated=True,
            response=TypeAdapter(SendingProfile),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=sending_profile_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def test_send(
        self,
        *,

        test_send_input: TestSendInput,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="testMailingSendingProfile",
            method="POST",
            path="/api/v1/businesses/{id}/mailing/sending-profile/test-send",
            authenticated=True,
            response=TypeAdapter(type(None)),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            body=test_send_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def verify(
        self,
        *,

        request_options: RequestOptions | None = None,
    ) -> SendingProfile:
        request = Request(
            operation_id="verifyMailingSendingProfile",
            method="POST",
            path="/api/v1/businesses/{id}/mailing/sending-profile/verify",
            authenticated=True,
            response=TypeAdapter(SendingProfile),
            path_parameters={
                "id": self._bindings["id"],
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

