"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from pydantic import Field, StrictStr
from typing import Optional
from typing_extensions import Annotated
from uuid import UUID
from manyforge.models.public_post_list import PublicPostList
from manyforge.models.public_submit import PublicSubmit
from manyforge.models.public_submit_result import PublicSubmitResult
from manyforge.models.public_vote import PublicVote
from manyforge.models.public_vote_result import PublicVoteResult

class FeedbackPostsResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def list(
        self,
        *,

        limit: int | UnsetType = UNSET,

        voter_identity: str | UnsetType = UNSET,

        author: str | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> PublicPostList:
        request = Request(
            operation_id="publicListFeedbackPosts",
            method="GET",
            path="/api/v1/feedback/public/{key}/posts",
            authenticated=False,
            response=TypeAdapter(PublicPostList),
            path_parameters={
                "key": self._bindings["key"],
            },
            query=(
                QueryParameter("limit", limit, "form", True),
                QueryParameter("voter_identity", voter_identity, "form", True),
                QueryParameter("author", author, "form", True),
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def create(
        self,
        *,

        public_submit: PublicSubmit,

        request_options: RequestOptions | None = None,
    ) -> PublicSubmitResult:
        request = Request(
            operation_id="publicSubmitFeedbackPost",
            method="POST",
            path="/api/v1/feedback/public/{key}/posts",
            authenticated=False,
            response=TypeAdapter(PublicSubmitResult),
            path_parameters={
                "key": self._bindings["key"],
            },
            query=(
            ),
            headers={
            },
            body=public_submit,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def vote(
        self,
        *,

        post_id: UUID,

        public_vote: PublicVote,

        request_options: RequestOptions | None = None,
    ) -> PublicVoteResult:
        request = Request(
            operation_id="publicVoteFeedbackPost",
            method="POST",
            path="/api/v1/feedback/public/{key}/posts/{postID}/votes",
            authenticated=False,
            response=TypeAdapter(PublicVoteResult),
            path_parameters={
                "key": self._bindings["key"],
                "postID": post_id,
            },
            query=(
            ),
            headers={
            },
            body=public_vote,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncFeedbackPostsResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def list(
        self,
        *,

        limit: int | UnsetType = UNSET,

        voter_identity: str | UnsetType = UNSET,

        author: str | UnsetType = UNSET,

        request_options: RequestOptions | None = None,
    ) -> PublicPostList:
        request = Request(
            operation_id="publicListFeedbackPosts",
            method="GET",
            path="/api/v1/feedback/public/{key}/posts",
            authenticated=False,
            response=TypeAdapter(PublicPostList),
            path_parameters={
                "key": self._bindings["key"],
            },
            query=(
                QueryParameter("limit", limit, "form", True),
                QueryParameter("voter_identity", voter_identity, "form", True),
                QueryParameter("author", author, "form", True),
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def create(
        self,
        *,

        public_submit: PublicSubmit,

        request_options: RequestOptions | None = None,
    ) -> PublicSubmitResult:
        request = Request(
            operation_id="publicSubmitFeedbackPost",
            method="POST",
            path="/api/v1/feedback/public/{key}/posts",
            authenticated=False,
            response=TypeAdapter(PublicSubmitResult),
            path_parameters={
                "key": self._bindings["key"],
            },
            query=(
            ),
            headers={
            },
            body=public_submit,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def vote(
        self,
        *,

        post_id: UUID,

        public_vote: PublicVote,

        request_options: RequestOptions | None = None,
    ) -> PublicVoteResult:
        request = Request(
            operation_id="publicVoteFeedbackPost",
            method="POST",
            path="/api/v1/feedback/public/{key}/posts/{postID}/votes",
            authenticated=False,
            response=TypeAdapter(PublicVoteResult),
            path_parameters={
                "key": self._bindings["key"],
                "postID": post_id,
            },
            query=(
            ),
            headers={
            },
            body=public_vote,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

