"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from pydantic import StrictStr
from manyforge.models.public_subscriber import PublicSubscriber
from manyforge.models.s2_s_subscription_input import S2SSubscriptionInput

class MailingServerMailingSubscribersResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def create(
        self,
        *,

        s2_s_subscription_input: S2SSubscriptionInput,

        request_options: RequestOptions | None = None,
    ) -> PublicSubscriber:
        request = Request(
            operation_id="subscribeMailingS2S",
            method="POST",
            path="/api/v1/mailing/s2s/{key}/subscribers",
            authenticated=False,
            response=TypeAdapter(PublicSubscriber),
            path_parameters={
                "key": self._bindings["key"],
            },
            query=(
            ),
            headers={
            },
            body=s2_s_subscription_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def delete(
        self,
        *,

        email: str,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="unsubscribeMailingS2S",
            method="DELETE",
            path="/api/v1/mailing/s2s/{key}/subscribers/{email}",
            authenticated=False,
            response=TypeAdapter(type(None)),
            path_parameters={
                "key": self._bindings["key"],
                "email": email,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncMailingServerMailingSubscribersResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def create(
        self,
        *,

        s2_s_subscription_input: S2SSubscriptionInput,

        request_options: RequestOptions | None = None,
    ) -> PublicSubscriber:
        request = Request(
            operation_id="subscribeMailingS2S",
            method="POST",
            path="/api/v1/mailing/s2s/{key}/subscribers",
            authenticated=False,
            response=TypeAdapter(PublicSubscriber),
            path_parameters={
                "key": self._bindings["key"],
            },
            query=(
            ),
            headers={
            },
            body=s2_s_subscription_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def delete(
        self,
        *,

        email: str,

        request_options: RequestOptions | None = None,
    ) -> None:
        request = Request(
            operation_id="unsubscribeMailingS2S",
            method="DELETE",
            path="/api/v1/mailing/s2s/{key}/subscribers/{email}",
            authenticated=False,
            response=TypeAdapter(type(None)),
            path_parameters={
                "key": self._bindings["key"],
                "email": email,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

