"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from pydantic import StrictStr
from manyforge.models.public_subscription_accepted import PublicSubscriptionAccepted
from manyforge.models.public_subscription_input import PublicSubscriptionInput

class MailingMailingResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def subscribe(
        self,
        *,

        public_subscription_input: PublicSubscriptionInput,

        request_options: RequestOptions | None = None,
    ) -> PublicSubscriptionAccepted:
        request = Request(
            operation_id="subscribeMailingPublic",
            method="POST",
            path="/api/v1/mailing/public/{key}/subscribe",
            authenticated=False,
            response=TypeAdapter(PublicSubscriptionAccepted),
            path_parameters={
                "key": self._bindings["key"],
            },
            query=(
            ),
            headers={
            },
            body=public_subscription_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncMailingMailingResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def subscribe(
        self,
        *,

        public_subscription_input: PublicSubscriptionInput,

        request_options: RequestOptions | None = None,
    ) -> PublicSubscriptionAccepted:
        request = Request(
            operation_id="subscribeMailingPublic",
            method="POST",
            path="/api/v1/mailing/public/{key}/subscribe",
            authenticated=False,
            response=TypeAdapter(PublicSubscriptionAccepted),
            path_parameters={
                "key": self._bindings["key"],
            },
            query=(
            ),
            headers={
            },
            body=public_subscription_input,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

