"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from pydantic import Field
from typing_extensions import Annotated
from uuid import UUID
from manyforge.models.install_url_response import InstallURLResponse

class RootGithubAppInstallUrlResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def get(
        self,
        *,

        id: UUID,

        agent_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> InstallURLResponse:
        request = Request(
            operation_id="getGithubInstallURL",
            method="GET",
            path="/api/v1/businesses/{id}/github/app/install-url",
            authenticated=True,
            response=TypeAdapter(InstallURLResponse),
            path_parameters={
                "id": id,
            },
            query=(
                QueryParameter("agent_id", agent_id, "form", True),
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncRootGithubAppInstallUrlResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def get(
        self,
        *,

        id: UUID,

        agent_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> InstallURLResponse:
        request = Request(
            operation_id="getGithubInstallURL",
            method="GET",
            path="/api/v1/businesses/{id}/github/app/install-url",
            authenticated=True,
            response=TypeAdapter(InstallURLResponse),
            path_parameters={
                "id": id,
            },
            query=(
                QueryParameter("agent_id", agent_id, "form", True),
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

