"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from pydantic import Field
from typing_extensions import Annotated
from uuid import UUID
from manyforge.models.confirm_tenant_merge import ConfirmTenantMerge
from manyforge.models.create_tenant_merge import CreateTenantMerge
from manyforge.models.tenant_merge_operation import TenantMergeOperation

class RootTenantMergesResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def confirm(
        self,
        *,

        operation_id: UUID,

        confirm_tenant_merge: ConfirmTenantMerge,

        request_options: RequestOptions | None = None,
    ) -> TenantMergeOperation:
        request = Request(
            operation_id="TenantMergesConfirm",
            method="POST",
            path="/api/v1/tenant-merges/{operationId}/confirm",
            authenticated=True,
            response=TypeAdapter(TenantMergeOperation),
            path_parameters={
                "operationId": operation_id,
            },
            query=(
            ),
            headers={
            },
            body=confirm_tenant_merge,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def create(
        self,
        *,

        id: UUID,

        idempotency_key: str,

        create_tenant_merge: CreateTenantMerge,

        request_options: RequestOptions | None = None,
    ) -> TenantMergeOperation:
        request = Request(
            operation_id="TenantMergesCreate",
            method="POST",
            path="/api/v1/businesses/{id}/tenant-merges",
            authenticated=True,
            response=TypeAdapter(TenantMergeOperation),
            path_parameters={
                "id": id,
            },
            query=(
            ),
            headers={
                "Idempotency-Key": idempotency_key,
            },
            body=create_tenant_merge,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def get(
        self,
        *,

        operation_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> TenantMergeOperation:
        request = Request(
            operation_id="TenantMergesGet",
            method="GET",
            path="/api/v1/tenant-merges/{operationId}",
            authenticated=True,
            response=TypeAdapter(TenantMergeOperation),
            path_parameters={
                "operationId": operation_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

    def preflight(
        self,
        *,

        operation_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> TenantMergeOperation:
        request = Request(
            operation_id="TenantMergesPreflight",
            method="POST",
            path="/api/v1/tenant-merges/{operationId}/preflight",
            authenticated=True,
            response=TypeAdapter(TenantMergeOperation),
            path_parameters={
                "operationId": operation_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncRootTenantMergesResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def confirm(
        self,
        *,

        operation_id: UUID,

        confirm_tenant_merge: ConfirmTenantMerge,

        request_options: RequestOptions | None = None,
    ) -> TenantMergeOperation:
        request = Request(
            operation_id="TenantMergesConfirm",
            method="POST",
            path="/api/v1/tenant-merges/{operationId}/confirm",
            authenticated=True,
            response=TypeAdapter(TenantMergeOperation),
            path_parameters={
                "operationId": operation_id,
            },
            query=(
            ),
            headers={
            },
            body=confirm_tenant_merge,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def create(
        self,
        *,

        id: UUID,

        idempotency_key: str,

        create_tenant_merge: CreateTenantMerge,

        request_options: RequestOptions | None = None,
    ) -> TenantMergeOperation:
        request = Request(
            operation_id="TenantMergesCreate",
            method="POST",
            path="/api/v1/businesses/{id}/tenant-merges",
            authenticated=True,
            response=TypeAdapter(TenantMergeOperation),
            path_parameters={
                "id": id,
            },
            query=(
            ),
            headers={
                "Idempotency-Key": idempotency_key,
            },
            body=create_tenant_merge,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def get(
        self,
        *,

        operation_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> TenantMergeOperation:
        request = Request(
            operation_id="TenantMergesGet",
            method="GET",
            path="/api/v1/tenant-merges/{operationId}",
            authenticated=True,
            response=TypeAdapter(TenantMergeOperation),
            path_parameters={
                "operationId": operation_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

    async def preflight(
        self,
        *,

        operation_id: UUID,

        request_options: RequestOptions | None = None,
    ) -> TenantMergeOperation:
        request = Request(
            operation_id="TenantMergesPreflight",
            method="POST",
            path="/api/v1/tenant-merges/{operationId}/preflight",
            authenticated=True,
            response=TypeAdapter(TenantMergeOperation),
            path_parameters={
                "operationId": operation_id,
            },
            query=(
            ),
            headers={
            },
            form={
            },


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

