"""
    ManyForge API

    Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import annotations
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union
from collections.abc import Iterator, AsyncIterator, Mapping
from pydantic import TypeAdapter, StrictBool, StrictBytes, StrictFloat, StrictInt, StrictStr
from manyforge.model_support import JsonValue, UNSET, UnsetType
from manyforge.transport import (SyncTransport, AsyncTransport, Request, RequestOptions, QueryParameter, Upload, ByteStream, AsyncByteStream, PaginationError)
from pydantic import Field, StrictStr
from typing_extensions import Annotated
from manyforge.models.telemetry_ingest_request import TelemetryIngestRequest
from manyforge.models.telemetry_ingest_result import TelemetryIngestResult

class TelemetryTelemetryResource:
    def __init__(self, transport: SyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    def ingest(
        self,
        *,

        telemetry_ingest_request: TelemetryIngestRequest,

        request_options: RequestOptions | None = None,
    ) -> TelemetryIngestResult:
        request = Request(
            operation_id="ingestTelemetry",
            method="POST",
            path="/api/v1/telemetry/ingest/{key}",
            authenticated=False,
            response=TypeAdapter(TelemetryIngestResult),
            path_parameters={
                "key": self._bindings["key"],
            },
            query=(
            ),
            headers={
            },
            body=telemetry_ingest_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return self._transport.request(request, request_options=request_options)

class AsyncTelemetryTelemetryResource:
    def __init__(self, transport: AsyncTransport, bindings: Mapping[str, str] | None = None) -> None:
        self._transport = transport
        self._bindings = dict(bindings or {})

    async def ingest(
        self,
        *,

        telemetry_ingest_request: TelemetryIngestRequest,

        request_options: RequestOptions | None = None,
    ) -> TelemetryIngestResult:
        request = Request(
            operation_id="ingestTelemetry",
            method="POST",
            path="/api/v1/telemetry/ingest/{key}",
            authenticated=False,
            response=TypeAdapter(TelemetryIngestResult),
            path_parameters={
                "key": self._bindings["key"],
            },
            query=(
            ),
            headers={
            },
            body=telemetry_ingest_request,
            form={
            },

            content_type="application/json",


            accept="application/json",

        )
        return await self._transport.request(request, request_options=request_options)

