/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type RootGithubAppInstallUrlResource struct {
	transport Transport
	binding   string
}
type RootGithubAppInstallUrlGetParams struct {
	AgentId string
}

// Get invokes getGithubInstallURL.
func (r *RootGithubAppInstallUrlResource) Get(ctx context.Context, id string, params RootGithubAppInstallUrlGetParams, options ...RequestOption) (InstallURLResponse, error) {
	path := "/api/v1/businesses/{id}/github/app/install-url"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(id)))
	request := Request{OperationID: "getGithubInstallURL", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	addQuery(request.Query, "agent_id", params.AgentId, "form", true)

	var result InstallURLResponse
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
