/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type BusinessInvitationsResource struct {
	transport Transport
	binding   string
}

// Create invokes InvitationsCreate.
func (r *BusinessInvitationsResource) Create(ctx context.Context, body InvitationCreateRequest, options ...RequestOption) error {
	path := "/api/v1/businesses/{id}/invitations"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "InvitationsCreate", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	return r.transport.Do(ctx, request, nil, options...)

}

// Delete invokes InvitationsDelete.
func (r *BusinessInvitationsResource) Delete(ctx context.Context, invID string, options ...RequestOption) error {
	path := "/api/v1/businesses/{id}/invitations/{invID}"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"invID"+"}", url.PathEscape(fmt.Sprint(invID)))
	request := Request{OperationID: "InvitationsDelete", Method: "DELETE", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	return r.transport.Do(ctx, request, nil, options...)

}

// List invokes InvitationsList.
func (r *BusinessInvitationsResource) List(ctx context.Context, options ...RequestOption) (InvitationPage, error) {
	path := "/api/v1/businesses/{id}/invitations"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "InvitationsList", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result InvitationPage
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Resend invokes InvitationsResend.
func (r *BusinessInvitationsResource) Resend(ctx context.Context, invID string, options ...RequestOption) error {
	path := "/api/v1/businesses/{id}/invitations/{invID}/resend"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"invID"+"}", url.PathEscape(fmt.Sprint(invID)))
	request := Request{OperationID: "InvitationsResend", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	return r.transport.Do(ctx, request, nil, options...)

}
