/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type BusinessReviewDimensionsResource struct {
	transport Transport
	binding   string
}

// Delete invokes deleteReviewDimension.
func (r *BusinessReviewDimensionsResource) Delete(ctx context.Context, dimID string, options ...RequestOption) error {
	path := "/api/v1/businesses/{id}/review-dimensions/{dimID}"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"dimID"+"}", url.PathEscape(fmt.Sprint(dimID)))
	request := Request{OperationID: "deleteReviewDimension", Method: "DELETE", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	return r.transport.Do(ctx, request, nil, options...)

}

// List invokes listReviewDimensions.
func (r *BusinessReviewDimensionsResource) List(ctx context.Context, options ...RequestOption) (ReviewDimensionList, error) {
	path := "/api/v1/businesses/{id}/review-dimensions"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "listReviewDimensions", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result ReviewDimensionList
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Create invokes upsertReviewDimension.
func (r *BusinessReviewDimensionsResource) Create(ctx context.Context, body ReviewDimensionInput, options ...RequestOption) (ReviewDimensionView, error) {
	path := "/api/v1/businesses/{id}/review-dimensions"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "upsertReviewDimension", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	var result ReviewDimensionView
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
