/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type BusinessTicketsAssignableMembersResource struct {
	transport Transport
	binding   string
}
type BusinessTicketsAssignableMembersListParams struct {
	Limit int32
}

// List invokes TicketsAssignableMembersList.
func (r *BusinessTicketsAssignableMembersResource) List(ctx context.Context, params BusinessTicketsAssignableMembersListParams, options ...RequestOption) (AssignableMemberPage, error) {
	path := "/api/v1/businesses/{id}/assignable-members"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "TicketsAssignableMembersList", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	if params.Limit != 0 {
		addQuery(request.Query, "limit", params.Limit, "form", true)
	}

	var result AssignableMemberPage
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
