/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type BusinessAutomationsStatsResource struct {
	transport Transport
	binding   string
}
type BusinessAutomationsStatsGetParams struct {
	VersionId Optional[string]
}

// Get invokes getAutomationStats.
func (r *BusinessAutomationsStatsResource) Get(ctx context.Context, aid string, params BusinessAutomationsStatsGetParams, options ...RequestOption) (AutomationStats, error) {
	path := "/api/v1/businesses/{id}/mailing/automations/{aid}/stats"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"aid"+"}", url.PathEscape(fmt.Sprint(aid)))
	request := Request{OperationID: "getAutomationStats", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	if value, ok := params.VersionId.Get(); ok {
		addQuery(request.Query, "version_id", value, "form", true)
	}

	var result AutomationStats
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
