/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type BusinessRepoConnectorsResource struct {
	transport Transport
	binding   string

	DimensionOverrides *BusinessRepoConnectorsDimensionOverridesResource
}

// Create invokes createRepoConnector.
func (r *BusinessRepoConnectorsResource) Create(ctx context.Context, body CreateRepoConnectorInput, options ...RequestOption) (IDResponse, error) {
	path := "/api/v1/businesses/{id}/repo-connectors"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "createRepoConnector", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	var result IDResponse
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Delete invokes deleteRepoConnector.
func (r *BusinessRepoConnectorsResource) Delete(ctx context.Context, rcID string, options ...RequestOption) error {
	path := "/api/v1/businesses/{id}/repo-connectors/{rcID}"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"rcID"+"}", url.PathEscape(fmt.Sprint(rcID)))
	request := Request{OperationID: "deleteRepoConnector", Method: "DELETE", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	return r.transport.Do(ctx, request, nil, options...)

}

// List invokes listRepoConnectors.
func (r *BusinessRepoConnectorsResource) List(ctx context.Context, options ...RequestOption) (RepoConnectorList, error) {
	path := "/api/v1/businesses/{id}/repo-connectors"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "listRepoConnectors", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result RepoConnectorList
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
