/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"

	"net/url"
)

type RootInvitationsResource struct {
	transport Transport
	binding   string
}

// Accept invokes InvitationsAccept.
func (r *RootInvitationsResource) Accept(ctx context.Context, body TokenRequest, options ...RequestOption) (InvitationAcceptance, error) {
	path := "/api/v1/invitations/accept"
	request := Request{OperationID: "InvitationsAccept", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	var result InvitationAcceptance
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
