/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type BusinessConnectorsFailedOpsResource struct {
	transport Transport
	binding   string
}

// Dismiss invokes dismissConnectorFailedOps.
func (r *BusinessConnectorsFailedOpsResource) Dismiss(ctx context.Context, cid string, options ...RequestOption) (ConnectorFailedOpsDismissResult, error) {
	path := "/api/v1/businesses/{id}/connectors/{cid}/failed-ops/dismiss"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"cid"+"}", url.PathEscape(fmt.Sprint(cid)))
	request := Request{OperationID: "dismissConnectorFailedOps", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result ConnectorFailedOpsDismissResult
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Retry invokes retryConnectorFailedOps.
func (r *BusinessConnectorsFailedOpsResource) Retry(ctx context.Context, cid string, options ...RequestOption) (ConnectorFailedOpsRetryResult, error) {
	path := "/api/v1/businesses/{id}/connectors/{cid}/failed-ops/retry"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"cid"+"}", url.PathEscape(fmt.Sprint(cid)))
	request := Request{OperationID: "retryConnectorFailedOps", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result ConnectorFailedOpsRetryResult
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
