/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"

	"net/url"
)

type RootAccountResource struct {
	transport Transport
	binding   string
}

// ConfirmEmailChange invokes AccountConfirmEmailChange.
func (r *RootAccountResource) ConfirmEmailChange(ctx context.Context, body TokenRequest, options ...RequestOption) error {
	path := "/api/v1/me/email-change/confirm"
	request := Request{OperationID: "AccountConfirmEmailChange", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	return r.transport.Do(ctx, request, nil, options...)

}

// Deactivate invokes AccountDeactivate.
func (r *RootAccountResource) Deactivate(ctx context.Context, options ...RequestOption) error {
	path := "/api/v1/me/deactivate"
	request := Request{OperationID: "AccountDeactivate", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	return r.transport.Do(ctx, request, nil, options...)

}

// Delete invokes AccountDelete.
func (r *RootAccountResource) Delete(ctx context.Context, options ...RequestOption) (AccountDeletion, error) {
	path := "/api/v1/me/delete"
	request := Request{OperationID: "AccountDelete", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result AccountDeletion
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// EmailChange invokes AccountEmailChange.
func (r *RootAccountResource) EmailChange(ctx context.Context, body EmailChangeRequest, options ...RequestOption) error {
	path := "/api/v1/me/email-change"
	request := Request{OperationID: "AccountEmailChange", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	return r.transport.Do(ctx, request, nil, options...)

}

// Export invokes AccountExport.
func (r *RootAccountResource) Export(ctx context.Context, options ...RequestOption) (AccountExport, error) {
	path := "/api/v1/me/export"
	request := Request{OperationID: "AccountExport", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result AccountExport
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Get invokes AccountGet.
func (r *RootAccountResource) Get(ctx context.Context, options ...RequestOption) (Account, error) {
	path := "/api/v1/me"
	request := Request{OperationID: "AccountGet", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result Account
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Update invokes AccountUpdate.
func (r *RootAccountResource) Update(ctx context.Context, body AccountUpdateRequest, options ...RequestOption) (Account, error) {
	path := "/api/v1/me"
	request := Request{OperationID: "AccountUpdate", Method: "PATCH", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	var result Account
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
