/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type BusinessReviewConfigResource struct {
	transport Transport
	binding   string
}

// Get invokes getReviewConfig.
func (r *BusinessReviewConfigResource) Get(ctx context.Context, options ...RequestOption) (ReviewConfig, error) {
	path := "/api/v1/businesses/{id}/review-config"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "getReviewConfig", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result ReviewConfig
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Estimate invokes getReviewConfigEstimate.
func (r *BusinessReviewConfigResource) Estimate(ctx context.Context, options ...RequestOption) (ReviewConfigEstimate, error) {
	path := "/api/v1/businesses/{id}/review-config/estimate"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "getReviewConfigEstimate", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result ReviewConfigEstimate
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Replace invokes upsertReviewConfig.
func (r *BusinessReviewConfigResource) Replace(ctx context.Context, body ReviewConfigInput, options ...RequestOption) (ReviewConfig, error) {
	path := "/api/v1/businesses/{id}/review-config"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "upsertReviewConfig", Method: "PUT", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	var result ReviewConfig
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
