/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type BusinessAnalyticsPropertyRulesResource struct {
	transport Transport
	binding   string
}

// List invokes listAnalyticsPropertyRules.
func (r *BusinessAnalyticsPropertyRulesResource) List(ctx context.Context, clientID string, options ...RequestOption) (AnalyticsPropertyRulesResponse, error) {
	path := "/api/v1/businesses/{id}/analytics/sites/{clientID}/property-rules"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"clientID"+"}", url.PathEscape(fmt.Sprint(clientID)))
	request := Request{OperationID: "listAnalyticsPropertyRules", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result AnalyticsPropertyRulesResponse
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Replace invokes replaceAnalyticsPropertyRules.
func (r *BusinessAnalyticsPropertyRulesResource) Replace(ctx context.Context, clientID string, body AnalyticsPropertyRulesReplace, options ...RequestOption) (AnalyticsPropertyRulesResponse, error) {
	path := "/api/v1/businesses/{id}/analytics/sites/{clientID}/property-rules"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"clientID"+"}", url.PathEscape(fmt.Sprint(clientID)))
	request := Request{OperationID: "replaceAnalyticsPropertyRules", Method: "PUT", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	var result AnalyticsPropertyRulesResponse
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
