/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type BusinessMailingEventsResource struct {
	transport Transport
	binding   string
}

// Create invokes createAutomationEvent.
func (r *BusinessMailingEventsResource) Create(ctx context.Context, body AutomationEventInput, options ...RequestOption) (AutomationEvent, error) {
	path := "/api/v1/businesses/{id}/mailing/events"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "createAutomationEvent", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	var result AutomationEvent
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
