/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"

	"net/url"
)

type RootAuthResource struct {
	transport Transport
	binding   string
}

// ConfirmPasswordReset invokes AuthConfirmPasswordReset.
func (r *RootAuthResource) ConfirmPasswordReset(ctx context.Context, body PasswordResetConfirmRequest, options ...RequestOption) error {
	path := "/api/v1/auth/password-reset/confirm"
	request := Request{OperationID: "AuthConfirmPasswordReset", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: false, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	return r.transport.Do(ctx, request, nil, options...)

}

// ConsumeMagicLink invokes AuthConsumeMagicLink.
func (r *RootAuthResource) ConsumeMagicLink(ctx context.Context, body TokenRequest, options ...RequestOption) (TokenPair, error) {
	path := "/api/v1/auth/magic-link/consume"
	request := Request{OperationID: "AuthConsumeMagicLink", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: false, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	var result TokenPair
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Login invokes AuthLogin.
func (r *RootAuthResource) Login(ctx context.Context, body LoginRequest, options ...RequestOption) (TokenPair, error) {
	path := "/api/v1/auth/login"
	request := Request{OperationID: "AuthLogin", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: false, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	var result TokenPair
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Logout invokes AuthLogout.
func (r *RootAuthResource) Logout(ctx context.Context, body LogoutRequest, options ...RequestOption) error {
	path := "/api/v1/auth/logout"
	request := Request{OperationID: "AuthLogout", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: false, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	return r.transport.Do(ctx, request, nil, options...)

}

// MagicLink invokes AuthMagicLink.
func (r *RootAuthResource) MagicLink(ctx context.Context, body MagicLinkRequest, options ...RequestOption) error {
	path := "/api/v1/auth/magic-link"
	request := Request{OperationID: "AuthMagicLink", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: false, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	return r.transport.Do(ctx, request, nil, options...)

}

// PasswordReset invokes AuthPasswordReset.
func (r *RootAuthResource) PasswordReset(ctx context.Context, body PasswordResetRequest, options ...RequestOption) error {
	path := "/api/v1/auth/password-reset"
	request := Request{OperationID: "AuthPasswordReset", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: false, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	return r.transport.Do(ctx, request, nil, options...)

}

// Refresh invokes AuthRefresh.
func (r *RootAuthResource) Refresh(ctx context.Context, body RefreshRequest, options ...RequestOption) (TokenPair, error) {
	path := "/api/v1/auth/refresh"
	request := Request{OperationID: "AuthRefresh", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: false, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	var result TokenPair
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Signup invokes AuthSignup.
func (r *RootAuthResource) Signup(ctx context.Context, body SignupRequest, options ...RequestOption) error {
	path := "/api/v1/auth/signup"
	request := Request{OperationID: "AuthSignup", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: false, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	return r.transport.Do(ctx, request, nil, options...)

}

// VerifyEmail invokes AuthVerifyEmail.
func (r *RootAuthResource) VerifyEmail(ctx context.Context, body TokenRequest, options ...RequestOption) error {
	path := "/api/v1/auth/verify-email"
	request := Request{OperationID: "AuthVerifyEmail", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: false, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	return r.transport.Do(ctx, request, nil, options...)

}
