/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type BusinessApprovalsResource struct {
	transport Transport
	binding   string
}

// Approve invokes approveApprovalItem.
func (r *BusinessApprovalsResource) Approve(ctx context.Context, approvalID string, options ...RequestOption) (ApprovalItem, error) {
	path := "/api/v1/businesses/{id}/approvals/{approvalID}/approve"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"approvalID"+"}", url.PathEscape(fmt.Sprint(approvalID)))
	request := Request{OperationID: "approveApprovalItem", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result ApprovalItem
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Deny invokes denyApprovalItem.
func (r *BusinessApprovalsResource) Deny(ctx context.Context, approvalID string, options ...RequestOption) (ApprovalItem, error) {
	path := "/api/v1/businesses/{id}/approvals/{approvalID}/deny"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"approvalID"+"}", url.PathEscape(fmt.Sprint(approvalID)))
	request := Request{OperationID: "denyApprovalItem", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result ApprovalItem
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// List invokes listApprovals.
func (r *BusinessApprovalsResource) List(ctx context.Context, options ...RequestOption) (ApprovalList, error) {
	path := "/api/v1/businesses/{id}/approvals"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "listApprovals", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result ApprovalList
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
