/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"

	"net/url"
)

type AnalyticsAnalyticsResource struct {
	transport Transport
	binding   string
}

// Collect invokes collectAnalyticsEvent.
func (r *AnalyticsAnalyticsResource) Collect(ctx context.Context, body AnalyticsCollectRequest, options ...RequestOption) error {
	path := "/a/e"
	request := Request{OperationID: "collectAnalyticsEvent", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: false, Audience: "public", Signing: "", BodyKey: "k"}
	request.Body = body

	return r.transport.Do(ctx, request, nil, options...)

}
