/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type BusinessAutomationsVersionsGraphResource struct {
	transport Transport
	binding   string
}

// Replace invokes replaceAutomationGraph.
func (r *BusinessAutomationsVersionsGraphResource) Replace(ctx context.Context, aid string, vid string, body GraphInput, options ...RequestOption) (AutomationVersion, error) {
	path := "/api/v1/businesses/{id}/mailing/automations/{aid}/versions/{vid}/graph"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"aid"+"}", url.PathEscape(fmt.Sprint(aid)))
	path = strings.ReplaceAll(path, "{"+"vid"+"}", url.PathEscape(fmt.Sprint(vid)))
	request := Request{OperationID: "replaceAutomationGraph", Method: "PUT", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	var result AutomationVersion
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
