/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type BusinessAiCredentialsCodexPkceResource struct {
	transport Transport
	binding   string
}

// Exchange invokes exchangeCodexPKCEConnect.
func (r *BusinessAiCredentialsCodexPkceResource) Exchange(ctx context.Context, body CodexPKCEExchangeRequest, options ...RequestOption) (CodexConnectStatus, error) {
	path := "/api/v1/businesses/{id}/ai_credentials/codex/pkce/exchange"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "exchangeCodexPKCEConnect", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	var result CodexConnectStatus
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Start invokes startCodexPKCEConnect.
func (r *BusinessAiCredentialsCodexPkceResource) Start(ctx context.Context, body CodexConnectRequest, options ...RequestOption) (CodexPKCEStart, error) {
	path := "/api/v1/businesses/{id}/ai_credentials/codex/pkce/start"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "startCodexPKCEConnect", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	var result CodexPKCEStart
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
