/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"

	"net/url"
)

type RootMailingReportingResource struct {
	transport Transport
	binding   string
}
type RootMailingReportingGetParams struct {
	BusinessId Optional[string]
}

// Get invokes MailingReportingGet.
func (r *RootMailingReportingResource) Get(ctx context.Context, params RootMailingReportingGetParams, options ...RequestOption) (MailingReport, error) {
	path := "/api/v1/mailing/reporting"
	request := Request{OperationID: "MailingReportingGet", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	if value, ok := params.BusinessId.Get(); ok {
		addQuery(request.Query, "business_id", value, "form", true)
	}

	var result MailingReport
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
