/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type BusinessMembersResource struct {
	transport Transport
	binding   string
}

// Delete invokes MembersDelete.
func (r *BusinessMembersResource) Delete(ctx context.Context, principalId string, options ...RequestOption) error {
	path := "/api/v1/businesses/{id}/members/{principalId}"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"principalId"+"}", url.PathEscape(fmt.Sprint(principalId)))
	request := Request{OperationID: "MembersDelete", Method: "DELETE", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	return r.transport.Do(ctx, request, nil, options...)

}

// List invokes MembersList.
func (r *BusinessMembersResource) List(ctx context.Context, options ...RequestOption) (MemberPage, error) {
	path := "/api/v1/businesses/{id}/members"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "MembersList", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result MemberPage
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Update invokes MembersUpdate.
func (r *BusinessMembersResource) Update(ctx context.Context, principalId string, body MemberUpdateRequest, options ...RequestOption) error {
	path := "/api/v1/businesses/{id}/members/{principalId}"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"principalId"+"}", url.PathEscape(fmt.Sprint(principalId)))
	request := Request{OperationID: "MembersUpdate", Method: "PATCH", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	return r.transport.Do(ctx, request, nil, options...)

}
