/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type MailingServerMailingSubscribersResource struct {
	transport Transport
	binding   string
}

// Create invokes subscribeMailingS2S.
func (r *MailingServerMailingSubscribersResource) Create(ctx context.Context, body S2SSubscriptionInput, options ...RequestOption) (PublicSubscriber, error) {
	path := "/api/v1/mailing/s2s/{key}/subscribers"
	path = strings.ReplaceAll(path, "{"+"key"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "subscribeMailingS2S", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: false, Audience: "server", Signing: "mailing", BodyKey: ""}
	request.Body = body

	var result PublicSubscriber
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Delete invokes unsubscribeMailingS2S.
func (r *MailingServerMailingSubscribersResource) Delete(ctx context.Context, email string, options ...RequestOption) error {
	path := "/api/v1/mailing/s2s/{key}/subscribers/{email}"
	path = strings.ReplaceAll(path, "{"+"key"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"email"+"}", url.PathEscape(fmt.Sprint(email)))
	request := Request{OperationID: "unsubscribeMailingS2S", Method: "DELETE", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: false, Audience: "server", Signing: "mailing", BodyKey: ""}

	return r.transport.Do(ctx, request, nil, options...)

}
