/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type BusinessFeedbackKeysResource struct {
	transport Transport
	binding   string
}

// Create invokes createFeedbackIngestKey.
func (r *BusinessFeedbackKeysResource) Create(ctx context.Context, bid string, body IngestKeyCreate, options ...RequestOption) (IngestKeyCreated, error) {
	path := "/api/v1/businesses/{id}/feedback/boards/{bid}/keys"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"bid"+"}", url.PathEscape(fmt.Sprint(bid)))
	request := Request{OperationID: "createFeedbackIngestKey", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	var result IngestKeyCreated
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

type BusinessFeedbackKeysListParams struct {
	Limit int32
}

// List invokes listFeedbackIngestKeys.
func (r *BusinessFeedbackKeysResource) List(ctx context.Context, bid string, params BusinessFeedbackKeysListParams, options ...RequestOption) (IngestKeyList, error) {
	path := "/api/v1/businesses/{id}/feedback/boards/{bid}/keys"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"bid"+"}", url.PathEscape(fmt.Sprint(bid)))
	request := Request{OperationID: "listFeedbackIngestKeys", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	if params.Limit != 0 {
		addQuery(request.Query, "limit", params.Limit, "form", true)
	}

	var result IngestKeyList
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Revoke invokes revokeFeedbackIngestKey.
func (r *BusinessFeedbackKeysResource) Revoke(ctx context.Context, kid string, options ...RequestOption) (IngestKey, error) {
	path := "/api/v1/businesses/{id}/feedback/keys/{kid}/revoke"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"kid"+"}", url.PathEscape(fmt.Sprint(kid)))
	request := Request{OperationID: "revokeFeedbackIngestKey", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result IngestKey
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
