/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type BusinessMailingSendingProfileResource struct {
	transport Transport
	binding   string
}

// Delete invokes deleteMailingSendingProfile.
func (r *BusinessMailingSendingProfileResource) Delete(ctx context.Context, options ...RequestOption) error {
	path := "/api/v1/businesses/{id}/mailing/sending-profile"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "deleteMailingSendingProfile", Method: "DELETE", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	return r.transport.Do(ctx, request, nil, options...)

}

// Get invokes getMailingSendingProfile.
func (r *BusinessMailingSendingProfileResource) Get(ctx context.Context, options ...RequestOption) (SendingProfile, error) {
	path := "/api/v1/businesses/{id}/mailing/sending-profile"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "getMailingSendingProfile", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result SendingProfile
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Replace invokes putMailingSendingProfile.
func (r *BusinessMailingSendingProfileResource) Replace(ctx context.Context, body SendingProfileInput, options ...RequestOption) (SendingProfile, error) {
	path := "/api/v1/businesses/{id}/mailing/sending-profile"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "putMailingSendingProfile", Method: "PUT", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	var result SendingProfile
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// TestSend invokes testMailingSendingProfile.
func (r *BusinessMailingSendingProfileResource) TestSend(ctx context.Context, body TestSendInput, options ...RequestOption) error {
	path := "/api/v1/businesses/{id}/mailing/sending-profile/test-send"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "testMailingSendingProfile", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	return r.transport.Do(ctx, request, nil, options...)

}

// Verify invokes verifyMailingSendingProfile.
func (r *BusinessMailingSendingProfileResource) Verify(ctx context.Context, options ...RequestOption) (SendingProfile, error) {
	path := "/api/v1/businesses/{id}/mailing/sending-profile/verify"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	request := Request{OperationID: "verifyMailingSendingProfile", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result SendingProfile
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
