/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type BusinessConnectorsCredentialsResource struct {
	transport Transport
	binding   string
}

// Replace invokes rotateConnectorCredential.
func (r *BusinessConnectorsCredentialsResource) Replace(ctx context.Context, cid string, body RotateCredential, options ...RequestOption) (Connector, error) {
	path := "/api/v1/businesses/{id}/connectors/{cid}/credential"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(r.binding)))
	path = strings.ReplaceAll(path, "{"+"cid"+"}", url.PathEscape(fmt.Sprint(cid)))
	request := Request{OperationID: "rotateConnectorCredential", Method: "PUT", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	var result Connector
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}
