/*
ManyForge API

Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
package manyforge

import (
	"context"
	"fmt"

	"net/url"
	"strings"
)

type RootBusinessesResource struct {
	transport Transport
	binding   string
}

// Archive invokes BusinessesArchive.
func (r *RootBusinessesResource) Archive(ctx context.Context, id string, options ...RequestOption) error {
	path := "/api/v1/businesses/{id}/archive"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(id)))
	request := Request{OperationID: "BusinessesArchive", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	return r.transport.Do(ctx, request, nil, options...)

}

// Create invokes BusinessesCreate.
func (r *RootBusinessesResource) Create(ctx context.Context, body BusinessCreateRequest, options ...RequestOption) (Business, error) {
	path := "/api/v1/businesses"
	request := Request{OperationID: "BusinessesCreate", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	var result Business
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Delete invokes BusinessesDelete.
func (r *RootBusinessesResource) Delete(ctx context.Context, id string, body BusinessDeleteRequest, options ...RequestOption) error {
	path := "/api/v1/businesses/{id}"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(id)))
	request := Request{OperationID: "BusinessesDelete", Method: "DELETE", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	return r.transport.Do(ctx, request, nil, options...)

}

// Get invokes BusinessesGet.
func (r *RootBusinessesResource) Get(ctx context.Context, id string, options ...RequestOption) (Business, error) {
	path := "/api/v1/businesses/{id}"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(id)))
	request := Request{OperationID: "BusinessesGet", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result Business
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Leave invokes BusinessesLeave.
func (r *RootBusinessesResource) Leave(ctx context.Context, id string, options ...RequestOption) error {
	path := "/api/v1/businesses/{id}/leave"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(id)))
	request := Request{OperationID: "BusinessesLeave", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	return r.transport.Do(ctx, request, nil, options...)

}

// List invokes BusinessesList.
func (r *RootBusinessesResource) List(ctx context.Context, options ...RequestOption) (BusinessPage, error) {
	path := "/api/v1/businesses"
	request := Request{OperationID: "BusinessesList", Method: "GET", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	var result BusinessPage
	err := r.transport.Do(ctx, request, &result, options...)
	return result, err

}

// Move invokes BusinessesMove.
func (r *RootBusinessesResource) Move(ctx context.Context, id string, body BusinessMoveRequest, options ...RequestOption) error {
	path := "/api/v1/businesses/{id}/move"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(id)))
	request := Request{OperationID: "BusinessesMove", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	return r.transport.Do(ctx, request, nil, options...)

}

// Restore invokes BusinessesRestore.
func (r *RootBusinessesResource) Restore(ctx context.Context, id string, options ...RequestOption) error {
	path := "/api/v1/businesses/{id}/restore"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(id)))
	request := Request{OperationID: "BusinessesRestore", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}

	return r.transport.Do(ctx, request, nil, options...)

}

// TransferOwnership invokes BusinessesTransferOwnership.
func (r *RootBusinessesResource) TransferOwnership(ctx context.Context, id string, body OwnershipTransferRequest, options ...RequestOption) error {
	path := "/api/v1/businesses/{id}/transfer-ownership"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(id)))
	request := Request{OperationID: "BusinessesTransferOwnership", Method: "POST", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	return r.transport.Do(ctx, request, nil, options...)

}

// Update invokes BusinessesUpdate.
func (r *RootBusinessesResource) Update(ctx context.Context, id string, body BusinessUpdateRequest, options ...RequestOption) error {
	path := "/api/v1/businesses/{id}"
	path = strings.ReplaceAll(path, "{"+"id"+"}", url.PathEscape(fmt.Sprint(id)))
	request := Request{OperationID: "BusinessesUpdate", Method: "PATCH", Path: path, Query: url.Values{}, Headers: map[string]string{}, Authenticated: true, Audience: "management", Signing: "", BodyKey: ""}
	request.Body = body

	return r.transport.Do(ctx, request, nil, options...)

}
