/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.AnalyticsCollectRequest;

public class AnalyticsAnalyticsResource {
  protected final Transport transport;
  protected final String binding;
  public AnalyticsAnalyticsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class AnalyticsAnalyticsCollectParams {

    private final AnalyticsCollectRequest analyticsCollectRequest;

    private AnalyticsAnalyticsCollectParams(Builder builder) {

      this.analyticsCollectRequest = builder.analyticsCollectRequest;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.analyticsCollectRequest = analyticsCollectRequest;

      return builder;
    }
    public static final class Builder {

      private AnalyticsCollectRequest analyticsCollectRequest;
      public Builder analyticsCollectRequest(AnalyticsCollectRequest value) { this.analyticsCollectRequest = value; return this; }

      public AnalyticsAnalyticsCollectParams build() { return new AnalyticsAnalyticsCollectParams(this); }
    }
  }
  private Request<Void> collectRequest(AnalyticsAnalyticsCollectParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    Objects.requireNonNull(params.analyticsCollectRequest, "analyticsCollectRequest");

    return new Request<>("POST", "/a/e", parameters, params.analyticsCollectRequest, "application/json", false, "public", false, "k", new TypeReference<Void>() {});
  }
  public Void collect(AnalyticsAnalyticsCollectParams params) { return collect(params, RequestOptions.DEFAULT); }
  public Void collect(AnalyticsAnalyticsCollectParams params, RequestOptions options) { return transport.send(collectRequest(params), options); }
  public CompletableFuture<Void> collectAsync(AnalyticsAnalyticsCollectParams params) { return collectAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Void> collectAsync(AnalyticsAnalyticsCollectParams params, RequestOptions options) { return transport.sendAsync(collectRequest(params), options); }

}
