/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.ReviewConfig;
import com.manyforge.sdk.models.ReviewConfigEstimate;
import com.manyforge.sdk.models.ReviewConfigInput;
import java.util.UUID;

public class BusinessReviewConfigResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessReviewConfigResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessReviewConfigGetParams {

    private BusinessReviewConfigGetParams(Builder builder) {

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      return builder;
    }
    public static final class Builder {

      public BusinessReviewConfigGetParams build() { return new BusinessReviewConfigGetParams(this); }
    }
  }
  private Request<ReviewConfig> getRequest(BusinessReviewConfigGetParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/review-config", parameters, null, "", true, "management", false, null, new TypeReference<ReviewConfig>() {});
  }
  public ReviewConfig get(BusinessReviewConfigGetParams params) { return get(params, RequestOptions.DEFAULT); }
  public ReviewConfig get(BusinessReviewConfigGetParams params, RequestOptions options) { return transport.send(getRequest(params), options); }
  public CompletableFuture<ReviewConfig> getAsync(BusinessReviewConfigGetParams params) { return getAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<ReviewConfig> getAsync(BusinessReviewConfigGetParams params, RequestOptions options) { return transport.sendAsync(getRequest(params), options); }
  public ReviewConfig get() { return get(BusinessReviewConfigGetParams.builder().build()); }
  public CompletableFuture<ReviewConfig> getAsync() { return getAsync(BusinessReviewConfigGetParams.builder().build()); }

  public static final class BusinessReviewConfigEstimateParams {

    private BusinessReviewConfigEstimateParams(Builder builder) {

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      return builder;
    }
    public static final class Builder {

      public BusinessReviewConfigEstimateParams build() { return new BusinessReviewConfigEstimateParams(this); }
    }
  }
  private Request<ReviewConfigEstimate> estimateRequest(BusinessReviewConfigEstimateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/review-config/estimate", parameters, null, "", true, "management", false, null, new TypeReference<ReviewConfigEstimate>() {});
  }
  public ReviewConfigEstimate estimate(BusinessReviewConfigEstimateParams params) { return estimate(params, RequestOptions.DEFAULT); }
  public ReviewConfigEstimate estimate(BusinessReviewConfigEstimateParams params, RequestOptions options) { return transport.send(estimateRequest(params), options); }
  public CompletableFuture<ReviewConfigEstimate> estimateAsync(BusinessReviewConfigEstimateParams params) { return estimateAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<ReviewConfigEstimate> estimateAsync(BusinessReviewConfigEstimateParams params, RequestOptions options) { return transport.sendAsync(estimateRequest(params), options); }
  public ReviewConfigEstimate estimate() { return estimate(BusinessReviewConfigEstimateParams.builder().build()); }
  public CompletableFuture<ReviewConfigEstimate> estimateAsync() { return estimateAsync(BusinessReviewConfigEstimateParams.builder().build()); }

  public static final class BusinessReviewConfigReplaceParams {

    private final ReviewConfigInput reviewConfigInput;

    private BusinessReviewConfigReplaceParams(Builder builder) {

      this.reviewConfigInput = builder.reviewConfigInput;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.reviewConfigInput = reviewConfigInput;

      return builder;
    }
    public static final class Builder {

      private ReviewConfigInput reviewConfigInput;
      public Builder reviewConfigInput(ReviewConfigInput value) { this.reviewConfigInput = value; return this; }

      public BusinessReviewConfigReplaceParams build() { return new BusinessReviewConfigReplaceParams(this); }
    }
  }
  private Request<ReviewConfig> replaceRequest(BusinessReviewConfigReplaceParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.reviewConfigInput, "reviewConfigInput");

    return new Request<>("PUT", "/api/v1/businesses/{id}/review-config", parameters, params.reviewConfigInput, "application/json", true, "management", false, null, new TypeReference<ReviewConfig>() {});
  }
  public ReviewConfig replace(BusinessReviewConfigReplaceParams params) { return replace(params, RequestOptions.DEFAULT); }
  public ReviewConfig replace(BusinessReviewConfigReplaceParams params, RequestOptions options) { return transport.send(replaceRequest(params), options); }
  public CompletableFuture<ReviewConfig> replaceAsync(BusinessReviewConfigReplaceParams params) { return replaceAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<ReviewConfig> replaceAsync(BusinessReviewConfigReplaceParams params, RequestOptions options) { return transport.sendAsync(replaceRequest(params), options); }

}
