/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.RepoDimensionOverride;
import com.manyforge.sdk.models.RepoDimensionOverrideInput;
import com.manyforge.sdk.models.RepoDimensionOverrideList;
import java.util.UUID;

public class BusinessRepoConnectorsDimensionOverridesResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessRepoConnectorsDimensionOverridesResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessRepoConnectorsDimensionOverridesDeleteParams {

    private final UUID rcID;

    private final String key;

    private BusinessRepoConnectorsDimensionOverridesDeleteParams(Builder builder) {

      this.rcID = builder.rcID;

      this.key = builder.key;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.rcID = rcID;

      builder.key = key;

      return builder;
    }
    public static final class Builder {

      private UUID rcID;
      public Builder rcID(UUID value) { this.rcID = value; return this; }

      private String key;
      public Builder key(String value) { this.key = value; return this; }

      public BusinessRepoConnectorsDimensionOverridesDeleteParams build() { return new BusinessRepoConnectorsDimensionOverridesDeleteParams(this); }
    }
  }
  private Request<Void> deleteRequest(BusinessRepoConnectorsDimensionOverridesDeleteParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.rcID, "rcID");

    parameters.add(new Request.Parameter("rcID", "path", params.rcID, ""));

    Objects.requireNonNull(params.key, "key");

    parameters.add(new Request.Parameter("key", "path", params.key, ""));
    return new Request<>("DELETE", "/api/v1/businesses/{id}/repo-connectors/{rcID}/dimension-overrides/{key}", parameters, null, "", true, "management", false, null, new TypeReference<Void>() {});
  }
  public Void delete(BusinessRepoConnectorsDimensionOverridesDeleteParams params) { return delete(params, RequestOptions.DEFAULT); }
  public Void delete(BusinessRepoConnectorsDimensionOverridesDeleteParams params, RequestOptions options) { return transport.send(deleteRequest(params), options); }
  public CompletableFuture<Void> deleteAsync(BusinessRepoConnectorsDimensionOverridesDeleteParams params) { return deleteAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Void> deleteAsync(BusinessRepoConnectorsDimensionOverridesDeleteParams params, RequestOptions options) { return transport.sendAsync(deleteRequest(params), options); }

  public static final class BusinessRepoConnectorsDimensionOverridesListParams {

    private final UUID rcID;

    private BusinessRepoConnectorsDimensionOverridesListParams(Builder builder) {

      this.rcID = builder.rcID;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.rcID = rcID;

      return builder;
    }
    public static final class Builder {

      private UUID rcID;
      public Builder rcID(UUID value) { this.rcID = value; return this; }

      public BusinessRepoConnectorsDimensionOverridesListParams build() { return new BusinessRepoConnectorsDimensionOverridesListParams(this); }
    }
  }
  private Request<RepoDimensionOverrideList> listRequest(BusinessRepoConnectorsDimensionOverridesListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.rcID, "rcID");

    parameters.add(new Request.Parameter("rcID", "path", params.rcID, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/repo-connectors/{rcID}/dimension-overrides", parameters, null, "", true, "management", false, null, new TypeReference<RepoDimensionOverrideList>() {});
  }
  public RepoDimensionOverrideList list(BusinessRepoConnectorsDimensionOverridesListParams params) { return list(params, RequestOptions.DEFAULT); }
  public RepoDimensionOverrideList list(BusinessRepoConnectorsDimensionOverridesListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<RepoDimensionOverrideList> listAsync(BusinessRepoConnectorsDimensionOverridesListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<RepoDimensionOverrideList> listAsync(BusinessRepoConnectorsDimensionOverridesListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }

  public static final class BusinessRepoConnectorsDimensionOverridesReplaceParams {

    private final UUID rcID;

    private final RepoDimensionOverrideInput repoDimensionOverrideInput;

    private BusinessRepoConnectorsDimensionOverridesReplaceParams(Builder builder) {

      this.rcID = builder.rcID;

      this.repoDimensionOverrideInput = builder.repoDimensionOverrideInput;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.rcID = rcID;

      builder.repoDimensionOverrideInput = repoDimensionOverrideInput;

      return builder;
    }
    public static final class Builder {

      private UUID rcID;
      public Builder rcID(UUID value) { this.rcID = value; return this; }

      private RepoDimensionOverrideInput repoDimensionOverrideInput;
      public Builder repoDimensionOverrideInput(RepoDimensionOverrideInput value) { this.repoDimensionOverrideInput = value; return this; }

      public BusinessRepoConnectorsDimensionOverridesReplaceParams build() { return new BusinessRepoConnectorsDimensionOverridesReplaceParams(this); }
    }
  }
  private Request<RepoDimensionOverride> replaceRequest(BusinessRepoConnectorsDimensionOverridesReplaceParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.rcID, "rcID");

    parameters.add(new Request.Parameter("rcID", "path", params.rcID, ""));

    Objects.requireNonNull(params.repoDimensionOverrideInput, "repoDimensionOverrideInput");

    return new Request<>("PUT", "/api/v1/businesses/{id}/repo-connectors/{rcID}/dimension-overrides", parameters, params.repoDimensionOverrideInput, "application/json", true, "management", false, null, new TypeReference<RepoDimensionOverride>() {});
  }
  public RepoDimensionOverride replace(BusinessRepoConnectorsDimensionOverridesReplaceParams params) { return replace(params, RequestOptions.DEFAULT); }
  public RepoDimensionOverride replace(BusinessRepoConnectorsDimensionOverridesReplaceParams params, RequestOptions options) { return transport.send(replaceRequest(params), options); }
  public CompletableFuture<RepoDimensionOverride> replaceAsync(BusinessRepoConnectorsDimensionOverridesReplaceParams params) { return replaceAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<RepoDimensionOverride> replaceAsync(BusinessRepoConnectorsDimensionOverridesReplaceParams params, RequestOptions options) { return transport.sendAsync(replaceRequest(params), options); }

}
