/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.InvitationCreateRequest;
import com.manyforge.sdk.models.InvitationPage;
import java.util.UUID;

public class BusinessInvitationsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessInvitationsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessInvitationsCreateParams {

    private final InvitationCreateRequest invitationCreateRequest;

    private BusinessInvitationsCreateParams(Builder builder) {

      this.invitationCreateRequest = builder.invitationCreateRequest;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.invitationCreateRequest = invitationCreateRequest;

      return builder;
    }
    public static final class Builder {

      private InvitationCreateRequest invitationCreateRequest;
      public Builder invitationCreateRequest(InvitationCreateRequest value) { this.invitationCreateRequest = value; return this; }

      public BusinessInvitationsCreateParams build() { return new BusinessInvitationsCreateParams(this); }
    }
  }
  private Request<Void> createRequest(BusinessInvitationsCreateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.invitationCreateRequest, "invitationCreateRequest");

    return new Request<>("POST", "/api/v1/businesses/{id}/invitations", parameters, params.invitationCreateRequest, "application/json", true, "management", false, null, new TypeReference<Void>() {});
  }
  public Void create(BusinessInvitationsCreateParams params) { return create(params, RequestOptions.DEFAULT); }
  public Void create(BusinessInvitationsCreateParams params, RequestOptions options) { return transport.send(createRequest(params), options); }
  public CompletableFuture<Void> createAsync(BusinessInvitationsCreateParams params) { return createAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Void> createAsync(BusinessInvitationsCreateParams params, RequestOptions options) { return transport.sendAsync(createRequest(params), options); }

  public static final class BusinessInvitationsDeleteParams {

    private final UUID invID;

    private BusinessInvitationsDeleteParams(Builder builder) {

      this.invID = builder.invID;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.invID = invID;

      return builder;
    }
    public static final class Builder {

      private UUID invID;
      public Builder invID(UUID value) { this.invID = value; return this; }

      public BusinessInvitationsDeleteParams build() { return new BusinessInvitationsDeleteParams(this); }
    }
  }
  private Request<Void> deleteRequest(BusinessInvitationsDeleteParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.invID, "invID");

    parameters.add(new Request.Parameter("invID", "path", params.invID, ""));
    return new Request<>("DELETE", "/api/v1/businesses/{id}/invitations/{invID}", parameters, null, "", true, "management", false, null, new TypeReference<Void>() {});
  }
  public Void delete(BusinessInvitationsDeleteParams params) { return delete(params, RequestOptions.DEFAULT); }
  public Void delete(BusinessInvitationsDeleteParams params, RequestOptions options) { return transport.send(deleteRequest(params), options); }
  public CompletableFuture<Void> deleteAsync(BusinessInvitationsDeleteParams params) { return deleteAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Void> deleteAsync(BusinessInvitationsDeleteParams params, RequestOptions options) { return transport.sendAsync(deleteRequest(params), options); }

  public static final class BusinessInvitationsListParams {

    private BusinessInvitationsListParams(Builder builder) {

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      return builder;
    }
    public static final class Builder {

      public BusinessInvitationsListParams build() { return new BusinessInvitationsListParams(this); }
    }
  }
  private Request<InvitationPage> listRequest(BusinessInvitationsListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/invitations", parameters, null, "", true, "management", false, null, new TypeReference<InvitationPage>() {});
  }
  public InvitationPage list(BusinessInvitationsListParams params) { return list(params, RequestOptions.DEFAULT); }
  public InvitationPage list(BusinessInvitationsListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<InvitationPage> listAsync(BusinessInvitationsListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<InvitationPage> listAsync(BusinessInvitationsListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }
  public InvitationPage list() { return list(BusinessInvitationsListParams.builder().build()); }
  public CompletableFuture<InvitationPage> listAsync() { return listAsync(BusinessInvitationsListParams.builder().build()); }

  public static final class BusinessInvitationsResendParams {

    private final UUID invID;

    private BusinessInvitationsResendParams(Builder builder) {

      this.invID = builder.invID;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.invID = invID;

      return builder;
    }
    public static final class Builder {

      private UUID invID;
      public Builder invID(UUID value) { this.invID = value; return this; }

      public BusinessInvitationsResendParams build() { return new BusinessInvitationsResendParams(this); }
    }
  }
  private Request<Void> resendRequest(BusinessInvitationsResendParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.invID, "invID");

    parameters.add(new Request.Parameter("invID", "path", params.invID, ""));
    return new Request<>("POST", "/api/v1/businesses/{id}/invitations/{invID}/resend", parameters, null, "", true, "management", false, null, new TypeReference<Void>() {});
  }
  public Void resend(BusinessInvitationsResendParams params) { return resend(params, RequestOptions.DEFAULT); }
  public Void resend(BusinessInvitationsResendParams params, RequestOptions options) { return transport.send(resendRequest(params), options); }
  public CompletableFuture<Void> resendAsync(BusinessInvitationsResendParams params) { return resendAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Void> resendAsync(BusinessInvitationsResendParams params, RequestOptions options) { return transport.sendAsync(resendRequest(params), options); }

}
