/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.ActivityList;
import com.manyforge.sdk.models.Error;
import java.util.UUID;

public class BusinessContactsActivityResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessContactsActivityResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessContactsActivityListParams {

    private final UUID cid;

    private final String cursor;

    private final Integer limit;

    private BusinessContactsActivityListParams(Builder builder) {

      this.cid = builder.cid;

      this.cursor = builder.cursor;

      this.limit = builder.limit;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.cid = cid;

      builder.cursor = cursor;

      builder.limit = limit;

      return builder;
    }
    public static final class Builder {

      private UUID cid;
      public Builder cid(UUID value) { this.cid = value; return this; }

      private String cursor;
      public Builder cursor(String value) { this.cursor = value; return this; }

      private Integer limit;
      public Builder limit(Integer value) { this.limit = value; return this; }

      public BusinessContactsActivityListParams build() { return new BusinessContactsActivityListParams(this); }
    }
  }
  private Request<ActivityList> listRequest(BusinessContactsActivityListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.cid, "cid");

    parameters.add(new Request.Parameter("cid", "path", params.cid, ""));

    parameters.add(new Request.Parameter("cursor", "query", params.cursor, ""));

    parameters.add(new Request.Parameter("limit", "query", params.limit, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/contacts/{cid}/activity", parameters, null, "", true, "management", false, null, new TypeReference<ActivityList>() {});
  }
  public ActivityList list(BusinessContactsActivityListParams params) { return list(params, RequestOptions.DEFAULT); }
  public ActivityList list(BusinessContactsActivityListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<ActivityList> listAsync(BusinessContactsActivityListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<ActivityList> listAsync(BusinessContactsActivityListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }
  public Iterable<ActivityEntry> iter(BusinessContactsActivityListParams params) { return iter(params, RequestOptions.DEFAULT); }
  public Iterable<ActivityEntry> iter(BusinessContactsActivityListParams params, RequestOptions options) {
    return Pages.iterate(params.cursor, cursor -> list(params.toBuilder().cursor(cursor).build(), options), page -> page.getItems(), page -> page.getNextCursor());
  }

}
