/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.CreateEmailDomain;
import com.manyforge.sdk.models.EmailDomain;
import com.manyforge.sdk.models.EmailDomainPage;
import com.manyforge.sdk.models.Error;
import java.util.UUID;

public class BusinessInboxEmailDomainsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessInboxEmailDomainsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessInboxEmailDomainsCreateParams {

    private final CreateEmailDomain createEmailDomain;

    private BusinessInboxEmailDomainsCreateParams(Builder builder) {

      this.createEmailDomain = builder.createEmailDomain;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.createEmailDomain = createEmailDomain;

      return builder;
    }
    public static final class Builder {

      private CreateEmailDomain createEmailDomain;
      public Builder createEmailDomain(CreateEmailDomain value) { this.createEmailDomain = value; return this; }

      public BusinessInboxEmailDomainsCreateParams build() { return new BusinessInboxEmailDomainsCreateParams(this); }
    }
  }
  private Request<EmailDomain> createRequest(BusinessInboxEmailDomainsCreateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.createEmailDomain, "createEmailDomain");

    return new Request<>("POST", "/api/v1/businesses/{id}/email-domains", parameters, params.createEmailDomain, "application/json", true, "management", false, null, new TypeReference<EmailDomain>() {});
  }
  public EmailDomain create(BusinessInboxEmailDomainsCreateParams params) { return create(params, RequestOptions.DEFAULT); }
  public EmailDomain create(BusinessInboxEmailDomainsCreateParams params, RequestOptions options) { return transport.send(createRequest(params), options); }
  public CompletableFuture<EmailDomain> createAsync(BusinessInboxEmailDomainsCreateParams params) { return createAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<EmailDomain> createAsync(BusinessInboxEmailDomainsCreateParams params, RequestOptions options) { return transport.sendAsync(createRequest(params), options); }

  public static final class BusinessInboxEmailDomainsListParams {

    private final String cursor;

    private final Integer limit;

    private BusinessInboxEmailDomainsListParams(Builder builder) {

      this.cursor = builder.cursor;

      this.limit = builder.limit;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.cursor = cursor;

      builder.limit = limit;

      return builder;
    }
    public static final class Builder {

      private String cursor;
      public Builder cursor(String value) { this.cursor = value; return this; }

      private Integer limit;
      public Builder limit(Integer value) { this.limit = value; return this; }

      public BusinessInboxEmailDomainsListParams build() { return new BusinessInboxEmailDomainsListParams(this); }
    }
  }
  private Request<EmailDomainPage> listRequest(BusinessInboxEmailDomainsListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    parameters.add(new Request.Parameter("cursor", "query", params.cursor, ""));

    parameters.add(new Request.Parameter("limit", "query", params.limit, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/email-domains", parameters, null, "", true, "management", false, null, new TypeReference<EmailDomainPage>() {});
  }
  public EmailDomainPage list(BusinessInboxEmailDomainsListParams params) { return list(params, RequestOptions.DEFAULT); }
  public EmailDomainPage list(BusinessInboxEmailDomainsListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<EmailDomainPage> listAsync(BusinessInboxEmailDomainsListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<EmailDomainPage> listAsync(BusinessInboxEmailDomainsListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }
  public EmailDomainPage list() { return list(BusinessInboxEmailDomainsListParams.builder().build()); }
  public CompletableFuture<EmailDomainPage> listAsync() { return listAsync(BusinessInboxEmailDomainsListParams.builder().build()); }
  public Iterable<EmailDomain> iter(BusinessInboxEmailDomainsListParams params) { return iter(params, RequestOptions.DEFAULT); }
  public Iterable<EmailDomain> iter(BusinessInboxEmailDomainsListParams params, RequestOptions options) {
    return Pages.iterate(params.cursor, cursor -> list(params.toBuilder().cursor(cursor).build(), options), page -> page.getItems(), page -> page.getNextCursor());
  }

  public static final class BusinessInboxEmailDomainsVerifyParams {

    private final UUID did;

    private BusinessInboxEmailDomainsVerifyParams(Builder builder) {

      this.did = builder.did;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.did = did;

      return builder;
    }
    public static final class Builder {

      private UUID did;
      public Builder did(UUID value) { this.did = value; return this; }

      public BusinessInboxEmailDomainsVerifyParams build() { return new BusinessInboxEmailDomainsVerifyParams(this); }
    }
  }
  private Request<EmailDomain> verifyRequest(BusinessInboxEmailDomainsVerifyParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.did, "did");

    parameters.add(new Request.Parameter("did", "path", params.did, ""));
    return new Request<>("POST", "/api/v1/businesses/{id}/email-domains/{did}/verify", parameters, null, "", true, "management", false, null, new TypeReference<EmailDomain>() {});
  }
  public EmailDomain verify(BusinessInboxEmailDomainsVerifyParams params) { return verify(params, RequestOptions.DEFAULT); }
  public EmailDomain verify(BusinessInboxEmailDomainsVerifyParams params, RequestOptions options) { return transport.send(verifyRequest(params), options); }
  public CompletableFuture<EmailDomain> verifyAsync(BusinessInboxEmailDomainsVerifyParams params) { return verifyAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<EmailDomain> verifyAsync(BusinessInboxEmailDomainsVerifyParams params, RequestOptions options) { return transport.sendAsync(verifyRequest(params), options); }

}
