/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.ApprovalItem;
import com.manyforge.sdk.models.ApprovalList;
import com.manyforge.sdk.models.Error;
import java.util.UUID;

public class BusinessApprovalsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessApprovalsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessApprovalsApproveParams {

    private final UUID approvalID;

    private BusinessApprovalsApproveParams(Builder builder) {

      this.approvalID = builder.approvalID;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.approvalID = approvalID;

      return builder;
    }
    public static final class Builder {

      private UUID approvalID;
      public Builder approvalID(UUID value) { this.approvalID = value; return this; }

      public BusinessApprovalsApproveParams build() { return new BusinessApprovalsApproveParams(this); }
    }
  }
  private Request<ApprovalItem> approveRequest(BusinessApprovalsApproveParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.approvalID, "approvalID");

    parameters.add(new Request.Parameter("approvalID", "path", params.approvalID, ""));
    return new Request<>("POST", "/api/v1/businesses/{id}/approvals/{approvalID}/approve", parameters, null, "", true, "management", false, null, new TypeReference<ApprovalItem>() {});
  }
  public ApprovalItem approve(BusinessApprovalsApproveParams params) { return approve(params, RequestOptions.DEFAULT); }
  public ApprovalItem approve(BusinessApprovalsApproveParams params, RequestOptions options) { return transport.send(approveRequest(params), options); }
  public CompletableFuture<ApprovalItem> approveAsync(BusinessApprovalsApproveParams params) { return approveAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<ApprovalItem> approveAsync(BusinessApprovalsApproveParams params, RequestOptions options) { return transport.sendAsync(approveRequest(params), options); }

  public static final class BusinessApprovalsDenyParams {

    private final UUID approvalID;

    private BusinessApprovalsDenyParams(Builder builder) {

      this.approvalID = builder.approvalID;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.approvalID = approvalID;

      return builder;
    }
    public static final class Builder {

      private UUID approvalID;
      public Builder approvalID(UUID value) { this.approvalID = value; return this; }

      public BusinessApprovalsDenyParams build() { return new BusinessApprovalsDenyParams(this); }
    }
  }
  private Request<ApprovalItem> denyRequest(BusinessApprovalsDenyParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.approvalID, "approvalID");

    parameters.add(new Request.Parameter("approvalID", "path", params.approvalID, ""));
    return new Request<>("POST", "/api/v1/businesses/{id}/approvals/{approvalID}/deny", parameters, null, "", true, "management", false, null, new TypeReference<ApprovalItem>() {});
  }
  public ApprovalItem deny(BusinessApprovalsDenyParams params) { return deny(params, RequestOptions.DEFAULT); }
  public ApprovalItem deny(BusinessApprovalsDenyParams params, RequestOptions options) { return transport.send(denyRequest(params), options); }
  public CompletableFuture<ApprovalItem> denyAsync(BusinessApprovalsDenyParams params) { return denyAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<ApprovalItem> denyAsync(BusinessApprovalsDenyParams params, RequestOptions options) { return transport.sendAsync(denyRequest(params), options); }

  public static final class BusinessApprovalsListParams {

    private BusinessApprovalsListParams(Builder builder) {

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      return builder;
    }
    public static final class Builder {

      public BusinessApprovalsListParams build() { return new BusinessApprovalsListParams(this); }
    }
  }
  private Request<ApprovalList> listRequest(BusinessApprovalsListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/approvals", parameters, null, "", true, "management", false, null, new TypeReference<ApprovalList>() {});
  }
  public ApprovalList list(BusinessApprovalsListParams params) { return list(params, RequestOptions.DEFAULT); }
  public ApprovalList list(BusinessApprovalsListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<ApprovalList> listAsync(BusinessApprovalsListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<ApprovalList> listAsync(BusinessApprovalsListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }
  public ApprovalList list() { return list(BusinessApprovalsListParams.builder().build()); }
  public CompletableFuture<ApprovalList> listAsync() { return listAsync(BusinessApprovalsListParams.builder().build()); }

}
