/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.ReviewDimensionInput;
import com.manyforge.sdk.models.ReviewDimensionList;
import com.manyforge.sdk.models.ReviewDimensionView;
import java.util.UUID;

public class BusinessReviewDimensionsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessReviewDimensionsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessReviewDimensionsDeleteParams {

    private final UUID dimID;

    private BusinessReviewDimensionsDeleteParams(Builder builder) {

      this.dimID = builder.dimID;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.dimID = dimID;

      return builder;
    }
    public static final class Builder {

      private UUID dimID;
      public Builder dimID(UUID value) { this.dimID = value; return this; }

      public BusinessReviewDimensionsDeleteParams build() { return new BusinessReviewDimensionsDeleteParams(this); }
    }
  }
  private Request<Void> deleteRequest(BusinessReviewDimensionsDeleteParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.dimID, "dimID");

    parameters.add(new Request.Parameter("dimID", "path", params.dimID, ""));
    return new Request<>("DELETE", "/api/v1/businesses/{id}/review-dimensions/{dimID}", parameters, null, "", true, "management", false, null, new TypeReference<Void>() {});
  }
  public Void delete(BusinessReviewDimensionsDeleteParams params) { return delete(params, RequestOptions.DEFAULT); }
  public Void delete(BusinessReviewDimensionsDeleteParams params, RequestOptions options) { return transport.send(deleteRequest(params), options); }
  public CompletableFuture<Void> deleteAsync(BusinessReviewDimensionsDeleteParams params) { return deleteAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Void> deleteAsync(BusinessReviewDimensionsDeleteParams params, RequestOptions options) { return transport.sendAsync(deleteRequest(params), options); }

  public static final class BusinessReviewDimensionsListParams {

    private BusinessReviewDimensionsListParams(Builder builder) {

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      return builder;
    }
    public static final class Builder {

      public BusinessReviewDimensionsListParams build() { return new BusinessReviewDimensionsListParams(this); }
    }
  }
  private Request<ReviewDimensionList> listRequest(BusinessReviewDimensionsListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/review-dimensions", parameters, null, "", true, "management", false, null, new TypeReference<ReviewDimensionList>() {});
  }
  public ReviewDimensionList list(BusinessReviewDimensionsListParams params) { return list(params, RequestOptions.DEFAULT); }
  public ReviewDimensionList list(BusinessReviewDimensionsListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<ReviewDimensionList> listAsync(BusinessReviewDimensionsListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<ReviewDimensionList> listAsync(BusinessReviewDimensionsListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }
  public ReviewDimensionList list() { return list(BusinessReviewDimensionsListParams.builder().build()); }
  public CompletableFuture<ReviewDimensionList> listAsync() { return listAsync(BusinessReviewDimensionsListParams.builder().build()); }

  public static final class BusinessReviewDimensionsCreateParams {

    private final ReviewDimensionInput reviewDimensionInput;

    private BusinessReviewDimensionsCreateParams(Builder builder) {

      this.reviewDimensionInput = builder.reviewDimensionInput;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.reviewDimensionInput = reviewDimensionInput;

      return builder;
    }
    public static final class Builder {

      private ReviewDimensionInput reviewDimensionInput;
      public Builder reviewDimensionInput(ReviewDimensionInput value) { this.reviewDimensionInput = value; return this; }

      public BusinessReviewDimensionsCreateParams build() { return new BusinessReviewDimensionsCreateParams(this); }
    }
  }
  private Request<ReviewDimensionView> createRequest(BusinessReviewDimensionsCreateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.reviewDimensionInput, "reviewDimensionInput");

    return new Request<>("POST", "/api/v1/businesses/{id}/review-dimensions", parameters, params.reviewDimensionInput, "application/json", true, "management", false, null, new TypeReference<ReviewDimensionView>() {});
  }
  public ReviewDimensionView create(BusinessReviewDimensionsCreateParams params) { return create(params, RequestOptions.DEFAULT); }
  public ReviewDimensionView create(BusinessReviewDimensionsCreateParams params, RequestOptions options) { return transport.send(createRequest(params), options); }
  public CompletableFuture<ReviewDimensionView> createAsync(BusinessReviewDimensionsCreateParams params) { return createAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<ReviewDimensionView> createAsync(BusinessReviewDimensionsCreateParams params, RequestOptions options) { return transport.sendAsync(createRequest(params), options); }

}
