/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.KeyPage;
import com.manyforge.sdk.models.ListKeyCreated;
import com.manyforge.sdk.models.ListKeyInput;
import java.util.UUID;

public class BusinessMailingKeysResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessMailingKeysResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessMailingKeysCreateParams {

    private final UUID lid;

    private final ListKeyInput listKeyInput;

    private BusinessMailingKeysCreateParams(Builder builder) {

      this.lid = builder.lid;

      this.listKeyInput = builder.listKeyInput;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.lid = lid;

      builder.listKeyInput = listKeyInput;

      return builder;
    }
    public static final class Builder {

      private UUID lid;
      public Builder lid(UUID value) { this.lid = value; return this; }

      private ListKeyInput listKeyInput;
      public Builder listKeyInput(ListKeyInput value) { this.listKeyInput = value; return this; }

      public BusinessMailingKeysCreateParams build() { return new BusinessMailingKeysCreateParams(this); }
    }
  }
  private Request<ListKeyCreated> createRequest(BusinessMailingKeysCreateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.lid, "lid");

    parameters.add(new Request.Parameter("lid", "path", params.lid, ""));

    Objects.requireNonNull(params.listKeyInput, "listKeyInput");

    return new Request<>("POST", "/api/v1/businesses/{id}/mailing/lists/{lid}/keys", parameters, params.listKeyInput, "application/json", true, "management", false, null, new TypeReference<ListKeyCreated>() {});
  }
  public ListKeyCreated create(BusinessMailingKeysCreateParams params) { return create(params, RequestOptions.DEFAULT); }
  public ListKeyCreated create(BusinessMailingKeysCreateParams params, RequestOptions options) { return transport.send(createRequest(params), options); }
  public CompletableFuture<ListKeyCreated> createAsync(BusinessMailingKeysCreateParams params) { return createAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<ListKeyCreated> createAsync(BusinessMailingKeysCreateParams params, RequestOptions options) { return transport.sendAsync(createRequest(params), options); }

  public static final class BusinessMailingKeysListParams {

    private final UUID lid;

    private final Integer limit;

    private BusinessMailingKeysListParams(Builder builder) {

      this.lid = builder.lid;

      this.limit = builder.limit;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.lid = lid;

      builder.limit = limit;

      return builder;
    }
    public static final class Builder {

      private UUID lid;
      public Builder lid(UUID value) { this.lid = value; return this; }

      private Integer limit;
      public Builder limit(Integer value) { this.limit = value; return this; }

      public BusinessMailingKeysListParams build() { return new BusinessMailingKeysListParams(this); }
    }
  }
  private Request<KeyPage> listRequest(BusinessMailingKeysListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.lid, "lid");

    parameters.add(new Request.Parameter("lid", "path", params.lid, ""));

    parameters.add(new Request.Parameter("limit", "query", params.limit, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/mailing/lists/{lid}/keys", parameters, null, "", true, "management", false, null, new TypeReference<KeyPage>() {});
  }
  public KeyPage list(BusinessMailingKeysListParams params) { return list(params, RequestOptions.DEFAULT); }
  public KeyPage list(BusinessMailingKeysListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<KeyPage> listAsync(BusinessMailingKeysListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<KeyPage> listAsync(BusinessMailingKeysListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }

  public static final class BusinessMailingKeysDeleteParams {

    private final UUID lid;

    private final UUID kid;

    private BusinessMailingKeysDeleteParams(Builder builder) {

      this.lid = builder.lid;

      this.kid = builder.kid;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.lid = lid;

      builder.kid = kid;

      return builder;
    }
    public static final class Builder {

      private UUID lid;
      public Builder lid(UUID value) { this.lid = value; return this; }

      private UUID kid;
      public Builder kid(UUID value) { this.kid = value; return this; }

      public BusinessMailingKeysDeleteParams build() { return new BusinessMailingKeysDeleteParams(this); }
    }
  }
  private Request<Void> deleteRequest(BusinessMailingKeysDeleteParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.lid, "lid");

    parameters.add(new Request.Parameter("lid", "path", params.lid, ""));

    Objects.requireNonNull(params.kid, "kid");

    parameters.add(new Request.Parameter("kid", "path", params.kid, ""));
    return new Request<>("DELETE", "/api/v1/businesses/{id}/mailing/lists/{lid}/keys/{kid}", parameters, null, "", true, "management", false, null, new TypeReference<Void>() {});
  }
  public Void delete(BusinessMailingKeysDeleteParams params) { return delete(params, RequestOptions.DEFAULT); }
  public Void delete(BusinessMailingKeysDeleteParams params, RequestOptions options) { return transport.send(deleteRequest(params), options); }
  public CompletableFuture<Void> deleteAsync(BusinessMailingKeysDeleteParams params) { return deleteAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Void> deleteAsync(BusinessMailingKeysDeleteParams params, RequestOptions options) { return transport.sendAsync(deleteRequest(params), options); }

}
