/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.MCPToolPolicy;
import com.manyforge.sdk.models.MCPToolPolicyList;
import com.manyforge.sdk.models.SetMCPToolPolicyRequest;
import java.util.UUID;

public class BusinessMcpServersToolPoliciesResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessMcpServersToolPoliciesResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessMcpServersToolPoliciesDeleteParams {

    private final UUID serverID;

    private final String toolName;

    private BusinessMcpServersToolPoliciesDeleteParams(Builder builder) {

      this.serverID = builder.serverID;

      this.toolName = builder.toolName;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.serverID = serverID;

      builder.toolName = toolName;

      return builder;
    }
    public static final class Builder {

      private UUID serverID;
      public Builder serverID(UUID value) { this.serverID = value; return this; }

      private String toolName;
      public Builder toolName(String value) { this.toolName = value; return this; }

      public BusinessMcpServersToolPoliciesDeleteParams build() { return new BusinessMcpServersToolPoliciesDeleteParams(this); }
    }
  }
  private Request<Void> deleteRequest(BusinessMcpServersToolPoliciesDeleteParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.serverID, "serverID");

    parameters.add(new Request.Parameter("serverID", "path", params.serverID, ""));

    Objects.requireNonNull(params.toolName, "toolName");

    parameters.add(new Request.Parameter("toolName", "path", params.toolName, ""));
    return new Request<>("DELETE", "/api/v1/businesses/{id}/mcp_servers/{serverID}/tool_policies/{toolName}", parameters, null, "", true, "management", false, null, new TypeReference<Void>() {});
  }
  public Void delete(BusinessMcpServersToolPoliciesDeleteParams params) { return delete(params, RequestOptions.DEFAULT); }
  public Void delete(BusinessMcpServersToolPoliciesDeleteParams params, RequestOptions options) { return transport.send(deleteRequest(params), options); }
  public CompletableFuture<Void> deleteAsync(BusinessMcpServersToolPoliciesDeleteParams params) { return deleteAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Void> deleteAsync(BusinessMcpServersToolPoliciesDeleteParams params, RequestOptions options) { return transport.sendAsync(deleteRequest(params), options); }

  public static final class BusinessMcpServersToolPoliciesListParams {

    private final UUID serverID;

    private BusinessMcpServersToolPoliciesListParams(Builder builder) {

      this.serverID = builder.serverID;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.serverID = serverID;

      return builder;
    }
    public static final class Builder {

      private UUID serverID;
      public Builder serverID(UUID value) { this.serverID = value; return this; }

      public BusinessMcpServersToolPoliciesListParams build() { return new BusinessMcpServersToolPoliciesListParams(this); }
    }
  }
  private Request<MCPToolPolicyList> listRequest(BusinessMcpServersToolPoliciesListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.serverID, "serverID");

    parameters.add(new Request.Parameter("serverID", "path", params.serverID, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/mcp_servers/{serverID}/tool_policies", parameters, null, "", true, "management", false, null, new TypeReference<MCPToolPolicyList>() {});
  }
  public MCPToolPolicyList list(BusinessMcpServersToolPoliciesListParams params) { return list(params, RequestOptions.DEFAULT); }
  public MCPToolPolicyList list(BusinessMcpServersToolPoliciesListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<MCPToolPolicyList> listAsync(BusinessMcpServersToolPoliciesListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<MCPToolPolicyList> listAsync(BusinessMcpServersToolPoliciesListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }

  public static final class BusinessMcpServersToolPoliciesReplaceParams {

    private final UUID serverID;

    private final String toolName;

    private final SetMCPToolPolicyRequest setMCPToolPolicyRequest;

    private BusinessMcpServersToolPoliciesReplaceParams(Builder builder) {

      this.serverID = builder.serverID;

      this.toolName = builder.toolName;

      this.setMCPToolPolicyRequest = builder.setMCPToolPolicyRequest;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.serverID = serverID;

      builder.toolName = toolName;

      builder.setMCPToolPolicyRequest = setMCPToolPolicyRequest;

      return builder;
    }
    public static final class Builder {

      private UUID serverID;
      public Builder serverID(UUID value) { this.serverID = value; return this; }

      private String toolName;
      public Builder toolName(String value) { this.toolName = value; return this; }

      private SetMCPToolPolicyRequest setMCPToolPolicyRequest;
      public Builder setMCPToolPolicyRequest(SetMCPToolPolicyRequest value) { this.setMCPToolPolicyRequest = value; return this; }

      public BusinessMcpServersToolPoliciesReplaceParams build() { return new BusinessMcpServersToolPoliciesReplaceParams(this); }
    }
  }
  private Request<MCPToolPolicy> replaceRequest(BusinessMcpServersToolPoliciesReplaceParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.serverID, "serverID");

    parameters.add(new Request.Parameter("serverID", "path", params.serverID, ""));

    Objects.requireNonNull(params.toolName, "toolName");

    parameters.add(new Request.Parameter("toolName", "path", params.toolName, ""));

    Objects.requireNonNull(params.setMCPToolPolicyRequest, "setMCPToolPolicyRequest");

    return new Request<>("PUT", "/api/v1/businesses/{id}/mcp_servers/{serverID}/tool_policies/{toolName}", parameters, params.setMCPToolPolicyRequest, "application/json", true, "management", false, null, new TypeReference<MCPToolPolicy>() {});
  }
  public MCPToolPolicy replace(BusinessMcpServersToolPoliciesReplaceParams params) { return replace(params, RequestOptions.DEFAULT); }
  public MCPToolPolicy replace(BusinessMcpServersToolPoliciesReplaceParams params, RequestOptions options) { return transport.send(replaceRequest(params), options); }
  public CompletableFuture<MCPToolPolicy> replaceAsync(BusinessMcpServersToolPoliciesReplaceParams params) { return replaceAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<MCPToolPolicy> replaceAsync(BusinessMcpServersToolPoliciesReplaceParams params, RequestOptions options) { return transport.sendAsync(replaceRequest(params), options); }

}
