/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.IngestKey;
import com.manyforge.sdk.models.IngestKeyCreate;
import com.manyforge.sdk.models.IngestKeyCreated;
import com.manyforge.sdk.models.IngestKeyList;
import java.util.UUID;

public class BusinessFeedbackKeysResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessFeedbackKeysResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessFeedbackKeysCreateParams {

    private final UUID bid;

    private final IngestKeyCreate ingestKeyCreate;

    private BusinessFeedbackKeysCreateParams(Builder builder) {

      this.bid = builder.bid;

      this.ingestKeyCreate = builder.ingestKeyCreate;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.bid = bid;

      builder.ingestKeyCreate = ingestKeyCreate;

      return builder;
    }
    public static final class Builder {

      private UUID bid;
      public Builder bid(UUID value) { this.bid = value; return this; }

      private IngestKeyCreate ingestKeyCreate;
      public Builder ingestKeyCreate(IngestKeyCreate value) { this.ingestKeyCreate = value; return this; }

      public BusinessFeedbackKeysCreateParams build() { return new BusinessFeedbackKeysCreateParams(this); }
    }
  }
  private Request<IngestKeyCreated> createRequest(BusinessFeedbackKeysCreateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.bid, "bid");

    parameters.add(new Request.Parameter("bid", "path", params.bid, ""));

    Objects.requireNonNull(params.ingestKeyCreate, "ingestKeyCreate");

    return new Request<>("POST", "/api/v1/businesses/{id}/feedback/boards/{bid}/keys", parameters, params.ingestKeyCreate, "application/json", true, "management", false, null, new TypeReference<IngestKeyCreated>() {});
  }
  public IngestKeyCreated create(BusinessFeedbackKeysCreateParams params) { return create(params, RequestOptions.DEFAULT); }
  public IngestKeyCreated create(BusinessFeedbackKeysCreateParams params, RequestOptions options) { return transport.send(createRequest(params), options); }
  public CompletableFuture<IngestKeyCreated> createAsync(BusinessFeedbackKeysCreateParams params) { return createAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<IngestKeyCreated> createAsync(BusinessFeedbackKeysCreateParams params, RequestOptions options) { return transport.sendAsync(createRequest(params), options); }

  public static final class BusinessFeedbackKeysListParams {

    private final UUID bid;

    private final Integer limit;

    private BusinessFeedbackKeysListParams(Builder builder) {

      this.bid = builder.bid;

      this.limit = builder.limit;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.bid = bid;

      builder.limit = limit;

      return builder;
    }
    public static final class Builder {

      private UUID bid;
      public Builder bid(UUID value) { this.bid = value; return this; }

      private Integer limit;
      public Builder limit(Integer value) { this.limit = value; return this; }

      public BusinessFeedbackKeysListParams build() { return new BusinessFeedbackKeysListParams(this); }
    }
  }
  private Request<IngestKeyList> listRequest(BusinessFeedbackKeysListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.bid, "bid");

    parameters.add(new Request.Parameter("bid", "path", params.bid, ""));

    parameters.add(new Request.Parameter("limit", "query", params.limit, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/feedback/boards/{bid}/keys", parameters, null, "", true, "management", false, null, new TypeReference<IngestKeyList>() {});
  }
  public IngestKeyList list(BusinessFeedbackKeysListParams params) { return list(params, RequestOptions.DEFAULT); }
  public IngestKeyList list(BusinessFeedbackKeysListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<IngestKeyList> listAsync(BusinessFeedbackKeysListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<IngestKeyList> listAsync(BusinessFeedbackKeysListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }

  public static final class BusinessFeedbackKeysRevokeParams {

    private final UUID kid;

    private BusinessFeedbackKeysRevokeParams(Builder builder) {

      this.kid = builder.kid;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.kid = kid;

      return builder;
    }
    public static final class Builder {

      private UUID kid;
      public Builder kid(UUID value) { this.kid = value; return this; }

      public BusinessFeedbackKeysRevokeParams build() { return new BusinessFeedbackKeysRevokeParams(this); }
    }
  }
  private Request<IngestKey> revokeRequest(BusinessFeedbackKeysRevokeParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.kid, "kid");

    parameters.add(new Request.Parameter("kid", "path", params.kid, ""));
    return new Request<>("POST", "/api/v1/businesses/{id}/feedback/keys/{kid}/revoke", parameters, null, "", true, "management", false, null, new TypeReference<IngestKey>() {});
  }
  public IngestKey revoke(BusinessFeedbackKeysRevokeParams params) { return revoke(params, RequestOptions.DEFAULT); }
  public IngestKey revoke(BusinessFeedbackKeysRevokeParams params, RequestOptions options) { return transport.send(revokeRequest(params), options); }
  public CompletableFuture<IngestKey> revokeAsync(BusinessFeedbackKeysRevokeParams params) { return revokeAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<IngestKey> revokeAsync(BusinessFeedbackKeysRevokeParams params, RequestOptions options) { return transport.sendAsync(revokeRequest(params), options); }

}
