/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.MailingSetup;
import java.util.UUID;

public class BusinessMailingSetupResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessMailingSetupResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessMailingSetupGetParams {

    private BusinessMailingSetupGetParams(Builder builder) {

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      return builder;
    }
    public static final class Builder {

      public BusinessMailingSetupGetParams build() { return new BusinessMailingSetupGetParams(this); }
    }
  }
  private Request<MailingSetup> getRequest(BusinessMailingSetupGetParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/mailing/setup", parameters, null, "", true, "management", false, null, new TypeReference<MailingSetup>() {});
  }
  public MailingSetup get(BusinessMailingSetupGetParams params) { return get(params, RequestOptions.DEFAULT); }
  public MailingSetup get(BusinessMailingSetupGetParams params, RequestOptions options) { return transport.send(getRequest(params), options); }
  public CompletableFuture<MailingSetup> getAsync(BusinessMailingSetupGetParams params) { return getAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<MailingSetup> getAsync(BusinessMailingSetupGetParams params, RequestOptions options) { return transport.sendAsync(getRequest(params), options); }
  public MailingSetup get() { return get(BusinessMailingSetupGetParams.builder().build()); }
  public CompletableFuture<MailingSetup> getAsync() { return getAsync(BusinessMailingSetupGetParams.builder().build()); }

}
