/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.CreateInboundAddress;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.InboundAddress;
import com.manyforge.sdk.models.InboundAddressPage;
import java.util.UUID;

public class BusinessInboxInboundAddressesResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessInboxInboundAddressesResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessInboxInboundAddressesCreateParams {

    private final CreateInboundAddress createInboundAddress;

    private BusinessInboxInboundAddressesCreateParams(Builder builder) {

      this.createInboundAddress = builder.createInboundAddress;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.createInboundAddress = createInboundAddress;

      return builder;
    }
    public static final class Builder {

      private CreateInboundAddress createInboundAddress;
      public Builder createInboundAddress(CreateInboundAddress value) { this.createInboundAddress = value; return this; }

      public BusinessInboxInboundAddressesCreateParams build() { return new BusinessInboxInboundAddressesCreateParams(this); }
    }
  }
  private Request<InboundAddress> createRequest(BusinessInboxInboundAddressesCreateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.createInboundAddress, "createInboundAddress");

    return new Request<>("POST", "/api/v1/businesses/{id}/inbound-addresses", parameters, params.createInboundAddress, "application/json", true, "management", false, null, new TypeReference<InboundAddress>() {});
  }
  public InboundAddress create(BusinessInboxInboundAddressesCreateParams params) { return create(params, RequestOptions.DEFAULT); }
  public InboundAddress create(BusinessInboxInboundAddressesCreateParams params, RequestOptions options) { return transport.send(createRequest(params), options); }
  public CompletableFuture<InboundAddress> createAsync(BusinessInboxInboundAddressesCreateParams params) { return createAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<InboundAddress> createAsync(BusinessInboxInboundAddressesCreateParams params, RequestOptions options) { return transport.sendAsync(createRequest(params), options); }

  public static final class BusinessInboxInboundAddressesListParams {

    private final String cursor;

    private final Integer limit;

    private BusinessInboxInboundAddressesListParams(Builder builder) {

      this.cursor = builder.cursor;

      this.limit = builder.limit;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.cursor = cursor;

      builder.limit = limit;

      return builder;
    }
    public static final class Builder {

      private String cursor;
      public Builder cursor(String value) { this.cursor = value; return this; }

      private Integer limit;
      public Builder limit(Integer value) { this.limit = value; return this; }

      public BusinessInboxInboundAddressesListParams build() { return new BusinessInboxInboundAddressesListParams(this); }
    }
  }
  private Request<InboundAddressPage> listRequest(BusinessInboxInboundAddressesListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    parameters.add(new Request.Parameter("cursor", "query", params.cursor, ""));

    parameters.add(new Request.Parameter("limit", "query", params.limit, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/inbound-addresses", parameters, null, "", true, "management", false, null, new TypeReference<InboundAddressPage>() {});
  }
  public InboundAddressPage list(BusinessInboxInboundAddressesListParams params) { return list(params, RequestOptions.DEFAULT); }
  public InboundAddressPage list(BusinessInboxInboundAddressesListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<InboundAddressPage> listAsync(BusinessInboxInboundAddressesListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<InboundAddressPage> listAsync(BusinessInboxInboundAddressesListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }
  public InboundAddressPage list() { return list(BusinessInboxInboundAddressesListParams.builder().build()); }
  public CompletableFuture<InboundAddressPage> listAsync() { return listAsync(BusinessInboxInboundAddressesListParams.builder().build()); }
  public Iterable<InboundAddress> iter(BusinessInboxInboundAddressesListParams params) { return iter(params, RequestOptions.DEFAULT); }
  public Iterable<InboundAddress> iter(BusinessInboxInboundAddressesListParams params, RequestOptions options) {
    return Pages.iterate(params.cursor, cursor -> list(params.toBuilder().cursor(cursor).build(), options), page -> page.getItems(), page -> page.getNextCursor());
  }

}
