/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.MCPToolDiscovery;
import java.util.UUID;

public class BusinessMcpServersToolsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessMcpServersToolsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessMcpServersToolsListParams {

    private final UUID serverID;

    private BusinessMcpServersToolsListParams(Builder builder) {

      this.serverID = builder.serverID;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.serverID = serverID;

      return builder;
    }
    public static final class Builder {

      private UUID serverID;
      public Builder serverID(UUID value) { this.serverID = value; return this; }

      public BusinessMcpServersToolsListParams build() { return new BusinessMcpServersToolsListParams(this); }
    }
  }
  private Request<MCPToolDiscovery> listRequest(BusinessMcpServersToolsListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.serverID, "serverID");

    parameters.add(new Request.Parameter("serverID", "path", params.serverID, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/mcp_servers/{serverID}/tools", parameters, null, "", true, "management", false, null, new TypeReference<MCPToolDiscovery>() {});
  }
  public MCPToolDiscovery list(BusinessMcpServersToolsListParams params) { return list(params, RequestOptions.DEFAULT); }
  public MCPToolDiscovery list(BusinessMcpServersToolsListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<MCPToolDiscovery> listAsync(BusinessMcpServersToolsListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<MCPToolDiscovery> listAsync(BusinessMcpServersToolsListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }

}
