/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.AgentRunPage;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.Run;
import com.manyforge.sdk.models.TriggerRunRequest;
import java.util.UUID;

public class BusinessAgentRunsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessAgentRunsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessAgentRunsGetParams {

    private final UUID agentID;

    private final UUID runID;

    private BusinessAgentRunsGetParams(Builder builder) {

      this.agentID = builder.agentID;

      this.runID = builder.runID;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.agentID = agentID;

      builder.runID = runID;

      return builder;
    }
    public static final class Builder {

      private UUID agentID;
      public Builder agentID(UUID value) { this.agentID = value; return this; }

      private UUID runID;
      public Builder runID(UUID value) { this.runID = value; return this; }

      public BusinessAgentRunsGetParams build() { return new BusinessAgentRunsGetParams(this); }
    }
  }
  private Request<Run> getRequest(BusinessAgentRunsGetParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.agentID, "agentID");

    parameters.add(new Request.Parameter("agentID", "path", params.agentID, ""));

    Objects.requireNonNull(params.runID, "runID");

    parameters.add(new Request.Parameter("runID", "path", params.runID, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/agents/{agentID}/runs/{runID}", parameters, null, "", true, "management", false, null, new TypeReference<Run>() {});
  }
  public Run get(BusinessAgentRunsGetParams params) { return get(params, RequestOptions.DEFAULT); }
  public Run get(BusinessAgentRunsGetParams params, RequestOptions options) { return transport.send(getRequest(params), options); }
  public CompletableFuture<Run> getAsync(BusinessAgentRunsGetParams params) { return getAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Run> getAsync(BusinessAgentRunsGetParams params, RequestOptions options) { return transport.sendAsync(getRequest(params), options); }

  public static final class BusinessAgentRunsListParams {

    private final UUID agentID;

    private final String status;

    private final String window;

    private final String from;

    private final String to;

    private final String cursor;

    private final Long limit;

    private BusinessAgentRunsListParams(Builder builder) {

      this.agentID = builder.agentID;

      this.status = builder.status;

      this.window = builder.window;

      this.from = builder.from;

      this.to = builder.to;

      this.cursor = builder.cursor;

      this.limit = builder.limit;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.agentID = agentID;

      builder.status = status;

      builder.window = window;

      builder.from = from;

      builder.to = to;

      builder.cursor = cursor;

      builder.limit = limit;

      return builder;
    }
    public static final class Builder {

      private UUID agentID;
      public Builder agentID(UUID value) { this.agentID = value; return this; }

      private String status;
      public Builder status(String value) { this.status = value; return this; }

      private String window;
      public Builder window(String value) { this.window = value; return this; }

      private String from;
      public Builder from(String value) { this.from = value; return this; }

      private String to;
      public Builder to(String value) { this.to = value; return this; }

      private String cursor;
      public Builder cursor(String value) { this.cursor = value; return this; }

      private Long limit;
      public Builder limit(Long value) { this.limit = value; return this; }

      public BusinessAgentRunsListParams build() { return new BusinessAgentRunsListParams(this); }
    }
  }
  private Request<AgentRunPage> listRequest(BusinessAgentRunsListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.agentID, "agentID");

    parameters.add(new Request.Parameter("agentID", "path", params.agentID, ""));

    parameters.add(new Request.Parameter("status", "query", params.status, ""));

    parameters.add(new Request.Parameter("window", "query", params.window, ""));

    parameters.add(new Request.Parameter("from", "query", params.from, ""));

    parameters.add(new Request.Parameter("to", "query", params.to, ""));

    parameters.add(new Request.Parameter("cursor", "query", params.cursor, ""));

    parameters.add(new Request.Parameter("limit", "query", params.limit, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/agents/{agentID}/runs", parameters, null, "", true, "management", false, null, new TypeReference<AgentRunPage>() {});
  }
  public AgentRunPage list(BusinessAgentRunsListParams params) { return list(params, RequestOptions.DEFAULT); }
  public AgentRunPage list(BusinessAgentRunsListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<AgentRunPage> listAsync(BusinessAgentRunsListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<AgentRunPage> listAsync(BusinessAgentRunsListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }
  public Iterable<RunSummary> iter(BusinessAgentRunsListParams params) { return iter(params, RequestOptions.DEFAULT); }
  public Iterable<RunSummary> iter(BusinessAgentRunsListParams params, RequestOptions options) {
    return Pages.iterate(params.cursor, cursor -> list(params.toBuilder().cursor(cursor).build(), options), page -> page.getItems(), page -> page.getNextCursor());
  }

  public static final class BusinessAgentRunsCreateParams {

    private final UUID agentID;

    private final TriggerRunRequest triggerRunRequest;

    private BusinessAgentRunsCreateParams(Builder builder) {

      this.agentID = builder.agentID;

      this.triggerRunRequest = builder.triggerRunRequest;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.agentID = agentID;

      builder.triggerRunRequest = triggerRunRequest;

      return builder;
    }
    public static final class Builder {

      private UUID agentID;
      public Builder agentID(UUID value) { this.agentID = value; return this; }

      private TriggerRunRequest triggerRunRequest;
      public Builder triggerRunRequest(TriggerRunRequest value) { this.triggerRunRequest = value; return this; }

      public BusinessAgentRunsCreateParams build() { return new BusinessAgentRunsCreateParams(this); }
    }
  }
  private Request<Run> createRequest(BusinessAgentRunsCreateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.agentID, "agentID");

    parameters.add(new Request.Parameter("agentID", "path", params.agentID, ""));

    return new Request<>("POST", "/api/v1/businesses/{id}/agents/{agentID}/runs", parameters, params.triggerRunRequest, "application/json", true, "management", false, null, new TypeReference<Run>() {});
  }
  public Run create(BusinessAgentRunsCreateParams params) { return create(params, RequestOptions.DEFAULT); }
  public Run create(BusinessAgentRunsCreateParams params, RequestOptions options) { return transport.send(createRequest(params), options); }
  public CompletableFuture<Run> createAsync(BusinessAgentRunsCreateParams params) { return createAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Run> createAsync(BusinessAgentRunsCreateParams params, RequestOptions options) { return transport.sendAsync(createRequest(params), options); }

}
