/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.CreateRepoConnectorInput;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.IDResponse;
import com.manyforge.sdk.models.RepoConnectorList;
import java.util.UUID;

public class BusinessRepoConnectorsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessRepoConnectorsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessRepoConnectorsCreateParams {

    private final CreateRepoConnectorInput createRepoConnectorInput;

    private BusinessRepoConnectorsCreateParams(Builder builder) {

      this.createRepoConnectorInput = builder.createRepoConnectorInput;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.createRepoConnectorInput = createRepoConnectorInput;

      return builder;
    }
    public static final class Builder {

      private CreateRepoConnectorInput createRepoConnectorInput;
      public Builder createRepoConnectorInput(CreateRepoConnectorInput value) { this.createRepoConnectorInput = value; return this; }

      public BusinessRepoConnectorsCreateParams build() { return new BusinessRepoConnectorsCreateParams(this); }
    }
  }
  private Request<IDResponse> createRequest(BusinessRepoConnectorsCreateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.createRepoConnectorInput, "createRepoConnectorInput");

    return new Request<>("POST", "/api/v1/businesses/{id}/repo-connectors", parameters, params.createRepoConnectorInput, "application/json", true, "management", false, null, new TypeReference<IDResponse>() {});
  }
  public IDResponse create(BusinessRepoConnectorsCreateParams params) { return create(params, RequestOptions.DEFAULT); }
  public IDResponse create(BusinessRepoConnectorsCreateParams params, RequestOptions options) { return transport.send(createRequest(params), options); }
  public CompletableFuture<IDResponse> createAsync(BusinessRepoConnectorsCreateParams params) { return createAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<IDResponse> createAsync(BusinessRepoConnectorsCreateParams params, RequestOptions options) { return transport.sendAsync(createRequest(params), options); }

  public static final class BusinessRepoConnectorsDeleteParams {

    private final UUID rcID;

    private BusinessRepoConnectorsDeleteParams(Builder builder) {

      this.rcID = builder.rcID;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.rcID = rcID;

      return builder;
    }
    public static final class Builder {

      private UUID rcID;
      public Builder rcID(UUID value) { this.rcID = value; return this; }

      public BusinessRepoConnectorsDeleteParams build() { return new BusinessRepoConnectorsDeleteParams(this); }
    }
  }
  private Request<Void> deleteRequest(BusinessRepoConnectorsDeleteParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.rcID, "rcID");

    parameters.add(new Request.Parameter("rcID", "path", params.rcID, ""));
    return new Request<>("DELETE", "/api/v1/businesses/{id}/repo-connectors/{rcID}", parameters, null, "", true, "management", false, null, new TypeReference<Void>() {});
  }
  public Void delete(BusinessRepoConnectorsDeleteParams params) { return delete(params, RequestOptions.DEFAULT); }
  public Void delete(BusinessRepoConnectorsDeleteParams params, RequestOptions options) { return transport.send(deleteRequest(params), options); }
  public CompletableFuture<Void> deleteAsync(BusinessRepoConnectorsDeleteParams params) { return deleteAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Void> deleteAsync(BusinessRepoConnectorsDeleteParams params, RequestOptions options) { return transport.sendAsync(deleteRequest(params), options); }

  public static final class BusinessRepoConnectorsListParams {

    private BusinessRepoConnectorsListParams(Builder builder) {

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      return builder;
    }
    public static final class Builder {

      public BusinessRepoConnectorsListParams build() { return new BusinessRepoConnectorsListParams(this); }
    }
  }
  private Request<RepoConnectorList> listRequest(BusinessRepoConnectorsListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/repo-connectors", parameters, null, "", true, "management", false, null, new TypeReference<RepoConnectorList>() {});
  }
  public RepoConnectorList list(BusinessRepoConnectorsListParams params) { return list(params, RequestOptions.DEFAULT); }
  public RepoConnectorList list(BusinessRepoConnectorsListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<RepoConnectorList> listAsync(BusinessRepoConnectorsListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<RepoConnectorList> listAsync(BusinessRepoConnectorsListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }
  public RepoConnectorList list() { return list(BusinessRepoConnectorsListParams.builder().build()); }
  public CompletableFuture<RepoConnectorList> listAsync() { return listAsync(BusinessRepoConnectorsListParams.builder().build()); }

}
