/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Connector;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.RotateCredential;
import java.util.UUID;

public class BusinessConnectorsCredentialsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessConnectorsCredentialsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessConnectorsCredentialsReplaceParams {

    private final UUID cid;

    private final RotateCredential rotateCredential;

    private BusinessConnectorsCredentialsReplaceParams(Builder builder) {

      this.cid = builder.cid;

      this.rotateCredential = builder.rotateCredential;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.cid = cid;

      builder.rotateCredential = rotateCredential;

      return builder;
    }
    public static final class Builder {

      private UUID cid;
      public Builder cid(UUID value) { this.cid = value; return this; }

      private RotateCredential rotateCredential;
      public Builder rotateCredential(RotateCredential value) { this.rotateCredential = value; return this; }

      public BusinessConnectorsCredentialsReplaceParams build() { return new BusinessConnectorsCredentialsReplaceParams(this); }
    }
  }
  private Request<Connector> replaceRequest(BusinessConnectorsCredentialsReplaceParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.cid, "cid");

    parameters.add(new Request.Parameter("cid", "path", params.cid, ""));

    Objects.requireNonNull(params.rotateCredential, "rotateCredential");

    return new Request<>("PUT", "/api/v1/businesses/{id}/connectors/{cid}/credential", parameters, params.rotateCredential, "application/json", true, "management", false, null, new TypeReference<Connector>() {});
  }
  public Connector replace(BusinessConnectorsCredentialsReplaceParams params) { return replace(params, RequestOptions.DEFAULT); }
  public Connector replace(BusinessConnectorsCredentialsReplaceParams params, RequestOptions options) { return transport.send(replaceRequest(params), options); }
  public CompletableFuture<Connector> replaceAsync(BusinessConnectorsCredentialsReplaceParams params) { return replaceAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Connector> replaceAsync(BusinessConnectorsCredentialsReplaceParams params, RequestOptions options) { return transport.sendAsync(replaceRequest(params), options); }

}
