/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.CodexConnectRequest;
import com.manyforge.sdk.models.CodexConnectStatus;
import com.manyforge.sdk.models.CodexPKCEExchangeRequest;
import com.manyforge.sdk.models.CodexPKCEStart;
import com.manyforge.sdk.models.Error;
import java.util.UUID;

public class BusinessAiCredentialsCodexPkceResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessAiCredentialsCodexPkceResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessAiCredentialsCodexPkceExchangeParams {

    private final CodexPKCEExchangeRequest codexPKCEExchangeRequest;

    private BusinessAiCredentialsCodexPkceExchangeParams(Builder builder) {

      this.codexPKCEExchangeRequest = builder.codexPKCEExchangeRequest;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.codexPKCEExchangeRequest = codexPKCEExchangeRequest;

      return builder;
    }
    public static final class Builder {

      private CodexPKCEExchangeRequest codexPKCEExchangeRequest;
      public Builder codexPKCEExchangeRequest(CodexPKCEExchangeRequest value) { this.codexPKCEExchangeRequest = value; return this; }

      public BusinessAiCredentialsCodexPkceExchangeParams build() { return new BusinessAiCredentialsCodexPkceExchangeParams(this); }
    }
  }
  private Request<CodexConnectStatus> exchangeRequest(BusinessAiCredentialsCodexPkceExchangeParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.codexPKCEExchangeRequest, "codexPKCEExchangeRequest");

    return new Request<>("POST", "/api/v1/businesses/{id}/ai_credentials/codex/pkce/exchange", parameters, params.codexPKCEExchangeRequest, "application/json", true, "management", false, null, new TypeReference<CodexConnectStatus>() {});
  }
  public CodexConnectStatus exchange(BusinessAiCredentialsCodexPkceExchangeParams params) { return exchange(params, RequestOptions.DEFAULT); }
  public CodexConnectStatus exchange(BusinessAiCredentialsCodexPkceExchangeParams params, RequestOptions options) { return transport.send(exchangeRequest(params), options); }
  public CompletableFuture<CodexConnectStatus> exchangeAsync(BusinessAiCredentialsCodexPkceExchangeParams params) { return exchangeAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<CodexConnectStatus> exchangeAsync(BusinessAiCredentialsCodexPkceExchangeParams params, RequestOptions options) { return transport.sendAsync(exchangeRequest(params), options); }

  public static final class BusinessAiCredentialsCodexPkceStartParams {

    private final CodexConnectRequest codexConnectRequest;

    private BusinessAiCredentialsCodexPkceStartParams(Builder builder) {

      this.codexConnectRequest = builder.codexConnectRequest;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.codexConnectRequest = codexConnectRequest;

      return builder;
    }
    public static final class Builder {

      private CodexConnectRequest codexConnectRequest;
      public Builder codexConnectRequest(CodexConnectRequest value) { this.codexConnectRequest = value; return this; }

      public BusinessAiCredentialsCodexPkceStartParams build() { return new BusinessAiCredentialsCodexPkceStartParams(this); }
    }
  }
  private Request<CodexPKCEStart> startRequest(BusinessAiCredentialsCodexPkceStartParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.codexConnectRequest, "codexConnectRequest");

    return new Request<>("POST", "/api/v1/businesses/{id}/ai_credentials/codex/pkce/start", parameters, params.codexConnectRequest, "application/json", true, "management", false, null, new TypeReference<CodexPKCEStart>() {});
  }
  public CodexPKCEStart start(BusinessAiCredentialsCodexPkceStartParams params) { return start(params, RequestOptions.DEFAULT); }
  public CodexPKCEStart start(BusinessAiCredentialsCodexPkceStartParams params, RequestOptions options) { return transport.send(startRequest(params), options); }
  public CompletableFuture<CodexPKCEStart> startAsync(BusinessAiCredentialsCodexPkceStartParams params) { return startAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<CodexPKCEStart> startAsync(BusinessAiCredentialsCodexPkceStartParams params, RequestOptions options) { return transport.sendAsync(startRequest(params), options); }

}
