/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.ConnectorFailedOpsDismissResult;
import com.manyforge.sdk.models.ConnectorFailedOpsRetryResult;
import com.manyforge.sdk.models.Error;
import java.util.UUID;

public class BusinessConnectorsFailedOpsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessConnectorsFailedOpsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessConnectorsFailedOpsDismissParams {

    private final UUID cid;

    private BusinessConnectorsFailedOpsDismissParams(Builder builder) {

      this.cid = builder.cid;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.cid = cid;

      return builder;
    }
    public static final class Builder {

      private UUID cid;
      public Builder cid(UUID value) { this.cid = value; return this; }

      public BusinessConnectorsFailedOpsDismissParams build() { return new BusinessConnectorsFailedOpsDismissParams(this); }
    }
  }
  private Request<ConnectorFailedOpsDismissResult> dismissRequest(BusinessConnectorsFailedOpsDismissParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.cid, "cid");

    parameters.add(new Request.Parameter("cid", "path", params.cid, ""));
    return new Request<>("POST", "/api/v1/businesses/{id}/connectors/{cid}/failed-ops/dismiss", parameters, null, "", true, "management", false, null, new TypeReference<ConnectorFailedOpsDismissResult>() {});
  }
  public ConnectorFailedOpsDismissResult dismiss(BusinessConnectorsFailedOpsDismissParams params) { return dismiss(params, RequestOptions.DEFAULT); }
  public ConnectorFailedOpsDismissResult dismiss(BusinessConnectorsFailedOpsDismissParams params, RequestOptions options) { return transport.send(dismissRequest(params), options); }
  public CompletableFuture<ConnectorFailedOpsDismissResult> dismissAsync(BusinessConnectorsFailedOpsDismissParams params) { return dismissAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<ConnectorFailedOpsDismissResult> dismissAsync(BusinessConnectorsFailedOpsDismissParams params, RequestOptions options) { return transport.sendAsync(dismissRequest(params), options); }

  public static final class BusinessConnectorsFailedOpsRetryParams {

    private final UUID cid;

    private BusinessConnectorsFailedOpsRetryParams(Builder builder) {

      this.cid = builder.cid;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.cid = cid;

      return builder;
    }
    public static final class Builder {

      private UUID cid;
      public Builder cid(UUID value) { this.cid = value; return this; }

      public BusinessConnectorsFailedOpsRetryParams build() { return new BusinessConnectorsFailedOpsRetryParams(this); }
    }
  }
  private Request<ConnectorFailedOpsRetryResult> retryRequest(BusinessConnectorsFailedOpsRetryParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.cid, "cid");

    parameters.add(new Request.Parameter("cid", "path", params.cid, ""));
    return new Request<>("POST", "/api/v1/businesses/{id}/connectors/{cid}/failed-ops/retry", parameters, null, "", true, "management", false, null, new TypeReference<ConnectorFailedOpsRetryResult>() {});
  }
  public ConnectorFailedOpsRetryResult retry(BusinessConnectorsFailedOpsRetryParams params) { return retry(params, RequestOptions.DEFAULT); }
  public ConnectorFailedOpsRetryResult retry(BusinessConnectorsFailedOpsRetryParams params, RequestOptions options) { return transport.send(retryRequest(params), options); }
  public CompletableFuture<ConnectorFailedOpsRetryResult> retryAsync(BusinessConnectorsFailedOpsRetryParams params) { return retryAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<ConnectorFailedOpsRetryResult> retryAsync(BusinessConnectorsFailedOpsRetryParams params, RequestOptions options) { return transport.sendAsync(retryRequest(params), options); }

}
