/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.AutomationStats;
import com.manyforge.sdk.models.Error;
import java.util.UUID;

public class BusinessAutomationsStatsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessAutomationsStatsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessAutomationsStatsGetParams {

    private final UUID aid;

    private final UUID versionId;

    private BusinessAutomationsStatsGetParams(Builder builder) {

      this.aid = builder.aid;

      this.versionId = builder.versionId;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.aid = aid;

      builder.versionId = versionId;

      return builder;
    }
    public static final class Builder {

      private UUID aid;
      public Builder aid(UUID value) { this.aid = value; return this; }

      private UUID versionId;
      public Builder versionId(UUID value) { this.versionId = value; return this; }

      public BusinessAutomationsStatsGetParams build() { return new BusinessAutomationsStatsGetParams(this); }
    }
  }
  private Request<AutomationStats> getRequest(BusinessAutomationsStatsGetParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.aid, "aid");

    parameters.add(new Request.Parameter("aid", "path", params.aid, ""));

    parameters.add(new Request.Parameter("version_id", "query", params.versionId, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/mailing/automations/{aid}/stats", parameters, null, "", true, "management", false, null, new TypeReference<AutomationStats>() {});
  }
  public AutomationStats get(BusinessAutomationsStatsGetParams params) { return get(params, RequestOptions.DEFAULT); }
  public AutomationStats get(BusinessAutomationsStatsGetParams params, RequestOptions options) { return transport.send(getRequest(params), options); }
  public CompletableFuture<AutomationStats> getAsync(BusinessAutomationsStatsGetParams params) { return getAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<AutomationStats> getAsync(BusinessAutomationsStatsGetParams params, RequestOptions options) { return transport.sendAsync(getRequest(params), options); }

}
