/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.MemberPage;
import com.manyforge.sdk.models.MemberUpdateRequest;
import java.util.UUID;

public class BusinessMembersResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessMembersResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessMembersDeleteParams {

    private final UUID principalId;

    private BusinessMembersDeleteParams(Builder builder) {

      this.principalId = builder.principalId;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.principalId = principalId;

      return builder;
    }
    public static final class Builder {

      private UUID principalId;
      public Builder principalId(UUID value) { this.principalId = value; return this; }

      public BusinessMembersDeleteParams build() { return new BusinessMembersDeleteParams(this); }
    }
  }
  private Request<Void> deleteRequest(BusinessMembersDeleteParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.principalId, "principalId");

    parameters.add(new Request.Parameter("principalId", "path", params.principalId, ""));
    return new Request<>("DELETE", "/api/v1/businesses/{id}/members/{principalId}", parameters, null, "", true, "management", false, null, new TypeReference<Void>() {});
  }
  public Void delete(BusinessMembersDeleteParams params) { return delete(params, RequestOptions.DEFAULT); }
  public Void delete(BusinessMembersDeleteParams params, RequestOptions options) { return transport.send(deleteRequest(params), options); }
  public CompletableFuture<Void> deleteAsync(BusinessMembersDeleteParams params) { return deleteAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Void> deleteAsync(BusinessMembersDeleteParams params, RequestOptions options) { return transport.sendAsync(deleteRequest(params), options); }

  public static final class BusinessMembersListParams {

    private BusinessMembersListParams(Builder builder) {

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      return builder;
    }
    public static final class Builder {

      public BusinessMembersListParams build() { return new BusinessMembersListParams(this); }
    }
  }
  private Request<MemberPage> listRequest(BusinessMembersListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/members", parameters, null, "", true, "management", false, null, new TypeReference<MemberPage>() {});
  }
  public MemberPage list(BusinessMembersListParams params) { return list(params, RequestOptions.DEFAULT); }
  public MemberPage list(BusinessMembersListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<MemberPage> listAsync(BusinessMembersListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<MemberPage> listAsync(BusinessMembersListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }
  public MemberPage list() { return list(BusinessMembersListParams.builder().build()); }
  public CompletableFuture<MemberPage> listAsync() { return listAsync(BusinessMembersListParams.builder().build()); }

  public static final class BusinessMembersUpdateParams {

    private final UUID principalId;

    private final MemberUpdateRequest memberUpdateRequest;

    private BusinessMembersUpdateParams(Builder builder) {

      this.principalId = builder.principalId;

      this.memberUpdateRequest = builder.memberUpdateRequest;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.principalId = principalId;

      builder.memberUpdateRequest = memberUpdateRequest;

      return builder;
    }
    public static final class Builder {

      private UUID principalId;
      public Builder principalId(UUID value) { this.principalId = value; return this; }

      private MemberUpdateRequest memberUpdateRequest;
      public Builder memberUpdateRequest(MemberUpdateRequest value) { this.memberUpdateRequest = value; return this; }

      public BusinessMembersUpdateParams build() { return new BusinessMembersUpdateParams(this); }
    }
  }
  private Request<Void> updateRequest(BusinessMembersUpdateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.principalId, "principalId");

    parameters.add(new Request.Parameter("principalId", "path", params.principalId, ""));

    Objects.requireNonNull(params.memberUpdateRequest, "memberUpdateRequest");

    return new Request<>("PATCH", "/api/v1/businesses/{id}/members/{principalId}", parameters, params.memberUpdateRequest, "application/json", true, "management", false, null, new TypeReference<Void>() {});
  }
  public Void update(BusinessMembersUpdateParams params) { return update(params, RequestOptions.DEFAULT); }
  public Void update(BusinessMembersUpdateParams params, RequestOptions options) { return transport.send(updateRequest(params), options); }
  public CompletableFuture<Void> updateAsync(BusinessMembersUpdateParams params) { return updateAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Void> updateAsync(BusinessMembersUpdateParams params, RequestOptions options) { return transport.sendAsync(updateRequest(params), options); }

}
