/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.PublicDataError;
import com.manyforge.sdk.models.TelemetryAllowedOriginsReplace;
import com.manyforge.sdk.models.TelemetryClient;
import java.util.UUID;

public class BusinessTelemetryClientsAllowedOriginsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessTelemetryClientsAllowedOriginsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessTelemetryClientsAllowedOriginsReplaceParams {

    private final UUID clientID;

    private final TelemetryAllowedOriginsReplace telemetryAllowedOriginsReplace;

    private BusinessTelemetryClientsAllowedOriginsReplaceParams(Builder builder) {

      this.clientID = builder.clientID;

      this.telemetryAllowedOriginsReplace = builder.telemetryAllowedOriginsReplace;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.clientID = clientID;

      builder.telemetryAllowedOriginsReplace = telemetryAllowedOriginsReplace;

      return builder;
    }
    public static final class Builder {

      private UUID clientID;
      public Builder clientID(UUID value) { this.clientID = value; return this; }

      private TelemetryAllowedOriginsReplace telemetryAllowedOriginsReplace;
      public Builder telemetryAllowedOriginsReplace(TelemetryAllowedOriginsReplace value) { this.telemetryAllowedOriginsReplace = value; return this; }

      public BusinessTelemetryClientsAllowedOriginsReplaceParams build() { return new BusinessTelemetryClientsAllowedOriginsReplaceParams(this); }
    }
  }
  private Request<TelemetryClient> replaceRequest(BusinessTelemetryClientsAllowedOriginsReplaceParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.clientID, "clientID");

    parameters.add(new Request.Parameter("clientID", "path", params.clientID, ""));

    Objects.requireNonNull(params.telemetryAllowedOriginsReplace, "telemetryAllowedOriginsReplace");

    return new Request<>("PUT", "/api/v1/businesses/{id}/telemetry/clients/{clientID}/allowed-origins", parameters, params.telemetryAllowedOriginsReplace, "application/json", true, "management", false, null, new TypeReference<TelemetryClient>() {});
  }
  public TelemetryClient replace(BusinessTelemetryClientsAllowedOriginsReplaceParams params) { return replace(params, RequestOptions.DEFAULT); }
  public TelemetryClient replace(BusinessTelemetryClientsAllowedOriginsReplaceParams params, RequestOptions options) { return transport.send(replaceRequest(params), options); }
  public CompletableFuture<TelemetryClient> replaceAsync(BusinessTelemetryClientsAllowedOriginsReplaceParams params) { return replaceAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<TelemetryClient> replaceAsync(BusinessTelemetryClientsAllowedOriginsReplaceParams params, RequestOptions options) { return transport.sendAsync(replaceRequest(params), options); }

}
