/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.Requester;
import com.manyforge.sdk.models.RequesterPage;
import java.util.UUID;

public class BusinessRequestersResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessRequestersResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessRequestersGetParams {

    private final UUID rid;

    private BusinessRequestersGetParams(Builder builder) {

      this.rid = builder.rid;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.rid = rid;

      return builder;
    }
    public static final class Builder {

      private UUID rid;
      public Builder rid(UUID value) { this.rid = value; return this; }

      public BusinessRequestersGetParams build() { return new BusinessRequestersGetParams(this); }
    }
  }
  private Request<Requester> getRequest(BusinessRequestersGetParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.rid, "rid");

    parameters.add(new Request.Parameter("rid", "path", params.rid, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/requesters/{rid}", parameters, null, "", true, "management", false, null, new TypeReference<Requester>() {});
  }
  public Requester get(BusinessRequestersGetParams params) { return get(params, RequestOptions.DEFAULT); }
  public Requester get(BusinessRequestersGetParams params, RequestOptions options) { return transport.send(getRequest(params), options); }
  public CompletableFuture<Requester> getAsync(BusinessRequestersGetParams params) { return getAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Requester> getAsync(BusinessRequestersGetParams params, RequestOptions options) { return transport.sendAsync(getRequest(params), options); }

  public static final class BusinessRequestersListParams {

    private final String cursor;

    private final Integer limit;

    private final String email;

    private BusinessRequestersListParams(Builder builder) {

      this.cursor = builder.cursor;

      this.limit = builder.limit;

      this.email = builder.email;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.cursor = cursor;

      builder.limit = limit;

      builder.email = email;

      return builder;
    }
    public static final class Builder {

      private String cursor;
      public Builder cursor(String value) { this.cursor = value; return this; }

      private Integer limit;
      public Builder limit(Integer value) { this.limit = value; return this; }

      private String email;
      public Builder email(String value) { this.email = value; return this; }

      public BusinessRequestersListParams build() { return new BusinessRequestersListParams(this); }
    }
  }
  private Request<RequesterPage> listRequest(BusinessRequestersListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    parameters.add(new Request.Parameter("cursor", "query", params.cursor, ""));

    parameters.add(new Request.Parameter("limit", "query", params.limit, ""));

    parameters.add(new Request.Parameter("email", "query", params.email, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/requesters", parameters, null, "", true, "management", false, null, new TypeReference<RequesterPage>() {});
  }
  public RequesterPage list(BusinessRequestersListParams params) { return list(params, RequestOptions.DEFAULT); }
  public RequesterPage list(BusinessRequestersListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<RequesterPage> listAsync(BusinessRequestersListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<RequesterPage> listAsync(BusinessRequestersListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }
  public RequesterPage list() { return list(BusinessRequestersListParams.builder().build()); }
  public CompletableFuture<RequesterPage> listAsync() { return listAsync(BusinessRequestersListParams.builder().build()); }
  public Iterable<Requester> iter(BusinessRequestersListParams params) { return iter(params, RequestOptions.DEFAULT); }
  public Iterable<Requester> iter(BusinessRequestersListParams params, RequestOptions options) {
    return Pages.iterate(params.cursor, cursor -> list(params.toBuilder().cursor(cursor).build(), options), page -> page.getItems(), page -> page.getNextCursor());
  }

}
