/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.CampaignStats;
import com.manyforge.sdk.models.Error;
import java.util.UUID;

public class BusinessMailingCampaignsStatsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessMailingCampaignsStatsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessMailingCampaignsStatsGetParams {

    private final UUID cid;

    private BusinessMailingCampaignsStatsGetParams(Builder builder) {

      this.cid = builder.cid;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.cid = cid;

      return builder;
    }
    public static final class Builder {

      private UUID cid;
      public Builder cid(UUID value) { this.cid = value; return this; }

      public BusinessMailingCampaignsStatsGetParams build() { return new BusinessMailingCampaignsStatsGetParams(this); }
    }
  }
  private Request<CampaignStats> getRequest(BusinessMailingCampaignsStatsGetParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.cid, "cid");

    parameters.add(new Request.Parameter("cid", "path", params.cid, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/mailing/campaigns/{cid}/stats", parameters, null, "", true, "management", false, null, new TypeReference<CampaignStats>() {});
  }
  public CampaignStats get(BusinessMailingCampaignsStatsGetParams params) { return get(params, RequestOptions.DEFAULT); }
  public CampaignStats get(BusinessMailingCampaignsStatsGetParams params, RequestOptions options) { return transport.send(getRequest(params), options); }
  public CompletableFuture<CampaignStats> getAsync(BusinessMailingCampaignsStatsGetParams params) { return getAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<CampaignStats> getAsync(BusinessMailingCampaignsStatsGetParams params, RequestOptions options) { return transport.sendAsync(getRequest(params), options); }

}
