/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.AnalyticsSummary;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.PublicDataError;
import java.util.UUID;

public class BusinessAnalyticsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessAnalyticsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessAnalyticsGetParams {

    private final UUID clientId;

    private final Integer days;

    private BusinessAnalyticsGetParams(Builder builder) {

      this.clientId = builder.clientId;

      this.days = builder.days;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.clientId = clientId;

      builder.days = days;

      return builder;
    }
    public static final class Builder {

      private UUID clientId;
      public Builder clientId(UUID value) { this.clientId = value; return this; }

      private Integer days;
      public Builder days(Integer value) { this.days = value; return this; }

      public BusinessAnalyticsGetParams build() { return new BusinessAnalyticsGetParams(this); }
    }
  }
  private Request<AnalyticsSummary> getRequest(BusinessAnalyticsGetParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.clientId, "clientId");

    parameters.add(new Request.Parameter("client_id", "query", params.clientId, ""));

    parameters.add(new Request.Parameter("days", "query", params.days, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/analytics/summary", parameters, null, "", true, "management", false, null, new TypeReference<AnalyticsSummary>() {});
  }
  public AnalyticsSummary get(BusinessAnalyticsGetParams params) { return get(params, RequestOptions.DEFAULT); }
  public AnalyticsSummary get(BusinessAnalyticsGetParams params, RequestOptions options) { return transport.send(getRequest(params), options); }
  public CompletableFuture<AnalyticsSummary> getAsync(BusinessAnalyticsGetParams params) { return getAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<AnalyticsSummary> getAsync(BusinessAnalyticsGetParams params, RequestOptions options) { return transport.sendAsync(getRequest(params), options); }

}
