/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.Role;
import com.manyforge.sdk.models.RoleInput;
import com.manyforge.sdk.models.RolePage;
import com.manyforge.sdk.models.RoleUpdateRequest;
import java.util.UUID;

public class BusinessRolesResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessRolesResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessRolesCreateParams {

    private final RoleInput roleInput;

    private BusinessRolesCreateParams(Builder builder) {

      this.roleInput = builder.roleInput;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.roleInput = roleInput;

      return builder;
    }
    public static final class Builder {

      private RoleInput roleInput;
      public Builder roleInput(RoleInput value) { this.roleInput = value; return this; }

      public BusinessRolesCreateParams build() { return new BusinessRolesCreateParams(this); }
    }
  }
  private Request<Role> createRequest(BusinessRolesCreateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.roleInput, "roleInput");

    return new Request<>("POST", "/api/v1/businesses/{id}/roles", parameters, params.roleInput, "application/json", true, "management", false, null, new TypeReference<Role>() {});
  }
  public Role create(BusinessRolesCreateParams params) { return create(params, RequestOptions.DEFAULT); }
  public Role create(BusinessRolesCreateParams params, RequestOptions options) { return transport.send(createRequest(params), options); }
  public CompletableFuture<Role> createAsync(BusinessRolesCreateParams params) { return createAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Role> createAsync(BusinessRolesCreateParams params, RequestOptions options) { return transport.sendAsync(createRequest(params), options); }

  public static final class BusinessRolesDeleteParams {

    private final UUID roleID;

    private BusinessRolesDeleteParams(Builder builder) {

      this.roleID = builder.roleID;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.roleID = roleID;

      return builder;
    }
    public static final class Builder {

      private UUID roleID;
      public Builder roleID(UUID value) { this.roleID = value; return this; }

      public BusinessRolesDeleteParams build() { return new BusinessRolesDeleteParams(this); }
    }
  }
  private Request<Void> deleteRequest(BusinessRolesDeleteParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.roleID, "roleID");

    parameters.add(new Request.Parameter("roleID", "path", params.roleID, ""));
    return new Request<>("DELETE", "/api/v1/businesses/{id}/roles/{roleID}", parameters, null, "", true, "management", false, null, new TypeReference<Void>() {});
  }
  public Void delete(BusinessRolesDeleteParams params) { return delete(params, RequestOptions.DEFAULT); }
  public Void delete(BusinessRolesDeleteParams params, RequestOptions options) { return transport.send(deleteRequest(params), options); }
  public CompletableFuture<Void> deleteAsync(BusinessRolesDeleteParams params) { return deleteAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Void> deleteAsync(BusinessRolesDeleteParams params, RequestOptions options) { return transport.sendAsync(deleteRequest(params), options); }

  public static final class BusinessRolesListParams {

    private BusinessRolesListParams(Builder builder) {

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      return builder;
    }
    public static final class Builder {

      public BusinessRolesListParams build() { return new BusinessRolesListParams(this); }
    }
  }
  private Request<RolePage> listRequest(BusinessRolesListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/roles", parameters, null, "", true, "management", false, null, new TypeReference<RolePage>() {});
  }
  public RolePage list(BusinessRolesListParams params) { return list(params, RequestOptions.DEFAULT); }
  public RolePage list(BusinessRolesListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<RolePage> listAsync(BusinessRolesListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<RolePage> listAsync(BusinessRolesListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }
  public RolePage list() { return list(BusinessRolesListParams.builder().build()); }
  public CompletableFuture<RolePage> listAsync() { return listAsync(BusinessRolesListParams.builder().build()); }

  public static final class BusinessRolesUpdateParams {

    private final UUID roleID;

    private final RoleUpdateRequest roleUpdateRequest;

    private BusinessRolesUpdateParams(Builder builder) {

      this.roleID = builder.roleID;

      this.roleUpdateRequest = builder.roleUpdateRequest;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.roleID = roleID;

      builder.roleUpdateRequest = roleUpdateRequest;

      return builder;
    }
    public static final class Builder {

      private UUID roleID;
      public Builder roleID(UUID value) { this.roleID = value; return this; }

      private RoleUpdateRequest roleUpdateRequest;
      public Builder roleUpdateRequest(RoleUpdateRequest value) { this.roleUpdateRequest = value; return this; }

      public BusinessRolesUpdateParams build() { return new BusinessRolesUpdateParams(this); }
    }
  }
  private Request<Role> updateRequest(BusinessRolesUpdateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.roleID, "roleID");

    parameters.add(new Request.Parameter("roleID", "path", params.roleID, ""));

    Objects.requireNonNull(params.roleUpdateRequest, "roleUpdateRequest");

    return new Request<>("PATCH", "/api/v1/businesses/{id}/roles/{roleID}", parameters, params.roleUpdateRequest, "application/json", true, "management", false, null, new TypeReference<Role>() {});
  }
  public Role update(BusinessRolesUpdateParams params) { return update(params, RequestOptions.DEFAULT); }
  public Role update(BusinessRolesUpdateParams params, RequestOptions options) { return transport.send(updateRequest(params), options); }
  public CompletableFuture<Role> updateAsync(BusinessRolesUpdateParams params) { return updateAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Role> updateAsync(BusinessRolesUpdateParams params, RequestOptions options) { return transport.sendAsync(updateRequest(params), options); }

}
