/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.CodeReview;
import com.manyforge.sdk.models.CodeReviewAccepted;
import com.manyforge.sdk.models.CodeReviewList;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.TriggerCodeReviewInput;
import java.util.UUID;

public class BusinessCodeReviewsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessCodeReviewsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessCodeReviewsGetParams {

    private final UUID reviewID;

    private BusinessCodeReviewsGetParams(Builder builder) {

      this.reviewID = builder.reviewID;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.reviewID = reviewID;

      return builder;
    }
    public static final class Builder {

      private UUID reviewID;
      public Builder reviewID(UUID value) { this.reviewID = value; return this; }

      public BusinessCodeReviewsGetParams build() { return new BusinessCodeReviewsGetParams(this); }
    }
  }
  private Request<CodeReview> getRequest(BusinessCodeReviewsGetParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.reviewID, "reviewID");

    parameters.add(new Request.Parameter("reviewID", "path", params.reviewID, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/code-reviews/{reviewID}", parameters, null, "", true, "management", false, null, new TypeReference<CodeReview>() {});
  }
  public CodeReview get(BusinessCodeReviewsGetParams params) { return get(params, RequestOptions.DEFAULT); }
  public CodeReview get(BusinessCodeReviewsGetParams params, RequestOptions options) { return transport.send(getRequest(params), options); }
  public CompletableFuture<CodeReview> getAsync(BusinessCodeReviewsGetParams params) { return getAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<CodeReview> getAsync(BusinessCodeReviewsGetParams params, RequestOptions options) { return transport.sendAsync(getRequest(params), options); }

  public static final class BusinessCodeReviewsListParams {

    private BusinessCodeReviewsListParams(Builder builder) {

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      return builder;
    }
    public static final class Builder {

      public BusinessCodeReviewsListParams build() { return new BusinessCodeReviewsListParams(this); }
    }
  }
  private Request<CodeReviewList> listRequest(BusinessCodeReviewsListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/code-reviews", parameters, null, "", true, "management", false, null, new TypeReference<CodeReviewList>() {});
  }
  public CodeReviewList list(BusinessCodeReviewsListParams params) { return list(params, RequestOptions.DEFAULT); }
  public CodeReviewList list(BusinessCodeReviewsListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<CodeReviewList> listAsync(BusinessCodeReviewsListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<CodeReviewList> listAsync(BusinessCodeReviewsListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }
  public CodeReviewList list() { return list(BusinessCodeReviewsListParams.builder().build()); }
  public CompletableFuture<CodeReviewList> listAsync() { return listAsync(BusinessCodeReviewsListParams.builder().build()); }

  public static final class BusinessCodeReviewsRetryParams {

    private final UUID reviewID;

    private BusinessCodeReviewsRetryParams(Builder builder) {

      this.reviewID = builder.reviewID;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.reviewID = reviewID;

      return builder;
    }
    public static final class Builder {

      private UUID reviewID;
      public Builder reviewID(UUID value) { this.reviewID = value; return this; }

      public BusinessCodeReviewsRetryParams build() { return new BusinessCodeReviewsRetryParams(this); }
    }
  }
  private Request<CodeReview> retryRequest(BusinessCodeReviewsRetryParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.reviewID, "reviewID");

    parameters.add(new Request.Parameter("reviewID", "path", params.reviewID, ""));
    return new Request<>("POST", "/api/v1/businesses/{id}/code-reviews/{reviewID}/retry", parameters, null, "", true, "management", false, null, new TypeReference<CodeReview>() {});
  }
  public CodeReview retry(BusinessCodeReviewsRetryParams params) { return retry(params, RequestOptions.DEFAULT); }
  public CodeReview retry(BusinessCodeReviewsRetryParams params, RequestOptions options) { return transport.send(retryRequest(params), options); }
  public CompletableFuture<CodeReview> retryAsync(BusinessCodeReviewsRetryParams params) { return retryAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<CodeReview> retryAsync(BusinessCodeReviewsRetryParams params, RequestOptions options) { return transport.sendAsync(retryRequest(params), options); }

  public static final class BusinessCodeReviewsCreateParams {

    private final TriggerCodeReviewInput triggerCodeReviewInput;

    private BusinessCodeReviewsCreateParams(Builder builder) {

      this.triggerCodeReviewInput = builder.triggerCodeReviewInput;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.triggerCodeReviewInput = triggerCodeReviewInput;

      return builder;
    }
    public static final class Builder {

      private TriggerCodeReviewInput triggerCodeReviewInput;
      public Builder triggerCodeReviewInput(TriggerCodeReviewInput value) { this.triggerCodeReviewInput = value; return this; }

      public BusinessCodeReviewsCreateParams build() { return new BusinessCodeReviewsCreateParams(this); }
    }
  }
  private Request<CodeReviewAccepted> createRequest(BusinessCodeReviewsCreateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.triggerCodeReviewInput, "triggerCodeReviewInput");

    return new Request<>("POST", "/api/v1/businesses/{id}/code-reviews", parameters, params.triggerCodeReviewInput, "application/json", true, "management", false, null, new TypeReference<CodeReviewAccepted>() {});
  }
  public CodeReviewAccepted create(BusinessCodeReviewsCreateParams params) { return create(params, RequestOptions.DEFAULT); }
  public CodeReviewAccepted create(BusinessCodeReviewsCreateParams params, RequestOptions options) { return transport.send(createRequest(params), options); }
  public CompletableFuture<CodeReviewAccepted> createAsync(BusinessCodeReviewsCreateParams params) { return createAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<CodeReviewAccepted> createAsync(BusinessCodeReviewsCreateParams params, RequestOptions options) { return transport.sendAsync(createRequest(params), options); }

}
