/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.AutomationEvent;
import com.manyforge.sdk.models.AutomationEventInput;
import com.manyforge.sdk.models.Error;
import java.util.UUID;

public class BusinessMailingEventsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessMailingEventsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessMailingEventsCreateParams {

    private final AutomationEventInput automationEventInput;

    private BusinessMailingEventsCreateParams(Builder builder) {

      this.automationEventInput = builder.automationEventInput;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.automationEventInput = automationEventInput;

      return builder;
    }
    public static final class Builder {

      private AutomationEventInput automationEventInput;
      public Builder automationEventInput(AutomationEventInput value) { this.automationEventInput = value; return this; }

      public BusinessMailingEventsCreateParams build() { return new BusinessMailingEventsCreateParams(this); }
    }
  }
  private Request<AutomationEvent> createRequest(BusinessMailingEventsCreateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.automationEventInput, "automationEventInput");

    return new Request<>("POST", "/api/v1/businesses/{id}/mailing/events", parameters, params.automationEventInput, "application/json", true, "management", false, null, new TypeReference<AutomationEvent>() {});
  }
  public AutomationEvent create(BusinessMailingEventsCreateParams params) { return create(params, RequestOptions.DEFAULT); }
  public AutomationEvent create(BusinessMailingEventsCreateParams params, RequestOptions options) { return transport.send(createRequest(params), options); }
  public CompletableFuture<AutomationEvent> createAsync(BusinessMailingEventsCreateParams params) { return createAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<AutomationEvent> createAsync(BusinessMailingEventsCreateParams params, RequestOptions options) { return transport.sendAsync(createRequest(params), options); }

}
