/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.AnalyticsPropertyRulesReplace;
import com.manyforge.sdk.models.AnalyticsPropertyRulesResponse;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.PublicDataError;
import java.util.UUID;

public class BusinessAnalyticsPropertyRulesResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessAnalyticsPropertyRulesResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessAnalyticsPropertyRulesListParams {

    private final UUID clientID;

    private BusinessAnalyticsPropertyRulesListParams(Builder builder) {

      this.clientID = builder.clientID;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.clientID = clientID;

      return builder;
    }
    public static final class Builder {

      private UUID clientID;
      public Builder clientID(UUID value) { this.clientID = value; return this; }

      public BusinessAnalyticsPropertyRulesListParams build() { return new BusinessAnalyticsPropertyRulesListParams(this); }
    }
  }
  private Request<AnalyticsPropertyRulesResponse> listRequest(BusinessAnalyticsPropertyRulesListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.clientID, "clientID");

    parameters.add(new Request.Parameter("clientID", "path", params.clientID, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/analytics/sites/{clientID}/property-rules", parameters, null, "", true, "management", false, null, new TypeReference<AnalyticsPropertyRulesResponse>() {});
  }
  public AnalyticsPropertyRulesResponse list(BusinessAnalyticsPropertyRulesListParams params) { return list(params, RequestOptions.DEFAULT); }
  public AnalyticsPropertyRulesResponse list(BusinessAnalyticsPropertyRulesListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<AnalyticsPropertyRulesResponse> listAsync(BusinessAnalyticsPropertyRulesListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<AnalyticsPropertyRulesResponse> listAsync(BusinessAnalyticsPropertyRulesListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }

  public static final class BusinessAnalyticsPropertyRulesReplaceParams {

    private final UUID clientID;

    private final AnalyticsPropertyRulesReplace analyticsPropertyRulesReplace;

    private BusinessAnalyticsPropertyRulesReplaceParams(Builder builder) {

      this.clientID = builder.clientID;

      this.analyticsPropertyRulesReplace = builder.analyticsPropertyRulesReplace;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.clientID = clientID;

      builder.analyticsPropertyRulesReplace = analyticsPropertyRulesReplace;

      return builder;
    }
    public static final class Builder {

      private UUID clientID;
      public Builder clientID(UUID value) { this.clientID = value; return this; }

      private AnalyticsPropertyRulesReplace analyticsPropertyRulesReplace;
      public Builder analyticsPropertyRulesReplace(AnalyticsPropertyRulesReplace value) { this.analyticsPropertyRulesReplace = value; return this; }

      public BusinessAnalyticsPropertyRulesReplaceParams build() { return new BusinessAnalyticsPropertyRulesReplaceParams(this); }
    }
  }
  private Request<AnalyticsPropertyRulesResponse> replaceRequest(BusinessAnalyticsPropertyRulesReplaceParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.clientID, "clientID");

    parameters.add(new Request.Parameter("clientID", "path", params.clientID, ""));

    Objects.requireNonNull(params.analyticsPropertyRulesReplace, "analyticsPropertyRulesReplace");

    return new Request<>("PUT", "/api/v1/businesses/{id}/analytics/sites/{clientID}/property-rules", parameters, params.analyticsPropertyRulesReplace, "application/json", true, "management", false, null, new TypeReference<AnalyticsPropertyRulesResponse>() {});
  }
  public AnalyticsPropertyRulesResponse replace(BusinessAnalyticsPropertyRulesReplaceParams params) { return replace(params, RequestOptions.DEFAULT); }
  public AnalyticsPropertyRulesResponse replace(BusinessAnalyticsPropertyRulesReplaceParams params, RequestOptions options) { return transport.send(replaceRequest(params), options); }
  public CompletableFuture<AnalyticsPropertyRulesResponse> replaceAsync(BusinessAnalyticsPropertyRulesReplaceParams params) { return replaceAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<AnalyticsPropertyRulesResponse> replaceAsync(BusinessAnalyticsPropertyRulesReplaceParams params, RequestOptions options) { return transport.sendAsync(replaceRequest(params), options); }

}
