/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.AutomationVersion;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.GraphInput;
import java.util.UUID;

public class BusinessAutomationsVersionsGraphResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessAutomationsVersionsGraphResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessAutomationsVersionsGraphReplaceParams {

    private final UUID aid;

    private final UUID vid;

    private final GraphInput graphInput;

    private BusinessAutomationsVersionsGraphReplaceParams(Builder builder) {

      this.aid = builder.aid;

      this.vid = builder.vid;

      this.graphInput = builder.graphInput;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.aid = aid;

      builder.vid = vid;

      builder.graphInput = graphInput;

      return builder;
    }
    public static final class Builder {

      private UUID aid;
      public Builder aid(UUID value) { this.aid = value; return this; }

      private UUID vid;
      public Builder vid(UUID value) { this.vid = value; return this; }

      private GraphInput graphInput;
      public Builder graphInput(GraphInput value) { this.graphInput = value; return this; }

      public BusinessAutomationsVersionsGraphReplaceParams build() { return new BusinessAutomationsVersionsGraphReplaceParams(this); }
    }
  }
  private Request<AutomationVersion> replaceRequest(BusinessAutomationsVersionsGraphReplaceParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.aid, "aid");

    parameters.add(new Request.Parameter("aid", "path", params.aid, ""));

    Objects.requireNonNull(params.vid, "vid");

    parameters.add(new Request.Parameter("vid", "path", params.vid, ""));

    Objects.requireNonNull(params.graphInput, "graphInput");

    return new Request<>("PUT", "/api/v1/businesses/{id}/mailing/automations/{aid}/versions/{vid}/graph", parameters, params.graphInput, "application/json", true, "management", false, null, new TypeReference<AutomationVersion>() {});
  }
  public AutomationVersion replace(BusinessAutomationsVersionsGraphReplaceParams params) { return replace(params, RequestOptions.DEFAULT); }
  public AutomationVersion replace(BusinessAutomationsVersionsGraphReplaceParams params, RequestOptions options) { return transport.send(replaceRequest(params), options); }
  public CompletableFuture<AutomationVersion> replaceAsync(BusinessAutomationsVersionsGraphReplaceParams params) { return replaceAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<AutomationVersion> replaceAsync(BusinessAutomationsVersionsGraphReplaceParams params, RequestOptions options) { return transport.sendAsync(replaceRequest(params), options); }

}
