/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.Suppression;
import com.manyforge.sdk.models.SuppressionInput;
import com.manyforge.sdk.models.SuppressionPage;
import java.util.UUID;

public class BusinessMailingSuppressionsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessMailingSuppressionsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessMailingSuppressionsCreateParams {

    private final SuppressionInput suppressionInput;

    private BusinessMailingSuppressionsCreateParams(Builder builder) {

      this.suppressionInput = builder.suppressionInput;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.suppressionInput = suppressionInput;

      return builder;
    }
    public static final class Builder {

      private SuppressionInput suppressionInput;
      public Builder suppressionInput(SuppressionInput value) { this.suppressionInput = value; return this; }

      public BusinessMailingSuppressionsCreateParams build() { return new BusinessMailingSuppressionsCreateParams(this); }
    }
  }
  private Request<Suppression> createRequest(BusinessMailingSuppressionsCreateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.suppressionInput, "suppressionInput");

    return new Request<>("POST", "/api/v1/businesses/{id}/mailing/suppressions", parameters, params.suppressionInput, "application/json", true, "management", false, null, new TypeReference<Suppression>() {});
  }
  public Suppression create(BusinessMailingSuppressionsCreateParams params) { return create(params, RequestOptions.DEFAULT); }
  public Suppression create(BusinessMailingSuppressionsCreateParams params, RequestOptions options) { return transport.send(createRequest(params), options); }
  public CompletableFuture<Suppression> createAsync(BusinessMailingSuppressionsCreateParams params) { return createAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Suppression> createAsync(BusinessMailingSuppressionsCreateParams params, RequestOptions options) { return transport.sendAsync(createRequest(params), options); }

  public static final class BusinessMailingSuppressionsDeleteParams {

    private final UUID sid;

    private BusinessMailingSuppressionsDeleteParams(Builder builder) {

      this.sid = builder.sid;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.sid = sid;

      return builder;
    }
    public static final class Builder {

      private UUID sid;
      public Builder sid(UUID value) { this.sid = value; return this; }

      public BusinessMailingSuppressionsDeleteParams build() { return new BusinessMailingSuppressionsDeleteParams(this); }
    }
  }
  private Request<Void> deleteRequest(BusinessMailingSuppressionsDeleteParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.sid, "sid");

    parameters.add(new Request.Parameter("sid", "path", params.sid, ""));
    return new Request<>("DELETE", "/api/v1/businesses/{id}/mailing/suppressions/{sid}", parameters, null, "", true, "management", false, null, new TypeReference<Void>() {});
  }
  public Void delete(BusinessMailingSuppressionsDeleteParams params) { return delete(params, RequestOptions.DEFAULT); }
  public Void delete(BusinessMailingSuppressionsDeleteParams params, RequestOptions options) { return transport.send(deleteRequest(params), options); }
  public CompletableFuture<Void> deleteAsync(BusinessMailingSuppressionsDeleteParams params) { return deleteAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Void> deleteAsync(BusinessMailingSuppressionsDeleteParams params, RequestOptions options) { return transport.sendAsync(deleteRequest(params), options); }

  public static final class BusinessMailingSuppressionsListParams {

    private final String cursor;

    private final Integer limit;

    private BusinessMailingSuppressionsListParams(Builder builder) {

      this.cursor = builder.cursor;

      this.limit = builder.limit;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.cursor = cursor;

      builder.limit = limit;

      return builder;
    }
    public static final class Builder {

      private String cursor;
      public Builder cursor(String value) { this.cursor = value; return this; }

      private Integer limit;
      public Builder limit(Integer value) { this.limit = value; return this; }

      public BusinessMailingSuppressionsListParams build() { return new BusinessMailingSuppressionsListParams(this); }
    }
  }
  private Request<SuppressionPage> listRequest(BusinessMailingSuppressionsListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    parameters.add(new Request.Parameter("cursor", "query", params.cursor, ""));

    parameters.add(new Request.Parameter("limit", "query", params.limit, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/mailing/suppressions", parameters, null, "", true, "management", false, null, new TypeReference<SuppressionPage>() {});
  }
  public SuppressionPage list(BusinessMailingSuppressionsListParams params) { return list(params, RequestOptions.DEFAULT); }
  public SuppressionPage list(BusinessMailingSuppressionsListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<SuppressionPage> listAsync(BusinessMailingSuppressionsListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<SuppressionPage> listAsync(BusinessMailingSuppressionsListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }
  public SuppressionPage list() { return list(BusinessMailingSuppressionsListParams.builder().build()); }
  public CompletableFuture<SuppressionPage> listAsync() { return listAsync(BusinessMailingSuppressionsListParams.builder().build()); }
  public Iterable<Suppression> iter(BusinessMailingSuppressionsListParams params) { return iter(params, RequestOptions.DEFAULT); }
  public Iterable<Suppression> iter(BusinessMailingSuppressionsListParams params, RequestOptions options) {
    return Pages.iterate(params.cursor, cursor -> list(params.toBuilder().cursor(cursor).build(), options), page -> page.getItems(), page -> page.getNextCursor());
  }

}
