/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.AccountingSummary;
import com.manyforge.sdk.models.Error;
import java.util.UUID;

public class BusinessAccountingResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessAccountingResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessAccountingGetParams {

    private final String window;

    private final String from;

    private final String to;

    private BusinessAccountingGetParams(Builder builder) {

      this.window = builder.window;

      this.from = builder.from;

      this.to = builder.to;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.window = window;

      builder.from = from;

      builder.to = to;

      return builder;
    }
    public static final class Builder {

      private String window;
      public Builder window(String value) { this.window = value; return this; }

      private String from;
      public Builder from(String value) { this.from = value; return this; }

      private String to;
      public Builder to(String value) { this.to = value; return this; }

      public BusinessAccountingGetParams build() { return new BusinessAccountingGetParams(this); }
    }
  }
  private Request<AccountingSummary> getRequest(BusinessAccountingGetParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    parameters.add(new Request.Parameter("window", "query", params.window, ""));

    parameters.add(new Request.Parameter("from", "query", params.from, ""));

    parameters.add(new Request.Parameter("to", "query", params.to, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/accounting", parameters, null, "", true, "management", false, null, new TypeReference<AccountingSummary>() {});
  }
  public AccountingSummary get(BusinessAccountingGetParams params) { return get(params, RequestOptions.DEFAULT); }
  public AccountingSummary get(BusinessAccountingGetParams params, RequestOptions options) { return transport.send(getRequest(params), options); }
  public CompletableFuture<AccountingSummary> getAsync(BusinessAccountingGetParams params) { return getAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<AccountingSummary> getAsync(BusinessAccountingGetParams params, RequestOptions options) { return transport.sendAsync(getRequest(params), options); }
  public AccountingSummary get() { return get(BusinessAccountingGetParams.builder().build()); }
  public CompletableFuture<AccountingSummary> getAsync() { return getAsync(BusinessAccountingGetParams.builder().build()); }

}
