/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.PublicDataError;
import com.manyforge.sdk.models.TelemetryMoveTargetList;
import java.util.UUID;

public class BusinessTelemetryClientsMoveTargetsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessTelemetryClientsMoveTargetsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessTelemetryClientsMoveTargetsListParams {

    private final UUID clientID;

    private BusinessTelemetryClientsMoveTargetsListParams(Builder builder) {

      this.clientID = builder.clientID;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.clientID = clientID;

      return builder;
    }
    public static final class Builder {

      private UUID clientID;
      public Builder clientID(UUID value) { this.clientID = value; return this; }

      public BusinessTelemetryClientsMoveTargetsListParams build() { return new BusinessTelemetryClientsMoveTargetsListParams(this); }
    }
  }
  private Request<TelemetryMoveTargetList> listRequest(BusinessTelemetryClientsMoveTargetsListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.clientID, "clientID");

    parameters.add(new Request.Parameter("clientID", "path", params.clientID, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/telemetry/clients/{clientID}/move-targets", parameters, null, "", true, "management", false, null, new TypeReference<TelemetryMoveTargetList>() {});
  }
  public TelemetryMoveTargetList list(BusinessTelemetryClientsMoveTargetsListParams params) { return list(params, RequestOptions.DEFAULT); }
  public TelemetryMoveTargetList list(BusinessTelemetryClientsMoveTargetsListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<TelemetryMoveTargetList> listAsync(BusinessTelemetryClientsMoveTargetsListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<TelemetryMoveTargetList> listAsync(BusinessTelemetryClientsMoveTargetsListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }

}
