/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.AgentModelList;
import com.manyforge.sdk.models.Error;
import java.util.UUID;

public class BusinessAgentsProviderModelsResource {
  protected final Transport transport;
  protected final String binding;
  public BusinessAgentsProviderModelsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class BusinessAgentsProviderModelsListParams {

    private final String provider;

    private BusinessAgentsProviderModelsListParams(Builder builder) {

      this.provider = builder.provider;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.provider = provider;

      return builder;
    }
    public static final class Builder {

      private String provider;
      public Builder provider(String value) { this.provider = value; return this; }

      public BusinessAgentsProviderModelsListParams build() { return new BusinessAgentsProviderModelsListParams(this); }
    }
  }
  private Request<AgentModelList> listRequest(BusinessAgentsProviderModelsListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("id", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.provider, "provider");

    parameters.add(new Request.Parameter("provider", "path", params.provider, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/agents/provider-models/{provider}", parameters, null, "", true, "management", false, null, new TypeReference<AgentModelList>() {});
  }
  public AgentModelList list(BusinessAgentsProviderModelsListParams params) { return list(params, RequestOptions.DEFAULT); }
  public AgentModelList list(BusinessAgentsProviderModelsListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<AgentModelList> listAsync(BusinessAgentsProviderModelsListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<AgentModelList> listAsync(BusinessAgentsProviderModelsListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }

}
