/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.PublicPostList;
import com.manyforge.sdk.models.PublicSubmit;
import com.manyforge.sdk.models.PublicSubmitResult;
import com.manyforge.sdk.models.PublicVote;
import com.manyforge.sdk.models.PublicVoteResult;
import java.util.UUID;

public class FeedbackPostsResource {
  protected final Transport transport;
  protected final String binding;
  public FeedbackPostsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class FeedbackPostsListParams {

    private final Integer limit;

    private final String voterIdentity;

    private final String author;

    private FeedbackPostsListParams(Builder builder) {

      this.limit = builder.limit;

      this.voterIdentity = builder.voterIdentity;

      this.author = builder.author;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.limit = limit;

      builder.voterIdentity = voterIdentity;

      builder.author = author;

      return builder;
    }
    public static final class Builder {

      private Integer limit;
      public Builder limit(Integer value) { this.limit = value; return this; }

      private String voterIdentity;
      public Builder voterIdentity(String value) { this.voterIdentity = value; return this; }

      private String author;
      public Builder author(String value) { this.author = value; return this; }

      public FeedbackPostsListParams build() { return new FeedbackPostsListParams(this); }
    }
  }
  private Request<PublicPostList> listRequest(FeedbackPostsListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("key", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    parameters.add(new Request.Parameter("limit", "query", params.limit, ""));

    parameters.add(new Request.Parameter("voter_identity", "query", params.voterIdentity, ""));

    parameters.add(new Request.Parameter("author", "query", params.author, ""));
    return new Request<>("GET", "/api/v1/feedback/public/{key}/posts", parameters, null, "", false, "public", false, null, new TypeReference<PublicPostList>() {});
  }
  public PublicPostList list(FeedbackPostsListParams params) { return list(params, RequestOptions.DEFAULT); }
  public PublicPostList list(FeedbackPostsListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<PublicPostList> listAsync(FeedbackPostsListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<PublicPostList> listAsync(FeedbackPostsListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }
  public PublicPostList list() { return list(FeedbackPostsListParams.builder().build()); }
  public CompletableFuture<PublicPostList> listAsync() { return listAsync(FeedbackPostsListParams.builder().build()); }

  public static final class FeedbackPostsCreateParams {

    private final PublicSubmit publicSubmit;

    private FeedbackPostsCreateParams(Builder builder) {

      this.publicSubmit = builder.publicSubmit;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.publicSubmit = publicSubmit;

      return builder;
    }
    public static final class Builder {

      private PublicSubmit publicSubmit;
      public Builder publicSubmit(PublicSubmit value) { this.publicSubmit = value; return this; }

      public FeedbackPostsCreateParams build() { return new FeedbackPostsCreateParams(this); }
    }
  }
  private Request<PublicSubmitResult> createRequest(FeedbackPostsCreateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("key", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.publicSubmit, "publicSubmit");

    return new Request<>("POST", "/api/v1/feedback/public/{key}/posts", parameters, params.publicSubmit, "application/json", false, "public", false, null, new TypeReference<PublicSubmitResult>() {});
  }
  public PublicSubmitResult create(FeedbackPostsCreateParams params) { return create(params, RequestOptions.DEFAULT); }
  public PublicSubmitResult create(FeedbackPostsCreateParams params, RequestOptions options) { return transport.send(createRequest(params), options); }
  public CompletableFuture<PublicSubmitResult> createAsync(FeedbackPostsCreateParams params) { return createAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<PublicSubmitResult> createAsync(FeedbackPostsCreateParams params, RequestOptions options) { return transport.sendAsync(createRequest(params), options); }

  public static final class FeedbackPostsVoteParams {

    private final UUID postID;

    private final PublicVote publicVote;

    private FeedbackPostsVoteParams(Builder builder) {

      this.postID = builder.postID;

      this.publicVote = builder.publicVote;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.postID = postID;

      builder.publicVote = publicVote;

      return builder;
    }
    public static final class Builder {

      private UUID postID;
      public Builder postID(UUID value) { this.postID = value; return this; }

      private PublicVote publicVote;
      public Builder publicVote(PublicVote value) { this.publicVote = value; return this; }

      public FeedbackPostsVoteParams build() { return new FeedbackPostsVoteParams(this); }
    }
  }
  private Request<PublicVoteResult> voteRequest(FeedbackPostsVoteParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("key", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.postID, "postID");

    parameters.add(new Request.Parameter("postID", "path", params.postID, ""));

    Objects.requireNonNull(params.publicVote, "publicVote");

    return new Request<>("POST", "/api/v1/feedback/public/{key}/posts/{postID}/votes", parameters, params.publicVote, "application/json", false, "public", false, null, new TypeReference<PublicVoteResult>() {});
  }
  public PublicVoteResult vote(FeedbackPostsVoteParams params) { return vote(params, RequestOptions.DEFAULT); }
  public PublicVoteResult vote(FeedbackPostsVoteParams params, RequestOptions options) { return transport.send(voteRequest(params), options); }
  public CompletableFuture<PublicVoteResult> voteAsync(FeedbackPostsVoteParams params) { return voteAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<PublicVoteResult> voteAsync(FeedbackPostsVoteParams params, RequestOptions options) { return transport.sendAsync(voteRequest(params), options); }

}
