/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.MailingIngressError;
import com.manyforge.sdk.models.PublicError;
import com.manyforge.sdk.models.PublicSubscriptionAccepted;
import com.manyforge.sdk.models.PublicSubscriptionForm;
import com.manyforge.sdk.models.PublicSubscriptionInput;

public class MailingMailingResource {
  protected final Transport transport;
  protected final String binding;
  public MailingMailingResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class MailingMailingSubscribeParams {

    private final PublicSubscriptionInput publicSubscriptionInput;

    private MailingMailingSubscribeParams(Builder builder) {

      this.publicSubscriptionInput = builder.publicSubscriptionInput;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.publicSubscriptionInput = publicSubscriptionInput;

      return builder;
    }
    public static final class Builder {

      private PublicSubscriptionInput publicSubscriptionInput;
      public Builder publicSubscriptionInput(PublicSubscriptionInput value) { this.publicSubscriptionInput = value; return this; }

      public MailingMailingSubscribeParams build() { return new MailingMailingSubscribeParams(this); }
    }
  }
  private Request<PublicSubscriptionAccepted> subscribeRequest(MailingMailingSubscribeParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("key", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.publicSubscriptionInput, "publicSubscriptionInput");

    return new Request<>("POST", "/api/v1/mailing/public/{key}/subscribe", parameters, params.publicSubscriptionInput, "application/json", false, "public", false, null, new TypeReference<PublicSubscriptionAccepted>() {});
  }
  public PublicSubscriptionAccepted subscribe(MailingMailingSubscribeParams params) { return subscribe(params, RequestOptions.DEFAULT); }
  public PublicSubscriptionAccepted subscribe(MailingMailingSubscribeParams params, RequestOptions options) { return transport.send(subscribeRequest(params), options); }
  public CompletableFuture<PublicSubscriptionAccepted> subscribeAsync(MailingMailingSubscribeParams params) { return subscribeAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<PublicSubscriptionAccepted> subscribeAsync(MailingMailingSubscribeParams params, RequestOptions options) { return transport.sendAsync(subscribeRequest(params), options); }

}
