/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.AutomationEvent;
import com.manyforge.sdk.models.MailingEventRateLimitError;
import com.manyforge.sdk.models.PublicError;
import com.manyforge.sdk.models.SignedAutomationEventInput;

public class MailingServerMailingEventsResource {
  protected final Transport transport;
  protected final String binding;
  public MailingServerMailingEventsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class MailingServerMailingEventsCreateParams {

    private final SignedAutomationEventInput signedAutomationEventInput;

    private MailingServerMailingEventsCreateParams(Builder builder) {

      this.signedAutomationEventInput = builder.signedAutomationEventInput;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.signedAutomationEventInput = signedAutomationEventInput;

      return builder;
    }
    public static final class Builder {

      private SignedAutomationEventInput signedAutomationEventInput;
      public Builder signedAutomationEventInput(SignedAutomationEventInput value) { this.signedAutomationEventInput = value; return this; }

      public MailingServerMailingEventsCreateParams build() { return new MailingServerMailingEventsCreateParams(this); }
    }
  }
  private Request<AutomationEvent> createRequest(MailingServerMailingEventsCreateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("key", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.signedAutomationEventInput, "signedAutomationEventInput");

    return new Request<>("POST", "/api/v1/mailing/s2s/{key}/events", parameters, params.signedAutomationEventInput, "application/json", false, "server", false, null, new TypeReference<AutomationEvent>() {});
  }
  public AutomationEvent create(MailingServerMailingEventsCreateParams params) { return create(params, RequestOptions.DEFAULT); }
  public AutomationEvent create(MailingServerMailingEventsCreateParams params, RequestOptions options) { return transport.send(createRequest(params), options); }
  public CompletableFuture<AutomationEvent> createAsync(MailingServerMailingEventsCreateParams params) { return createAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<AutomationEvent> createAsync(MailingServerMailingEventsCreateParams params, RequestOptions options) { return transport.sendAsync(createRequest(params), options); }

}
