/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.MailingIngressError;
import com.manyforge.sdk.models.PublicError;
import com.manyforge.sdk.models.PublicSubscriber;
import com.manyforge.sdk.models.S2SSubscriptionInput;

public class MailingServerMailingSubscribersResource {
  protected final Transport transport;
  protected final String binding;
  public MailingServerMailingSubscribersResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class MailingServerMailingSubscribersCreateParams {

    private final S2SSubscriptionInput s2SSubscriptionInput;

    private MailingServerMailingSubscribersCreateParams(Builder builder) {

      this.s2SSubscriptionInput = builder.s2SSubscriptionInput;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.s2SSubscriptionInput = s2SSubscriptionInput;

      return builder;
    }
    public static final class Builder {

      private S2SSubscriptionInput s2SSubscriptionInput;
      public Builder s2SSubscriptionInput(S2SSubscriptionInput value) { this.s2SSubscriptionInput = value; return this; }

      public MailingServerMailingSubscribersCreateParams build() { return new MailingServerMailingSubscribersCreateParams(this); }
    }
  }
  private Request<PublicSubscriber> createRequest(MailingServerMailingSubscribersCreateParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("key", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.s2SSubscriptionInput, "s2SSubscriptionInput");

    return new Request<>("POST", "/api/v1/mailing/s2s/{key}/subscribers", parameters, params.s2SSubscriptionInput, "application/json", false, "server", false, null, new TypeReference<PublicSubscriber>() {});
  }
  public PublicSubscriber create(MailingServerMailingSubscribersCreateParams params) { return create(params, RequestOptions.DEFAULT); }
  public PublicSubscriber create(MailingServerMailingSubscribersCreateParams params, RequestOptions options) { return transport.send(createRequest(params), options); }
  public CompletableFuture<PublicSubscriber> createAsync(MailingServerMailingSubscribersCreateParams params) { return createAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<PublicSubscriber> createAsync(MailingServerMailingSubscribersCreateParams params, RequestOptions options) { return transport.sendAsync(createRequest(params), options); }

  public static final class MailingServerMailingSubscribersDeleteParams {

    private final String email;

    private MailingServerMailingSubscribersDeleteParams(Builder builder) {

      this.email = builder.email;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.email = email;

      return builder;
    }
    public static final class Builder {

      private String email;
      public Builder email(String value) { this.email = value; return this; }

      public MailingServerMailingSubscribersDeleteParams build() { return new MailingServerMailingSubscribersDeleteParams(this); }
    }
  }
  private Request<Void> deleteRequest(MailingServerMailingSubscribersDeleteParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("key", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.email, "email");

    parameters.add(new Request.Parameter("email", "path", params.email, ""));
    return new Request<>("DELETE", "/api/v1/mailing/s2s/{key}/subscribers/{email}", parameters, null, "", false, "server", false, null, new TypeReference<Void>() {});
  }
  public Void delete(MailingServerMailingSubscribersDeleteParams params) { return delete(params, RequestOptions.DEFAULT); }
  public Void delete(MailingServerMailingSubscribersDeleteParams params, RequestOptions options) { return transport.send(deleteRequest(params), options); }
  public CompletableFuture<Void> deleteAsync(MailingServerMailingSubscribersDeleteParams params) { return deleteAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<Void> deleteAsync(MailingServerMailingSubscribersDeleteParams params, RequestOptions options) { return transport.sendAsync(deleteRequest(params), options); }

}
