/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.InvitationAcceptance;
import com.manyforge.sdk.models.TokenRequest;

public class RootInvitationsResource {
  protected final Transport transport;
  protected final String binding;
  public RootInvitationsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class RootInvitationsAcceptParams {

    private final TokenRequest tokenRequest;

    private RootInvitationsAcceptParams(Builder builder) {

      this.tokenRequest = builder.tokenRequest;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.tokenRequest = tokenRequest;

      return builder;
    }
    public static final class Builder {

      private TokenRequest tokenRequest;
      public Builder tokenRequest(TokenRequest value) { this.tokenRequest = value; return this; }

      public RootInvitationsAcceptParams build() { return new RootInvitationsAcceptParams(this); }
    }
  }
  private Request<InvitationAcceptance> acceptRequest(RootInvitationsAcceptParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    Objects.requireNonNull(params.tokenRequest, "tokenRequest");

    return new Request<>("POST", "/api/v1/invitations/accept", parameters, params.tokenRequest, "application/json", true, "management", false, null, new TypeReference<InvitationAcceptance>() {});
  }
  public InvitationAcceptance accept(RootInvitationsAcceptParams params) { return accept(params, RequestOptions.DEFAULT); }
  public InvitationAcceptance accept(RootInvitationsAcceptParams params, RequestOptions options) { return transport.send(acceptRequest(params), options); }
  public CompletableFuture<InvitationAcceptance> acceptAsync(RootInvitationsAcceptParams params) { return acceptAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<InvitationAcceptance> acceptAsync(RootInvitationsAcceptParams params, RequestOptions options) { return transport.sendAsync(acceptRequest(params), options); }

}
