/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.TenantMergeOptions;

public class RootTenantMergesOptionsResource {
  protected final Transport transport;
  protected final String binding;
  public RootTenantMergesOptionsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class RootTenantMergesOptionsListParams {

    private RootTenantMergesOptionsListParams(Builder builder) {

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      return builder;
    }
    public static final class Builder {

      public RootTenantMergesOptionsListParams build() { return new RootTenantMergesOptionsListParams(this); }
    }
  }
  private Request<TenantMergeOptions> listRequest(RootTenantMergesOptionsListParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();
    return new Request<>("GET", "/api/v1/tenant-merge-options", parameters, null, "", true, "management", false, null, new TypeReference<TenantMergeOptions>() {});
  }
  public TenantMergeOptions list(RootTenantMergesOptionsListParams params) { return list(params, RequestOptions.DEFAULT); }
  public TenantMergeOptions list(RootTenantMergesOptionsListParams params, RequestOptions options) { return transport.send(listRequest(params), options); }
  public CompletableFuture<TenantMergeOptions> listAsync(RootTenantMergesOptionsListParams params) { return listAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<TenantMergeOptions> listAsync(RootTenantMergesOptionsListParams params, RequestOptions options) { return transport.sendAsync(listRequest(params), options); }
  public TenantMergeOptions list() { return list(RootTenantMergesOptionsListParams.builder().build()); }
  public CompletableFuture<TenantMergeOptions> listAsync() { return listAsync(RootTenantMergesOptionsListParams.builder().build()); }

}
