/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.MailingReport;
import java.util.UUID;

public class RootMailingReportingResource {
  protected final Transport transport;
  protected final String binding;
  public RootMailingReportingResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class RootMailingReportingGetParams {

    private final UUID businessId;

    private RootMailingReportingGetParams(Builder builder) {

      this.businessId = builder.businessId;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.businessId = businessId;

      return builder;
    }
    public static final class Builder {

      private UUID businessId;
      public Builder businessId(UUID value) { this.businessId = value; return this; }

      public RootMailingReportingGetParams build() { return new RootMailingReportingGetParams(this); }
    }
  }
  private Request<MailingReport> getRequest(RootMailingReportingGetParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("business_id", "query", params.businessId, ""));
    return new Request<>("GET", "/api/v1/mailing/reporting", parameters, null, "", true, "management", false, null, new TypeReference<MailingReport>() {});
  }
  public MailingReport get(RootMailingReportingGetParams params) { return get(params, RequestOptions.DEFAULT); }
  public MailingReport get(RootMailingReportingGetParams params, RequestOptions options) { return transport.send(getRequest(params), options); }
  public CompletableFuture<MailingReport> getAsync(RootMailingReportingGetParams params) { return getAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<MailingReport> getAsync(RootMailingReportingGetParams params, RequestOptions options) { return transport.sendAsync(getRequest(params), options); }
  public MailingReport get() { return get(RootMailingReportingGetParams.builder().build()); }
  public CompletableFuture<MailingReport> getAsync() { return getAsync(RootMailingReportingGetParams.builder().build()); }

}
