/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.InstallURLResponse;
import java.util.UUID;

public class RootGithubAppInstallUrlResource {
  protected final Transport transport;
  protected final String binding;
  public RootGithubAppInstallUrlResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class RootGithubAppInstallUrlGetParams {

    private final UUID id;

    private final UUID agentId;

    private RootGithubAppInstallUrlGetParams(Builder builder) {

      this.id = builder.id;

      this.agentId = builder.agentId;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.id = id;

      builder.agentId = agentId;

      return builder;
    }
    public static final class Builder {

      private UUID id;
      public Builder id(UUID value) { this.id = value; return this; }

      private UUID agentId;
      public Builder agentId(UUID value) { this.agentId = value; return this; }

      public RootGithubAppInstallUrlGetParams build() { return new RootGithubAppInstallUrlGetParams(this); }
    }
  }
  private Request<InstallURLResponse> getRequest(RootGithubAppInstallUrlGetParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    Objects.requireNonNull(params.id, "id");

    parameters.add(new Request.Parameter("id", "path", params.id, ""));

    Objects.requireNonNull(params.agentId, "agentId");

    parameters.add(new Request.Parameter("agent_id", "query", params.agentId, ""));
    return new Request<>("GET", "/api/v1/businesses/{id}/github/app/install-url", parameters, null, "", true, "management", false, null, new TypeReference<InstallURLResponse>() {});
  }
  public InstallURLResponse get(RootGithubAppInstallUrlGetParams params) { return get(params, RequestOptions.DEFAULT); }
  public InstallURLResponse get(RootGithubAppInstallUrlGetParams params, RequestOptions options) { return transport.send(getRequest(params), options); }
  public CompletableFuture<InstallURLResponse> getAsync(RootGithubAppInstallUrlGetParams params) { return getAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<InstallURLResponse> getAsync(RootGithubAppInstallUrlGetParams params, RequestOptions options) { return transport.sendAsync(getRequest(params), options); }

}
