/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.LinkInstallationInput;
import com.manyforge.sdk.models.LinkInstallationResponse;

public class RootGithubAppInstallationsResource {
  protected final Transport transport;
  protected final String binding;
  public RootGithubAppInstallationsResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class RootGithubAppInstallationsLinkParams {

    private final LinkInstallationInput linkInstallationInput;

    private RootGithubAppInstallationsLinkParams(Builder builder) {

      this.linkInstallationInput = builder.linkInstallationInput;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.linkInstallationInput = linkInstallationInput;

      return builder;
    }
    public static final class Builder {

      private LinkInstallationInput linkInstallationInput;
      public Builder linkInstallationInput(LinkInstallationInput value) { this.linkInstallationInput = value; return this; }

      public RootGithubAppInstallationsLinkParams build() { return new RootGithubAppInstallationsLinkParams(this); }
    }
  }
  private Request<LinkInstallationResponse> linkRequest(RootGithubAppInstallationsLinkParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    Objects.requireNonNull(params.linkInstallationInput, "linkInstallationInput");

    return new Request<>("POST", "/api/v1/github/app/installations/link", parameters, params.linkInstallationInput, "application/json", true, "management", false, null, new TypeReference<LinkInstallationResponse>() {});
  }
  public LinkInstallationResponse link(RootGithubAppInstallationsLinkParams params) { return link(params, RequestOptions.DEFAULT); }
  public LinkInstallationResponse link(RootGithubAppInstallationsLinkParams params, RequestOptions options) { return transport.send(linkRequest(params), options); }
  public CompletableFuture<LinkInstallationResponse> linkAsync(RootGithubAppInstallationsLinkParams params) { return linkAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<LinkInstallationResponse> linkAsync(RootGithubAppInstallationsLinkParams params, RequestOptions options) { return transport.sendAsync(linkRequest(params), options); }

}
