/*
 * ManyForge API
 * Current implemented ManyForge application API. Configure an explicit instance-root URL. Management uses bearer access JWTs; public keys and server signatures have separate capabilities. Optional modules remain documented when disabled; their unavailable routes return real HTTP errors. Errors may be non-JSON at an intermediary; empty 202/204 responses contain no model. No SSE interface is implemented.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.manyforge.sdk.resources;

import com.manyforge.sdk.*;
import com.manyforge.sdk.models.*;
import com.fasterxml.jackson.core.type.TypeReference;
import java.util.*;
import java.util.concurrent.CompletableFuture;
import java.io.InputStream;
import java.time.*;
import java.math.BigDecimal;
import com.manyforge.sdk.models.Error;
import com.manyforge.sdk.models.PublicDataError;
import com.manyforge.sdk.models.PublicError;
import com.manyforge.sdk.models.TelemetryIngestRequest;
import com.manyforge.sdk.models.TelemetryIngestResult;

public class TelemetryTelemetryResource {
  protected final Transport transport;
  protected final String binding;
  public TelemetryTelemetryResource(Transport transport, String binding) {
    this.transport = Objects.requireNonNull(transport);
    this.binding = binding;
  }

  public static final class TelemetryTelemetryIngestParams {

    private final TelemetryIngestRequest telemetryIngestRequest;

    private TelemetryTelemetryIngestParams(Builder builder) {

      this.telemetryIngestRequest = builder.telemetryIngestRequest;

    }
    public static Builder builder() { return new Builder(); }
    public Builder toBuilder() {
      Builder builder = new Builder();

      builder.telemetryIngestRequest = telemetryIngestRequest;

      return builder;
    }
    public static final class Builder {

      private TelemetryIngestRequest telemetryIngestRequest;
      public Builder telemetryIngestRequest(TelemetryIngestRequest value) { this.telemetryIngestRequest = value; return this; }

      public TelemetryTelemetryIngestParams build() { return new TelemetryTelemetryIngestParams(this); }
    }
  }
  private Request<TelemetryIngestResult> ingestRequest(TelemetryTelemetryIngestParams params) {
    Objects.requireNonNull(params, "params");
    List<Request.Parameter> parameters = new ArrayList<>();

    parameters.add(new Request.Parameter("key", "path", Objects.requireNonNull(binding, "resource binding"), ""));

    Objects.requireNonNull(params.telemetryIngestRequest, "telemetryIngestRequest");

    return new Request<>("POST", "/api/v1/telemetry/ingest/{key}", parameters, params.telemetryIngestRequest, "application/json", false, "public", false, null, new TypeReference<TelemetryIngestResult>() {});
  }
  public TelemetryIngestResult ingest(TelemetryTelemetryIngestParams params) { return ingest(params, RequestOptions.DEFAULT); }
  public TelemetryIngestResult ingest(TelemetryTelemetryIngestParams params, RequestOptions options) { return transport.send(ingestRequest(params), options); }
  public CompletableFuture<TelemetryIngestResult> ingestAsync(TelemetryTelemetryIngestParams params) { return ingestAsync(params, RequestOptions.DEFAULT); }
  public CompletableFuture<TelemetryIngestResult> ingestAsync(TelemetryTelemetryIngestParams params, RequestOptions options) { return transport.sendAsync(ingestRequest(params), options); }

}
